Backup_2026-07-24/Nano Banana Pro.json
{
  "updatedAt": "2026-05-09T11:37:03.126Z",
  "createdAt": "2026-05-09T11:37:03.126Z",
  "id": "6c4iVngBmg1txk42",
  "name": "Nano Banana Pro",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        736,
        2192
      ],
      "id": "2bdd4ed0-42ec-460c-92d1-890e6aa4d867",
      "name": "1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1536,
        448
      ],
      "id": "21c5b920-9f00-4596-ac70-d659ec92e064",
      "name": "Wait",
      "webhookId": "8363f037-4a20-4f6b-9c5c-780dfb313864"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer e2c94b7cc078a571657f393be46d9653"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"1:1\",\n    \"resolution\": \"4K\",\n    \"output_format\": \"png\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1696,
        448
      ],
      "id": "635b1420-e39e-408e-b74f-e89d8d901a28",
      "name": "Create Image"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer e2c94b7cc078a571657f393be46d9653"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1376,
        448
      ],
      "id": "a567c525-efe5-4e73-a812-49fa9e84128e",
      "name": "Get Image"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da65ddff-3d03-4e66-8b38-3074bc7f7093",
              "name": "prompt",
              "value": "={{ $json['Please describe your desired image:'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1856,
        448
      ],
      "id": "c36f9a57-8e2b-4b73-b8c2-a5d4cde7ee34",
      "name": "Image Prompt"
    },
    {
      "parameters": {
        "content": "##  Text to Image\n",
        "height": 272,
        "width": 1280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2096,
        368
      ],
      "id": "cfdfdecd-d98b-4163-b6ed-0a418fe73431",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Image to Image\n",
        "height": 272,
        "width": 1280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2096,
        672
      ],
      "id": "fd658e46-86da-4841-8d00-f706d65398a2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1536,
        768
      ],
      "id": "89bfa993-8709-40c9-8755-b0944e66bdf7",
      "name": "Wait1",
      "webhookId": "8363f037-4a20-4f6b-9c5c-780dfb313864"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer e2c94b7cc078a571657f393be46d9653"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1376,
        768
      ],
      "id": "2cdfa2fb-2e00-4cde-98bc-d6bcaae0f498",
      "name": "Get Image1"
    },
    {
      "parameters": {
        "formTitle": "Image to Image",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Image Prompt",
              "requiredField": true
            },
            {
              "fieldLabel": "Image",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -2016,
        768
      ],
      "id": "841cf265-8821-46be-8568-3745d4db6f6e",
      "name": "On form submission",
      "webhookId": "f3664016-8197-4892-8137-a9c71fa7b1ec"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "81816ce82918102bfe5a913189788faa"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1856,
        768
      ],
      "id": "b8ede5c5-aa57-4b28-905c-60fc81d024ea",
      "name": "Get URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer e2c94b7cc078a571657f393be46d9653"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $('On form submission').item.json['Image Prompt'] }}\",\n    \"aspect_ratio\": \"1:1\",\n    \"resolution\": \"4K\",\n    \"output_format\": \"png\",\n    \"image_input\": [\n      \"{{ $json.data.url }}\"\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1696,
        768
      ],
      "id": "271ae733-1771-4f7e-a57d-c236c51c51d1",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "content": "## Multiple Images to Image\n",
        "height": 272,
        "width": 1296,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2112,
        976
      ],
      "id": "c533f2e2-0d8e-4e1b-82b4-7194afe240de",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1536,
        1056
      ],
      "id": "7a37bcd4-fd7b-4d0b-8fbf-c4af464d4439",
      "name": "Wait2",
      "webhookId": "8363f037-4a20-4f6b-9c5c-780dfb313864"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer e2c94b7cc078a571657f393be46d9653"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1376,
        1056
      ],
      "id": "60483194-388d-41aa-8204-1ae1ff7e9376",
      "name": "Get Image2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer e2c94b7cc078a571657f393be46d9653"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"1:1\",\n    \"resolution\": \"4K\",\n    \"output_format\": \"png\",\n    \"image_input\": [\n      \"{{ $json.image1 }}\",\n      \"{{ $json.image2 }}\",\n      \"{{ $json.image3 }}\"\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1696,
        1056
      ],
      "id": "ee721b7c-c0e9-4b1c-bb45-32655524f091",
      "name": "Edit Images"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5346dc9-b2c3-405d-aa78-a844b4332cd9",
              "name": "image",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        448
      ],
      "id": "4176bd94-d07e-4728-83dd-ef1b2b49a1d8",
      "name": "Result"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5346dc9-b2c3-405d-aa78-a844b4332cd9",
              "name": "image",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        768
      ],
      "id": "3469edd7-67c9-4c62-a910-41eb84089b4c",
      "name": "Result1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5346dc9-b2c3-405d-aa78-a844b4332cd9",
              "name": "image",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        1056
      ],
      "id": "45c390d3-1568-40ad-9682-7ebf5afd9724",
      "name": "Result2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36031878-8176-430b-a310-b4616bc06a98",
              "name": "prompt",
              "value": "Insert the image into the template instagram post provided. Create instagram visual to accompany the following post: 5 Fun Winter Activities For Families With Senior Members - Winter days can be the perfect time to create special memories with your loved ones, including seniors. ❄️ From cozy indoor games to gentle walks in the snow, our latest blog offers 5 meaningful activities that bring families closer while keeping everyone safe and engaged. At Right at Home Winnipeg, we believe every moment counts—especially during the colder months. Enjoy simple joys together that warm the heart and brighten the season. 💙 Visit our blog to discover ideas tailored for families with senior members. Reach out to see how we can support your family’s care journey. (204) 318-5554  Read more here: https://www.rightathomecanada.com/winnipeg/blog/5-fun-winter-activities-for-families-with-senior-members  #dementiacare #alzheimerscare #seniors #familytime #RightAtHomeWinnipeg",
              "type": "string"
            },
            {
              "id": "0b5c15ca-9d20-4788-adfa-41d5ae9af93a",
              "name": "image1",
              "value": "https://ibb.co/nqMvbfC9",
              "type": "string"
            },
            {
              "id": "7dc2ffbc-fe0f-4809-80f9-d353d50f70cf",
              "name": "image2",
              "value": "https://ibb.co/8LPg4Zm9",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1856,
        1056
      ],
      "id": "02c229cb-c604-4a93-8e9d-69e6b23354a3",
      "name": "Prompt/Images"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2016,
        1056
      ],
      "id": "c507ba7e-63f4-407c-b463-8992d89b645b",
      "name": "1-1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5d365e2d-6c1d-48fd-b1e1-dc6ed403e684"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b233b687-f81c-428e-bce7-459684a6a34b",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "waiting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69d8ccbf-d327-4705-9159-b7be48f99e73",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1200,
        432
      ],
      "id": "995717c2-9b36-4ac0-8b2f-bc76a6abfcd8",
      "name": "Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5d365e2d-6c1d-48fd-b1e1-dc6ed403e684"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b233b687-f81c-428e-bce7-459684a6a34b",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a568dc7b-9ab8-453c-889c-674f15ee4812",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "waiting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "waiting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69d8ccbf-d327-4705-9159-b7be48f99e73",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1216,
        752
      ],
      "id": "3435bb91-75c8-4012-9ef1-cab7ad1c88f0",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5d365e2d-6c1d-48fd-b1e1-dc6ed403e684"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b233b687-f81c-428e-bce7-459684a6a34b",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69d8ccbf-d327-4705-9159-b7be48f99e73",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1216,
        1040
      ],
      "id": "335d7d7c-8ccd-42ca-9cc6-4c8035345dd0",
      "name": "Switch2"
    },
    {
      "parameters": {
        "content": "# 🛠️ Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow these steps to get the workflow up and running:\n\n### ✅ Step 1: Get Your [KIE API Key](https://kie.ai)  \nHead to [kie.ai](https://kie.ai) and grab your API key. Then, plug this key into all HTTP Request nodes that point to **kie.ai**.\n\n### ✅ Step 2: Get Your [IMGBB API Key](https://imgbb.com/)  \nVisit [imgbb.com](https://imgbb.com/) to generate your API key. Add this key to the HTTP Request that hits the Git image URL endpoint.\n\n### 🎯 Final Step: Experiment & Refine  \nStart testing different prompts and images. Adjust inputs and refine based on results until you're happy with the workflow's output.\n",
        "height": 464,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2752,
        368
      ],
      "id": "d60663e0-ec6d-446a-9677-9a49d7569747",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        1984
      ],
      "id": "c7b902f5-648a-4d19-8cf0-d9450a82d991",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "formTitle": "Nano Banana Pro",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Please describe your desired image:",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -2048,
        448
      ],
      "id": "0b28a2bb-cd91-4a88-a567-9971a916c5cb",
      "name": "On form submission1",
      "webhookId": "7516403a-813c-4ec5-80e7-f4abc9a796e9"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "8a312310-ace2-4bee-b752-ad12289dfa5c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2032,
        2272
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "0f46db66-d749-4d76-80e6-82bf58a31d54",
      "name": "Think",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        -1888,
        2272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"string\",\n  \"final_prompt\": \"string\"\n}\n"
      },
      "id": "ee385a32-e423-4d07-8364-d62c7aaeaa97",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -1744,
        2272
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc2e0500-57b1-4615-82cb-1c950e5f2ec4",
              "name": "json_master",
              "type": "string",
              "value": "={\n  \"description\": \"Brief narrative description of the scene, focusing on key visual storytelling and product transformation.\",\n  \"style\": \"cinematic | photorealistic | stylized | gritty | elegant\",\n  \"camera\": {\n    \"type\": \"fixed | dolly | Steadicam | crane combo\",\n    \"movement\": \"describe any camera moves like slow push-in, pan, orbit\",\n    \"lens\": \"optional lens type or focal length for cinematic effect\"\n  },\n  \"lighting\": {\n    \"type\": \"natural | dramatic | high-contrast\",\n    \"sources\": \"key lighting sources (sunset, halogen, ambient glow...)\",\n    \"FX\": \"optional VFX elements like fog, reflections, flares\"\n  },\n  \"environment\": {\n    \"location\": \"describe location or room (kitchen, desert, basketball court...)\",\n    \"set_pieces\": [\n      \"list of key background or prop elements\",\n      \"e.g. hardwood floors, chain-link fence, velvet surface\"\n    ],\n    \"mood\": \"describe the ambient atmosphere (moody, clean, epic...)\"\n  },\n  \"elements\": [\n    \"main physical items involved (product box, accessories, vehicles...)\",\n    \"include brand visibility (logos, packaging, texture...)\"\n  ],\n  \"subject\": {\n    \"character\": {\n      \"description\": \"optional – physical description, outfit\",\n      \"pose\": \"optional – position or gesture\",\n      \"lip_sync_line\": \"optional – spoken line if there’s a voiceover\"\n    },\n    \"product\": {\n      \"brand\": \"Brand name\",\n      \"model\": \"Product model or name\",\n      \"action\": \"description of product transformation or assembly\"\n    }\n  },\n  \"motion\": {\n    \"type\": \"e.g. transformation, explosion, vortex\",\n    \"details\": \"step-by-step visual flow of how elements move or evolve\"\n  },\n  \"VFX\": {\n    \"transformation\": \"optional – describe style (neon trails, motion blur...)\",\n    \"impact\": \"optional – e.g. shockwave, glow, distortion\",\n    \"particles\": \"optional – embers, sparks, thread strands...\",\n    \"environment\": \"optional – VFX affecting the scene (ripples, wind...)\"\n  },\n  \"audio\": {\n    \"music\": \"optional – cinematic score, trap beat, ambient tone\",\n    \"sfx\": [\n      \"list of sound effects (zip, pop, woosh...)\"\n    ],\n    \"ambience\": \"optional – background soundscape (traffic, wind...)\",\n    \"voiceover\": {\n      \"delivery\": \"tone and style (confident, whisper, deep...)\",\n      \"line\": \"text spoken if applicable\"\n    }\n  },\n  \"ending\": \"Final shot description – what is seen or felt at the end (freeze frame, logo pulse, glow...)\",\n  \"text\": \"none | overlay | tagline | logo pulse at end only\",\n  \"format\": \"16:9 | 4k | vertical\",\n  \"keywords\": [\n    \"brand\",\n    \"scene style\",\n    \"motion type\",\n    \"camera style\",\n    \"sound mood\",\n    \"target theme\"\n  ]\n}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "6cd716c7-edc0-452f-bdf1-afb521791e52",
      "name": "Set Master Prompt",
      "type": "n8n-nodes-base.set",
      "position": [
        -2272,
        2048
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a UGC-style video prompt using both the reference image and the user description.  \n\n**Inputs**  \n- User description (optional):  \n  `{{ $('Telegram Trigger: Receive Video Idea').item.json.message.caption }}`  \n- Reference image analysis (stay strictly faithful to what’s visible):  \n  `{{ $('Google Sheets: Update Image Description').item.json['IMAGE DESCRIPTION'] }}`  \n\n**Rules**  \n- Keep the style casual, authentic, and realistic. Avoid studio-like or cinematic language.  \n- Default model: `veo3_fast` (unless otherwise specified).  \n- Output only **one JSON object** with the key: `video_prompt`.  \n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt:\n  ## SYSTEM PROMPT: Structured Video Ad Prompt Generator\n  A - Ask:\n    Generate a structured video ad prompt for cinematic generation, strictly based on the master schema provided in: {{ $json.json_master }}.\n    The final result must be a JSON object with exactly two top-level keys: `title` and `final_prompt`.\n\n  G - Guidance:\n    role: Creative Director\n    output_count: 1\n    character_limit: None\n    constraints:\n      - The output must be valid JSON.\n      - The `title` field should contain a short, descriptive and unique title (max 15 words).\n      - The `final_prompt` field must contain a **single-line JSON string** that follows the exact structure of {{ $json.json_master }} with all fields preserved.\n      - Do not include any explanations, markdown, or extra text — only the JSON object.\n      - Escape all inner quotes in the `final_prompt` string so it is valid as a stringified JSON inside another JSON.\n    tool_usage:\n      - Ensure consistent alignment across all fields (camera, lighting, motion, etc.).\n      - Maintain full structure even for optional fields (use \"none\", \"\", or [] as needed).\n\n  N - Notation:\n    format: JSON\n    expected_output:\n      {\n        \"title\": \"A unique short title for the scene\",\n        \"final_prompt\": \"{...stringified JSON of the full prompt...}\"\n      }\n\n"
        }
      },
      "id": "19cd0944-d243-41c6-85e7-da1e4ad0c6f6",
      "name": "AI Agent: Generate Video Script",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1952,
        2048
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"prompt\": {{ $json.prompt }},\n  \"model\": \"{{ $('Google Sheets: Read Video Parameters (CONFIG)').item.json.model }}\",\n  \"aspectRatio\": \"{{ $json.aspectRatio }}\",\n  \"imageUrls\": [\n    \"{{ $('Download Edited Image').item.json.images[0].url }}\"\n  ]\n}",
        "options": {}
      },
      "id": "f7ddac76-9e1f-419d-b767-9e1b5a771c08",
      "name": "Generate Video with VEO3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2672,
        2560
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 20
      },
      "id": "b4284948-bbbf-48fc-8d63-ca9d519583f3",
      "name": "Wait for VEO3 Rendering",
      "type": "n8n-nodes-base.wait",
      "position": [
        -2464,
        2560
      ],
      "webhookId": "f6d814f3-4eb8-4629-a920-134cfa4ea03b",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Generate Video with VEO3').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "45ab588e-ea72-4a54-a8cb-ae2b11d87686",
      "name": "Download Video from VEO3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2256,
        2560
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=You are rewriting a TikTok video script, caption, and overlay —\nnot inventing a new one. You must follow this format and obey\nthese rules strictly.\n---\n### CONTEXT:\nHere is the content idea to use:{{ $('Telegram Trigger: Receive Video Idea').item.json.message.caption }}\n\nand the Title is : {{ $('AI Agent: Generate Video Script').item.json.output.title }}\n\n\nWrite the caption text using the topic.\n\n---\n- MUST be under 200 characters (yes \"Characters\" not wordcount)\nthis is an absolute MUST, no more than 200 characters!!! \n\n### FINAL OUTPUT FORMAT (no markdown formatting):\n\nDO NOT return any explanations. Only return the Caption Text\n"
            }
          ]
        },
        "options": {}
      },
      "id": "f5b70d67-cd7e-45e4-9792-05ec17fed8a9",
      "name": "Rewrite Caption with GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -2096,
        2560
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "columns": {
          "value": {
            "STATUS": "CREATE",
            "IMAGE NAME": "={{ $('Telegram Trigger: Receive Video Idea').item.json.message.photo[2].file_unique_id }}",
            "TITRE VIDEO": "={{ $('AI Agent: Generate Video Script').item.json.output.title }}",
            "CAPTION VIDEO": "={{ $json.message.content }}",
            "URL VIDEO FINAL": "={{ $('Download Video from VEO3').item.json.data.response.resultUrls[0] }}"
          },
          "schema": [
            {
              "id": "IMAGE NAME",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "IMAGE NAME",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "IMAGE URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "IMAGE URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "IMAGE DESCRIPTION",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "IMAGE DESCRIPTION",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CAPTION",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "CAPTION",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO FINAL",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "URL VIDEO FINAL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "TITRE VIDEO",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "TITRE VIDEO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CAPTION VIDEO",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "CAPTION VIDEO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "STATUS",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "IMAGE NAME"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7756189a-aeb6-4135-8a95-938aa008734c",
      "name": "Save Caption Video to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -1792,
        2560
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "jsCode": "const structuredPrompt = $input.first().json.output.final_prompt;\nreturn {\n  json: {\n    prompt: JSON.stringify(structuredPrompt), // this escapes it correctly!\n    model: \"veo3_fast\",\n    aspectRatio: \"16:9\"\n  }\n};\n"
      },
      "id": "dac46f63-2c37-42bd-a06e-db98cb4933f9",
      "name": "Format Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        -2672,
        2256
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "# 📑 STEP 4 — Generate Video with VEO3",
        "height": 320,
        "width": 1180
      },
      "id": "9b1282f8-e26e-4418-869f-3171b65f88a7",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2784,
        2448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "48025ee3-6cb5-4509-aa11-ae12096d9bca",
      "name": "Download Edited Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1552,
        1728
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "options": {}
      },
      "id": "44f85049-42bd-4052-a1fc-93c0500d1acd",
      "name": "Google Sheets: Read Video Parameters (CONFIG)",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -2480,
        2048
      ],
      "typeVersion": 4.6,
      "disabled": true
    },
    {
      "parameters": {
        "content": "# 📑 STEP 3 — Generate Video Ad Script",
        "height": 460,
        "width": 1180
      },
      "id": "2f539603-5acc-4ee3-b8e6-661df7bc29f2",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2784,
        1936
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Image to Image\n",
        "height": 272,
        "width": 1136,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2768,
        1600
      ],
      "id": "a2c7f0b0-a158-4e9b-adc8-242e2bd4f780",
      "name": "Sticky Note7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2352,
        1696
      ],
      "id": "75a74bd9-ada5-46e6-a811-110943cf6608",
      "name": "Wait3",
      "webhookId": "8363f037-4a20-4f6b-9c5c-780dfb313864"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer c58fb3ab497a524333c3837f53e73f5e"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2192,
        1696
      ],
      "id": "91c4632c-9911-4a2f-9d66-5f4046249f99",
      "name": "Get Image3"
    },
    {
      "parameters": {
        "formTitle": "Image to Image",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Image Prompt",
              "requiredField": true
            },
            {
              "fieldLabel": "Image (please ensure that this is a public url for the image)",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -2880,
        1696
      ],
      "id": "4d42dd88-db10-4019-8caf-371bec1a1c16",
      "name": "On form submission2",
      "webhookId": "36822a51-ab64-4c07-94c8-a90e2b3153ee"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer c58fb3ab497a524333c3837f53e73f5e"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $('On form submission2').item.json['Image Prompt'] }}\",\n    \"aspect_ratio\": \"1:1\",\n    \"resolution\": \"4K\",\n    \"output_format\": \"png\",\n    \"image_input\": [\n      \"{{ $json.data.url }}\"\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2512,
        1696
      ],
      "id": "a2aad26e-b9ef-4c92-ba67-60dba30535a0",
      "name": "Edit Image1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5346dc9-b2c3-405d-aa78-a844b4332cd9",
              "name": "image",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        1696
      ],
      "id": "b21dd86b-1e2b-42e6-947b-da53f90fa2e6",
      "name": "Result3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5d365e2d-6c1d-48fd-b1e1-dc6ed403e684"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b233b687-f81c-428e-bce7-459684a6a34b",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69d8ccbf-d327-4705-9159-b7be48f99e73",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2032,
        1680
      ],
      "id": "5b917a8f-5f72-466f-a0b7-fb07561db109",
      "name": "Switch3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1632,
        656
      ],
      "id": "876beb77-f1ca-4892-88ad-ce15239f1000",
      "name": "Wait4",
      "webhookId": "8363f037-4a20-4f6b-9c5c-780dfb313864"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer e2c94b7cc078a571657f393be46d9653"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1792,
        656
      ],
      "id": "e5bef013-0db8-4a4d-9ceb-9ad0400103f8",
      "name": "Get Image4"
    },
    {
      "parameters": {
        "formTitle": "Image to Image",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Image Prompt",
              "requiredField": true
            },
            {
              "fieldLabel": "Image 1",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            },
            {
              "fieldLabel": "Image 2",
              "fieldType": "file",
              "multipleFiles": false
            },
            {
              "fieldLabel": "Image 3",
              "fieldType": "file",
              "multipleFiles": false
            },
            {
              "fieldLabel": "Image 4",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        2144,
        1712
      ],
      "id": "ffa6a121-355a-4e27-9af7-0e00d5841a1b",
      "name": "On form submission3",
      "webhookId": "04d19215-5a57-45e3-81c4-0c4860dfcf09"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "81816ce82918102bfe5a913189788faa"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "Image_1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        208
      ],
      "id": "c617a277-112a-4c8e-9a30-c959e95d03d4",
      "name": "Get URL1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer e2c94b7cc078a571657f393be46d9653"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        656
      ],
      "id": "cda9c9ee-084a-4809-b839-34c05d0a5045",
      "name": "Edit Image2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5346dc9-b2c3-405d-aa78-a844b4332cd9",
              "name": "image",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        656
      ],
      "id": "eafa41af-86d5-4fad-85e1-ade39612f62a",
      "name": "Result4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5d365e2d-6c1d-48fd-b1e1-dc6ed403e684"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b233b687-f81c-428e-bce7-459684a6a34b",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a568dc7b-9ab8-453c-889c-674f15ee4812",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "waiting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "waiting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69d8ccbf-d327-4705-9159-b7be48f99e73",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1952,
        640
      ],
      "id": "79af9ee8-092e-4bb8-8c53-836939bbefa5",
      "name": "Switch4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Task for this run — follow these steps exactly:\n\n1) Read the current incoming item.\n   - Extract the prompt text from the field named exactly: `Image Prompt`.\n   - Gather images in this exact order by checking the fields `Image 1`, `Image 2`, `Image 3`, `Image 4` (use whichever exist and are not null, in numeric order).\n\n2) For each gathered image:\n   - If the field value is a string starting with `http://` or `https://`, treat it as a public URL and include it unchanged.\n   - Otherwise (the field is an object/attachment or indicates a binary upload):\n     • Locate the binary data for that image in `$binary` using the exact same key name (e.g. `$binary[\"Image 1\"]`). If `$binary[\"Image 1\"]` does not exist, also try `$binary[\"Image1\"]` as a fallback.\n     • Send the binary data to the workflow’s configured HTTP upload node (the node that uploads to imgbb). Use the public URL returned by that node.\n     • Retry the upload up to 2 times on transient errors. If still failing, skip that image (do not include a placeholder).\n3) Build the final JSON object exactly in this format (with real values substituted):\n{\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"<exact value of Image Prompt from the incoming item>\",\n    \"aspect_ratio\": \"1:1\",\n    \"resolution\": \"4K\",\n    \"output_format\": \"png\",\n    \"image_input\": [\n      \"<public_url_for_Image_1_if_present_and_succeeded>\",\n      \"<public_url_for_Image_2_if_present_and_succeeded>\",\n      ...\n    ]\n  }\n}\n- `image_input` must list only the public URLs (strings) for images that were present and successfully resolved/uploaded, in the order `Image 1` → `Image 2` → `Image 3` → `Image 4`.\n- If an image field was null, missing, or its upload failed after retries, do not include an entry for it.\n- If all images fail or none were provided, `image_input` should be an empty array.\n\n4) Final output requirements:\n   - Output **only** the single JSON object (nothing else).\n   - Ensure valid JSON (proper quotes, commas, no trailing commas).\n   - Do not include any other keys or metadata.\n\n----------------------------\n\nIncoming data from a form submission:\n\nTEXT PROMPT:\n{{ $json[\"Image Prompt\"] }}\n\nIMAGES (in order):\nImage 1: {{ $json[\"Image 1\"] }}\nImage 2: {{ $json[\"Image 2\"] }}\nImage 3: {{ $json[\"Image 3\"] }}\nImage 4: {{ $json[\"Image 4\"] }}\n\n----------------------------\n\nInstructions:\n- Use the TEXT PROMPT exactly as provided.\n- Process images strictly in order: Image 1 → Image 4.\n- Ignore any image that is null.\n- Upload non-public images using the imgbb HTTP upload node and collect the returned public URLs.\n- Output ONLY the final JSON object in the required format.\n\nProceed now and output the single JSON object as specified.\n",
        "options": {
          "systemMessage": "=You are an n8n AI Agent whose single job is to convert incoming form images to public image URLs (via an existing HTTP upload node that uploads to imgbb) and produce exactly one JSON object as the final output.\n\nHard rules (follow exactly):\n1. Output **only** a single valid JSON object and nothing else (no explanations, logs, markdown, or extra text).\n2. The JSON must follow this schema exactly:\n{\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"<original form prompt string>\",\n    \"aspect_ratio\": \"1:1\",\n    \"resolution\": \"4K\",\n    \"output_format\": \"png\",\n    \"image_input\": [ \"<public_url_for_image_1>\", \"<public_url_for_image_2>\", ... ]\n  }\n}\n3. `image_input` must contain only the public URLs (strings) for images that were actually provided and succeeded, in this specific order: the value of `Image 1` (if present and not null), then `Image 2`, then `Image 3`, then `Image 4`. Do NOT include nulls, empty strings, or placeholders.\n4. If any Image field already contains a public URL (string starting with `http://` or `https://`), include it unchanged (do not re-upload).\n5. If an Image field is not a public URL, you must upload that image to the workflow’s preconfigured HTTP upload node (the node that posts to imgbb) and use the public URL returned by that node.\n6. For each upload, retry up to 2 times on transient failures. If it still fails, omit that image and continue (do not insert a placeholder).\n7. Preserve the original prompt text exactly as provided in the form field named `Image Prompt`. Put that exact string into the `prompt` field — do not alter it.\n8. Always set the fixed fields exactly as shown: `\"aspect_ratio\": \"1:1\"`, `\"resolution\": \"4K\"`, `\"output_format\": \"png\"`.\n9. Ensure final output is syntactically valid JSON (proper quoting, no trailing commas).\n10. If no `Image Prompt` exists in the incoming item, do not output anything (agent should return an empty string).\n\nAssumptions about the incoming item (the workflow will provide one item):\n- The incoming item contains the text prompt under the key exactly named `Image Prompt`.\n- Images are provided as fields named exactly `Image 1`, `Image 2`, `Image 3`, `Image 4`. Any of these may be `null` or absent.\n- An `Image X` field may be:\n  • a public URL string (starts with `http`), OR  \n  • an object with metadata (e.g. `{\"filename\":\"...\",\"mimetype\":\"...\",\"size\":...}`) with corresponding binary data available in `$binary[\"Image 1\"]` (or similarly keyed `$binary` entry), OR  \n  • the workflow may place binary data directly in `$binary` keyed by the same exact field name (e.g. `$binary[\"Image 2\"]`).\n- The agent should first check the `Image 1`→`Image 4` fields in numeric order and use them if present; if an image field is an object or indicates a binary upload, obtain the binary data from the `$binary` property with the same exact key name (try exact key `\"Image 1\"` and also try `\"Image1\"` as a fallback if the environment removes spaces).\n\nDo not print HTTP responses, debugging data, or any other text. Only output the final JSON object as specified.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2544,
        48
      ],
      "id": "5f3b3e8d-b529-4ca5-a2e9-f4365df7cabe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "81816ce82918102bfe5a913189788faa"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Name', ``, 'string') }}",
              "inputDataFieldName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Input_Data_Field_Name', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2720,
        272
      ],
      "id": "956ef025-d928-4b25-bc36-1abcfca20f49",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2512,
        272
      ],
      "id": "edfee5c1-4874-4ab6-91d9-40888607c09e",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "81816ce82918102bfe5a913189788faa"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "Image_2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        400
      ],
      "id": "f25afc31-d3da-4ad1-b547-3dd5375ac93d",
      "name": "Get URL2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3b68b65e-c8d9-45a7-b49c-d1490fe12e7a",
              "leftValue": "={{ $json['Image 2'] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        496
      ],
      "id": "0ad173cb-fb74-4438-9f22-8af35d069089",
      "name": "If1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "81816ce82918102bfe5a913189788faa"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "Image_3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        720
      ],
      "id": "e6631c63-dd1c-419a-8e53-2b1a2f64a7be",
      "name": "Get URL3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3b68b65e-c8d9-45a7-b49c-d1490fe12e7a",
              "leftValue": "={{ $json['Image 3'] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        800
      ],
      "id": "51c49638-4ed5-4e58-9e54-f4ad360783f2",
      "name": "If2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "81816ce82918102bfe5a913189788faa"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "Image_4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        1040
      ],
      "id": "0154cfc3-63bb-4c6b-96c5-8ca24a2f8452",
      "name": "Get URL4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3b68b65e-c8d9-45a7-b49c-d1490fe12e7a",
              "leftValue": "={{ $json['Image 4'] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        1136
      ],
      "id": "0e816a3d-ed5f-4b03-bafa-5fca2d3bf35b",
      "name": "If3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1501d1f-6e89-4fdc-b5e8-f1c109821ab3",
              "name": "image_1_url",
              "value": "=\n      \"{{ $json.data.url }}\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        208
      ],
      "id": "cd77892a-a5e2-4279-a655-c09ef2c2c747",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1501d1f-6e89-4fdc-b5e8-f1c109821ab3",
              "name": "image_2_url",
              "value": "=,\n      \"{{ $json.data.url }}\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        400
      ],
      "id": "6c820c9b-7794-489d-8d14-1c6c349fae2d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1501d1f-6e89-4fdc-b5e8-f1c109821ab3",
              "name": "image_3_url",
              "value": "=,\n      \"{{ $json.data.url }}\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        720
      ],
      "id": "628e8b73-3284-4af9-bd87-e9e5161759d5",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1501d1f-6e89-4fdc-b5e8-f1c109821ab3",
              "name": "image_4_url",
              "value": "=,\n      \"{{ $json.data.url }}\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        1040
      ],
      "id": "063b1ce9-7e7e-4ad7-80f2-d0d2cf5d35f6",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6616974-9462-4d52-be05-9cf0a0dbf6cd",
              "name": "image_3_url",
              "value": "={{ \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        896
      ],
      "id": "f629c13b-a137-49f1-ad9d-771158ae636f",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6616974-9462-4d52-be05-9cf0a0dbf6cd",
              "name": "image_4_url",
              "value": "={{ \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        1216
      ],
      "id": "ebf91f34-a9f8-4fba-b0ad-f609f45805e1",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet prompt = \"\";\nconst urls = [];\n\nfunction extractUrl(str) {\n  if (!str) return null;\n  const m = String(str).match(/https?:\\/\\/[^\\s\",\\]\\)]+/i);\n  return m ? m[0] : null;\n}\n\nfor (const item of items) {\n  const j = item.json || {};\n\n  if (!prompt && j[\"Image Prompt\"]) {\n    prompt = j[\"Image Prompt\"];\n  }\n\n  for (const key of Object.keys(j)) {\n    const maybe = extractUrl(j[key]);\n    if (maybe && !urls.includes(maybe)) {\n      urls.push(maybe);\n    }\n  }\n}\n\nconst payloadObject = {\n  model: \"nano-banana-pro\",\n  input: {\n    prompt: prompt,\n    aspect_ratio: \"1:1\",\n    resolution: \"4K\",\n    output_format: \"png\",\n    image_input: urls.slice(0, 4),\n  },\n};\n\n// ✅ Pretty-printed, human-readable, same indentation style\nreturn [\n  {\n    json: {\n      payload: JSON.stringify(payloadObject, null, 2),\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        656
      ],
      "id": "59db8b44-cedc-4558-9cb3-d1f7a3db855c",
      "name": "Code in JavaScript",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6616974-9462-4d52-be05-9cf0a0dbf6cd",
              "name": "image_2_url",
              "value": "={{ \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        576
      ],
      "id": "814111db-3921-4e5c-b8e7-bab09ef5e613",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        608
      ],
      "id": "a2371a99-369a-434c-96a8-017be47fe2db",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5fdc836-0b4d-4a94-95f4-1fdbe040d371",
              "name": "Image Prompt",
              "value": "={{ $json['Image Prompt'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "248a0591-7801-41d7-a447-7abad06d7e29",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "content": "## Multiple Images to Image\n",
        "height": 272,
        "width": 1280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        2112
      ],
      "id": "6e20769c-4b55-4355-a480-7a7996df34db",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1216,
        2192
      ],
      "id": "16cc8b16-e2d2-4b01-aa10-5e4c474a559b",
      "name": "Wait5",
      "webhookId": "8363f037-4a20-4f6b-9c5c-780dfb313864"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer c58fb3ab497a524333c3837f53e73f5e"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1376,
        2192
      ],
      "id": "5e96fec6-f72f-439f-bf20-4d6f5861a214",
      "name": "Get Image5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer c58fb3ab497a524333c3837f53e73f5e"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"1:1\",\n    \"resolution\": \"4K\",\n    \"output_format\": \"png\",\n    \"image_input\": [\n      \"{{ $json.image1 }}\",\n      \"{{ $json.image2 }}\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1056,
        2192
      ],
      "id": "3673de38-ffe6-4fe6-ad15-10d3aaacee8e",
      "name": "Edit Images1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5346dc9-b2c3-405d-aa78-a844b4332cd9",
              "name": "image",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        2192
      ],
      "id": "9aa64499-e55f-4d99-ae47-3a13dca533df",
      "name": "Result5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36031878-8176-430b-a310-b4616bc06a98",
              "name": "prompt",
              "value": "Create a high-quality, professional ‘Canva-style’ Instagram post (square 1080×1080 px) that uses the provided photo as the hero image and the provided company logo as the brand mark. Do not edit, retouch, crop, recolor, filter, or otherwise change the photo or the logo in any way.\n\nThis image is to accompany the following post: Winter days can be the perfect time to create special memories with your loved ones, including seniors.  From cozy indoor games to gentle walks in the snow, our latest blog offers 5 meaningful activities that bring families closer while keeping everyone safe and engaged. At Right at Home Winnipeg, we believe every moment counts—especially during the colder months. Enjoy simple joys together that warm the heart and brighten the season.  Visit our blog to discover ideas tailored for families with senior members. Reach out to see how we can support your family’s care journey. (204) 318-5554\n\nRead more here: https://www.rightathomecanada.com/winnipeg/blog/5-fun-winter-activities-for-families-with-senior-members\n\n#dementiacare #alzheimerscare #seniors #familytime #RightAtHomeWinnipeg\n\ninclude a short header (≤10 words) on the visual derived from that text, but keep all copy minimal so the design stays clean and airy.\n\nInclude the company name Right At Home Winnipeg, phone (204) 318-5554, and website rightathomecanada.com/winnipeg in a clear footer or badge near the logo; ensure legibility at mobile size. Use soft warm neutrals with one subtle accent, rounded sans-serif type, generous negative space, and an optional small CTA pill only if it doesn’t clutter the layout. If needed for legibility, place a low-opacity translucent panel behind text — do not change the photo’s colors.\n\nConstraints: no extra logos or watermarks, no generated logo replacements, no long paragraphs of text, and no edits to faces or the photo.\nDeliverables: 1080×1080 PNG (high quality), mobile-safe crop preview (center ±10%), and one-line alt-text suggestion.",
              "type": "string"
            },
            {
              "id": "0b5c15ca-9d20-4788-adfa-41d5ae9af93a",
              "name": "image1",
              "value": "https://i.ibb.co/zHrqQ3xX/logo-canada.png",
              "type": "string"
            },
            {
              "id": "7dc2ffbc-fe0f-4809-80f9-d353d50f70cf",
              "name": "image2",
              "value": "https://i.ibb.co/jv9RCs5C/Getty-Images-1036322802-scaled.jpg",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        2192
      ],
      "id": "55356a7b-bf31-4b3a-9edf-f908eb68554a",
      "name": "Prompt/Images1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5d365e2d-6c1d-48fd-b1e1-dc6ed403e684"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b233b687-f81c-428e-bce7-459684a6a34b",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69d8ccbf-d327-4705-9159-b7be48f99e73",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1536,
        2176
      ],
      "id": "62bd2417-dde1-4d2e-a37a-7f91185bd4fb",
      "name": "Switch5"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet prompt = \"\";\nconst urls = [];\n\nfunction extractUrl(str) {\n  if (!str) return null;\n  const m = String(str).match(/https?:\\/\\/[^\\s\",\\]\\)]+/i);\n  return m ? m[0] : null;\n}\n\nfor (const item of items) {\n  const j = item.json || {};\n\n  if (!prompt && j[\"Image Prompt\"]) {\n    prompt = j[\"Image Prompt\"];\n  }\n\n  for (const key of Object.keys(j)) {\n    const maybe = extractUrl(j[key]);\n    if (maybe && !urls.includes(maybe)) {\n      urls.push(maybe);\n    }\n  }\n}\n\nconst payloadObject = {\n  model: \"nano-banana-pro\",\n  input: {\n    prompt: prompt,\n    aspect_ratio: \"1:1\",\n    resolution: \"4K\",\n    output_format: \"png\",\n    image_input: urls.slice(0, 4),\n  },\n};\n\n// ✅ Pretty-printed, human-readable, same indentation style\nreturn [\n  {\n    json: {\n      payload: JSON.stringify(payloadObject, null, 2),\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        1104
      ],
      "id": "64fdf1b1-7da2-464c-aab8-39d3264c527f",
      "name": "Code in JavaScript1",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3616,
        1712
      ],
      "id": "760b5eee-6465-4c98-b7fb-0246cb720790",
      "name": "Wait6",
      "webhookId": "8363f037-4a20-4f6b-9c5c-780dfb313864"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer e2c94b7cc078a571657f393be46d9653"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3776,
        1712
      ],
      "id": "6fe91c2f-ab8d-4a06-b378-de716d9efa51",
      "name": "Get Image6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer e2c94b7cc078a571657f393be46d9653"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"1:1\",\n    \"resolution\": \"4K\",\n    \"output_format\": \"png\",\n    \"image_input\": [\n      {{ $json.image1 }},\n      {{ $json.image2 }}\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3456,
        1712
      ],
      "id": "9371b238-105c-4a56-8ddf-6002667d4c44",
      "name": "Edit Images2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5346dc9-b2c3-405d-aa78-a844b4332cd9",
              "name": "image",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4160,
        1712
      ],
      "id": "73c18839-f888-4c50-b0c0-ed1b1d75a8d6",
      "name": "Result6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36031878-8176-430b-a310-b4616bc06a98",
              "name": "prompt",
              "value": "={{ $json['Image Prompt'] }}",
              "type": "string"
            },
            {
              "id": "0b5c15ca-9d20-4788-adfa-41d5ae9af93a",
              "name": "image1",
              "value": "={{ $json.image_1_url }}",
              "type": "string"
            },
            {
              "id": "7dc2ffbc-fe0f-4809-80f9-d353d50f70cf",
              "name": "image2",
              "value": "={{ $json.image_2_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3264,
        1712
      ],
      "id": "df0073ab-90af-448e-8e36-0d60faf503f8",
      "name": "Prompt/Images2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5d365e2d-6c1d-48fd-b1e1-dc6ed403e684"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b233b687-f81c-428e-bce7-459684a6a34b",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69d8ccbf-d327-4705-9159-b7be48f99e73",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a0a854f7-cd5b-4176-be6a-d1dc98a1f46c",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "waiting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "waiting"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3936,
        1696
      ],
      "id": "d622905d-8728-4056-941b-137742f222a6",
      "name": "Switch6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -688,
        720
      ],
      "id": "bc236df1-5e0c-4a43-92a2-09ce19ec7764",
      "name": "On form submission4",
      "webhookId": "dceddf11-1d71-43aa-a952-5cad9156d009"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "81816ce82918102bfe5a913189788faa"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "Image_1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        1712
      ],
      "id": "1a276714-82cb-49f8-9cba-1dd1f5cd34e9",
      "name": "Get URL5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "81816ce82918102bfe5a913189788faa"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "Image_2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        1904
      ],
      "id": "c7432ed5-60a5-48ba-a23f-4b73506899ff",
      "name": "Get URL6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1501d1f-6e89-4fdc-b5e8-f1c109821ab3",
              "name": "image_1_url",
              "value": "= \"{{ $json.data.url }}\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2656,
        1712
      ],
      "id": "bdcefee2-1f0c-487f-8161-c7b18a0026ed",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1501d1f-6e89-4fdc-b5e8-f1c109821ab3",
              "name": "image_2_url",
              "value": "=\"{{ $json.data.url }}\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2656,
        1904
      ],
      "id": "c9a67d19-5cea-4b51-b1fd-1aff9ba486c4",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5fdc836-0b4d-4a94-95f4-1fdbe040d371",
              "name": "Image Prompt",
              "value": "={{ $json['Image Prompt'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2544,
        1504
      ],
      "id": "01d4d1c2-ad7e-4f90-a041-318756dcdd7c",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2864,
        1696
      ],
      "id": "03e87e9b-caac-46bf-9a65-d603f10b83ad",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// Merge all incoming items into one, preserving all data\nconst merged = {};\n\nfor (const item of items) {\n  Object.assign(merged, item.json);\n}\n\nreturn [\n  {\n    json: merged\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        1712
      ],
      "id": "c4f1bb24-66c9-4e59-9ce9-543c839d1fdd",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a detailed image-generation prompt for a social media photo based on the following post text and goal:\nPost Text: At Right at Home Winnipeg, we understand that every senior's journey is unique. Our personalized in-home care services are designed to support independence, comfort, and dignity for seniors and adults living with disabilities. Whether it’s companionship, dementia care, or help with daily activities, our compassionate caregivers are here to provide support tailored to your loved one’s needs. Your family’s peace of mind is our priority every step of the way. 💙 Reach out today to learn how we can make a difference in your loved one’s life.\n\nVisit our website to learn more about our services: rightathomecanada.com/winnipeg or call us at (204) 318-5554.\n\n#dementiacare #alzheimerscare #seniorcare #inhomecare #RightAtHomeWinnipeg\n\nPost Goal: promote right at home winnipeg services\n_____________________\nThe prompt should:\n- Follow the system guidelines.\n- Reflect the theme of the post clearly.\n- Ensure caregivers (if shown) wear teal scrubs with the Right at Home logo.",
        "options": {
          "systemMessage": "You are an AI assistant that creates detailed, high-quality prompts for an image generation model. These prompts will be used to design social media photos for Right at Home Winnipeg. Follow these guidelines:\n\n1. **Brand Identity**\n   - If caregivers are shown, they must wear teal scrubs with the Right at Home logo.\n\n2. **Prompt Structure**\n   - Begin with the overall theme and mood (e.g., festive, informative, awareness).\n\n3. **Tone and Style**\n   - Compassionate, trustworthy, and community-focused.\n   - Avoid clutter; keep visuals simple yet eye-catching.\n   - Use realistic photography or stylized illustrations that feel authentic.\n\n4. **Image Composition**\n   - Photos should show depict seniors/older adults in different scenarios to match the text of the corresponding post. (examples (not limited to): older adults struggling to conduct daily tasks themselves, right at home caregiver(s) supporting older adults, older adults enjoying themselves looking happy, older adults depicted in a heartfelt scene interacting with family and loved ones, right at home caregiver talking to a family with older adults, older adult sneezing to promote caution around flu season, etc)\n\nYour output should be a single, detailed prompt that an image generation model can use directly to create the visual."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -624,
        1984
      ],
      "id": "2ed66177-bc44-4a28-af1f-dd073ddc1ac4",
      "name": "great photo, visual needs work"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -672,
        2176
      ],
      "id": "bf97b65f-d3f2-4182-bafb-b16d5ce3a631",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "u1ml0Ecw8RsE7eBL",
          "mode": "list",
          "cachedResultUrl": "/workflow/u1ml0Ecw8RsE7eBL",
          "cachedResultName": "Social Media Rida Subworkflows - Image Generation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $json.output }}"
          },
          "matchingColumns": [
            "prompt"
          ],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -272,
        1984
      ],
      "id": "cd45bea6-1cc3-43a2-85a5-da81a69bd973",
      "name": "Call 'Social Media Rida Subworkflows - Image Generation'"
    }
  ],
  "connections": {
    "1": {
      "main": [
        [
          {
            "node": "Prompt/Images1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt": {
      "main": [
        [
          {
            "node": "Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Get URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Images": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt/Images": {
      "main": [
        [
          {
            "node": "Edit Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Result1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Result2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "great photo, visual needs work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Generate Video Script",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Generate Video Script",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Generate Video Script",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Set Master Prompt": {
      "main": [
        [
          {
            "node": "AI Agent: Generate Video Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Generate Video Script": {
      "main": [
        [
          {
            "node": "Format Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video with VEO3": {
      "main": [
        [
          {
            "node": "Wait for VEO3 Rendering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for VEO3 Rendering": {
      "main": [
        [
          {
            "node": "Download Video from VEO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video from VEO3": {
      "main": [
        [
          {
            "node": "Rewrite Caption with GPT-4o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Caption with GPT-4o": {
      "main": [
        [
          {
            "node": "Save Caption Video to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Prompt": {
      "main": [
        [
          {
            "node": "Generate Video with VEO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Edited Image": {
      "main": [
        [
          {
            "node": "Google Sheets: Read Video Parameters (CONFIG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Read Video Parameters (CONFIG)": {
      "main": [
        [
          {
            "node": "Set Master Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Get Image3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image3": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission2": {
      "main": [
        [
          {
            "node": "Edit Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image1": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Result3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result3": {
      "main": [
        [
          {
            "node": "Download Edited Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1-1": {
      "main": [
        [
          {
            "node": "Prompt/Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Get Image4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image4": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission3": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get URL5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get URL6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image2": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Result4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get URL2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Get URL3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Get URL4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL4": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Get Image5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image5": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Images1": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt/Images1": {
      "main": [
        [
          {
            "node": "Edit Images1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Result5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Get Image6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image6": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Images2": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt/Images2": {
      "main": [
        [
          {
            "node": "Edit Images2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "Result6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL5": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL6": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Prompt/Images2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "great photo, visual needs work": {
      "main": [
        [
          {
            "node": "Call 'Social Media Rida Subworkflows - Image Generation'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "great photo, visual needs work",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "On form submission1": [
      {
        "json": {
          "Please describe your desired image:": "A cinematic still life of many heart-shaped stress balls arranged together, rendered in muted greys and desaturated tones with very low vibrancy. Dramatic, high-contrast lighting creates deep shadows and soft gradients across the scene, giving a moody, emotional atmosphere. One single heart-shaped stress ball is a rich, vivid red, clearly standing out among the grey hearts. The red heart is positioned slightly lower than the center of the frame, approximately one-third in from the right edge (and two-thirds from the left). Minimal background, soft surface texture, shallow depth of field, studio photography style, fine detail, realistic lighting, emotional contrast, symbolic composition.",
          "submittedAt": "2026-02-08T15:10:51.238-06:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "On form submission": [
      {
        "json": {
          "Image Prompt": "Adjust the middle-left 'Tug of War' scene: Introduce a third voyageur-style man, positioned across from the two existing men, pulling the rope towards the right. Ensure the rope is taut and horizontal, clearly depicting a tug-of-war dynamic, and is not connected to or going towards the canoe scene. Remove any watermark from the bottom-right corner of the image. Maintain the existing art style, colors, character designs, and overall composition of the original poster in all other elements.",
          "Image": [
            {
              "filename": "Gemini_Generated_Image_s3x18as3x18as3x1.png",
              "mimetype": "image/png",
              "size": 2617000
            }
          ],
          "submittedAt": "2026-02-11T12:47:18.398-06:00",
          "formMode": "test"
        },
        "binary": {
          "Image": {
            "mimeType": "image/png",
            "fileType": "image",
            "fileExtension": "png",
            "data": "filesystem-v2",
            "fileName": "Gemini_Generated_Image_s3x18as3x18as3x1.png",
            "id": "filesystem-v2:workflows/YSA93oZwNOhlP4jt/executions/temp/binary_data/5b017409-4bf9-440b-a5a4-934c54a359cc",
            "fileSize": "2.62 MB"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "On form submission3": [
      {
        "json": {
          "Image Prompt": "At Right at Home Winnipeg, we understand that every senior's journey is unique. Our personalized in-home care services are designed to support independence, comfort, and dignity for seniors and adults living with disabilities. Whether it’s companionship, dementia care, or help with daily activities, our compassionate caregivers are here to provide support tailored to your loved one’s needs. Your family’s peace of mind is our priority every step of the way. 💙 Reach out today to learn how we can make a difference in your loved one’s life.  Visit our website to learn more about our services: rightathomecanada.com/winnipeg or call us at (204) 318-5554.  #dementiacare #alzheimerscare #seniorcare #inhomecare #RightAtHomeWinnipeg",
          "Image 1": {
            "filename": "image_1771898590641_dxanlt.png",
            "mimetype": "image/png",
            "size": 32616368
          },
          "Image 2": {
            "filename": "logo-canada.png",
            "mimetype": "image/png",
            "size": 21207
          },
          "Image 3": null,
          "Image 4": null,
          "submittedAt": "2026-02-23T20:07:44.064-06:00",
          "formMode": "test"
        },
        "binary": {
          "Image_1": {
            "mimeType": "image/png",
            "fileType": "image",
            "fileExtension": "png",
            "data": "filesystem-v2",
            "fileName": "image_1771898590641_dxanlt.png",
            "id": "filesystem-v2:workflows/YSA93oZwNOhlP4jt/executions/temp/binary_data/5e1de67f-3103-4a8c-93f5-94be7fb6a533",
            "fileSize": "32.6 MB",
            "bytes": 32616368
          },
          "Image_2": {
            "mimeType": "image/png",
            "fileType": "image",
            "fileExtension": "png",
            "data": "filesystem-v2",
            "fileName": "logo-canada.png",
            "id": "filesystem-v2:workflows/YSA93oZwNOhlP4jt/executions/temp/binary_data/d81c8871-d3b6-4987-8eee-1b117d5d8fea",
            "fileSize": "21.2 kB",
            "bytes": 21207
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "81894eac-8649-44e2-8558-1349930a5176",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-09T11:37:03.126Z",
      "createdAt": "2026-05-09T11:37:03.126Z",
      "role": "workflow:owner",
      "workflowId": "6c4iVngBmg1txk42",
      "projectId": "XdtqOzYGfnG4XSvo"
    }
  ],
  "activeVersion": null,
  "tags": []
}