Backup_2026-07-14/RAH Daily Shift Reminders ACTIVE.json
{
  "updatedAt": "2026-06-28T17:04:10.852Z",
  "createdAt": "2026-05-06T00:43:05.602Z",
  "id": "1OPnhsoEU1n3hvHi",
  "name": "RAH Daily Shift Reminders ACTIVE",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
          "mode": "list",
          "cachedResultName": "shift reminders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1474171429,
          "mode": "list",
          "cachedResultName": "shifts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
        },
        "options": {}
      },
      "id": "fa66841a-8bf8-4311-93de-58cb6fc7053b",
      "name": "Get shift and caregiver information from sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2624,
        1168
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n1bU0OP2hCGK4EEO",
          "name": "Rida Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get shift and caregiver information from sheet\n",
        "height": 304,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2720,
        1056
      ],
      "id": "d60bb483-a493-413d-987e-6152c1ab4129",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Daily Trigger",
        "height": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3040,
        1056
      ],
      "id": "e73c0844-d97c-469f-aca1-e384702e077d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "61983008-4f24-40e8-ada1-5ac9eec752f0",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2976,
        1168
      ]
    },
    {
      "parameters": {
        "content": "## Filter only unprocessed shifts\n",
        "height": 304,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2336,
        1056
      ],
      "id": "f7c9c017-34c3-4ebe-9e3a-e6f08f5cf42c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Check that shift is assigned and phone number is available for caregiver\n\n",
        "height": 304,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1792,
        1056
      ],
      "id": "e1996e17-614e-4959-b14e-bceca9f31906",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Update ERROR status in sheet\n\n",
        "height": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        832
      ],
      "id": "13d1d464-ed3a-4c6e-a709-b2fa5284bbed",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a802d85f-4d8c-442d-b23d-2b0087c3aacd",
              "leftValue": "={{ $json['Employee Full Name'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "99227993-674f-46db-9b38-aceea8a89c8a",
              "leftValue": "={{ $json['Employee Phone (Mobile)'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "53c404ac-b0a3-4939-8827-772a1bd7ac44",
              "leftValue": "={{ $json['Employee Full Name'] }}",
              "rightValue": "Virtual Scheduler",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5bd0b6f4-5db5-4511-a004-38f32f8b8e93",
              "leftValue": "={{ $json['Employee Phone (Mobile)'] }}",
              "rightValue": "#N/A ()",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4cb77b29-3dd9-408f-8efd-fe6563e9cb81",
              "leftValue": "={{ $json['Employee Full Name'] }}",
              "rightValue": "Office Admin",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0191209c-7099-4d09-aa19-6c2a1132d769",
              "leftValue": "={{ $json['Employee Full Name'] }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8af7a998-8fc6-4507-be55-c7e0af2ba076",
              "leftValue": "={{ $json['Employee UID'] }}",
              "rightValue": "S2",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "21c2fec6-07a8-4278-90af-20f2c43ddc10",
              "leftValue": "={{ $json['Employee UID'] }}",
              "rightValue": "S9249",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bb004ada-8e97-41e0-9973-ab0fed3c236e",
              "leftValue": "={{ $json['Employee UID'] }}",
              "rightValue": "S7677",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1664,
        1168
      ],
      "id": "cf53ab83-5f01-4cd9-9304-b87b1f749c9b",
      "name": "Caregiver assignment and phone number check"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\n// Get tomorrow's date in YYYY-MM-DD format\nconst tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\n\nconst yyyy = tomorrow.getFullYear();\nconst mm = String(tomorrow.getMonth() + 1).padStart(2, '0');\nconst dd = String(tomorrow.getDate()).padStart(2, '0');\n\nconst tomorrowStr = `${yyyy}-${mm}-${dd}`; // NEW FORMAT\n\n// Filter items whose Visit Start Date matches tomorrow\nconst shiftsForTomorrow = allItems.filter(\n  item => item.json['Visit Start Date'] === tomorrowStr\n);\n\nreturn shiftsForTomorrow;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        1296
      ],
      "id": "fb4ab2e9-3ac7-4f1e-a83e-837deaa23157",
      "name": "Filter tomorrow's shifts"
    },
    {
      "parameters": {
        "content": "## Filter only tomorrow's shifts\n",
        "height": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        1168
      ],
      "id": "c2d5264e-f0cf-4733-b5bd-b2e1d6474f22",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Group shift info by caregiver",
        "height": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1088,
        1168
      ],
      "id": "424b8f06-a7d9-4ec9-84ad-5032f3858438",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "const allShifts = $input.all();\nconst grouped = {};\n\nallShifts.forEach(item => {\n  const id = item.json['Employee UID'];\n\n  if (!grouped[id]) {\n    grouped[id] = {\n      name: item.json['Employee Full Name'],\n      id,\n      phone: item.json['Employee Phone (Mobile)'], // ✅ Add caregiver phone number\n      shifts: [],\n    };\n  }\n\n  grouped[id].shifts.push({\n    client: item.json['Client Full Name'],\n    start: item.json['Visit Start Time of Day'],\n    end: item.json['Visit End Time of Day'],\n  });\n});\n\n// Convert grouped object → n8n output array\nconst output = Object.values(grouped).map(entry => ({\n  json: {\n    name: entry.name,\n    id: entry.id,\n    phone: entry.phone, // ✅ Include phone in final output\n    shifts: entry.shifts,\n    shiftCount: entry.shifts.length,\n  }\n}));\n\nreturn output;"
      },
      "id": "b544169e-68bc-4216-8792-20e4d72932cc",
      "name": "Group by caregiver",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        1296
      ]
    },
    {
      "parameters": {
        "content": "## Generate message text",
        "height": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -816,
        1168
      ],
      "id": "7f0ce591-cc9b-4458-99c4-7393c555bf4f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Format phone number",
        "height": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        1168
      ],
      "id": "a01be540-9dad-4813-97ce-071203f59703",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Incoming fields from previous node\nconst name = $json.name;\nconst shiftCount = $json.shiftCount;\nconst shifts = $json.shifts;\n\n// Use tomorrow's date for reference\nconst tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\n\n// Helper to pad times (if needed)\nconst padTime = t => {\n  if (!t) return '';\n  const [h, m] = t.split(':');\n  return `${h.padStart(2, '0')}:${m.padStart(2, '0')}`;\n};\n\n// Collect client names and start times\nconst details = shifts.map(s => `${s.client} at ${padTime(s.start)}`);\n\n// Build message\nlet msg = `VISIT REMINDER: You have ${shiftCount} RAH Winnipeg visit${shiftCount > 1 ? 's' : ''} tomorrow with `;\n\nif (shiftCount === 1) {\n  msg += `${details[0]}. Check details in Alayacare App.`;\n} else if (shiftCount === 2) {\n  msg += `${details[0]}, and ${details[1]}. Check details in Alayacare App.`;\n} else {\n  const lastDetail = details.pop();\n  msg += `${details.join(', ')}, and ${lastDetail}. Check details in Alayacare App.`;\n}\n\n// Add \"do not reply\" on a new line\nmsg += `Kindly DO NOT reply to this number. For any queries, kindly call RAH After Hours @ (431) 887-2273.`;\n\n$json.message = msg;\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        1296
      ],
      "id": "8aa38c51-710b-45fa-b4ce-e0b2ca0d02a3",
      "name": "Generate message text"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the phone number from either field\nlet phoneNumber = $json['phone'];\n\nif (!phoneNumber) {\n  throw new Error('No phone number found');\n}\n\n// Convert to string in case it's a number\nphoneNumber = String(phoneNumber).trim();\n\n// STEP 1 — Remove ALL non-digit characters (fixes dashes, spaces, parentheses, etc.)\nphoneNumber = phoneNumber.replace(/\\D/g, '');\n\n// STEP 2 — Validate phone number length AFTER cleaning\nif (phoneNumber.length < 10) {\n  throw new Error(`Invalid phone number: ${phoneNumber} (too short)`);\n}\n\n// STEP 3 — Add country code if missing (assuming +1)\nif (phoneNumber.length === 10) {\n  phoneNumber = '1' + phoneNumber;\n}\n\n// STEP 4 — Add \"+\" prefix\nif (!phoneNumber.startsWith('+')) {\n  phoneNumber = '+' + phoneNumber;\n}\n\n// STEP 5 — Final validation\nif (!/^\\+1\\d{10}$/.test(phoneNumber)) {\n  console.warn(`Phone number may not be properly formatted: ${phoneNumber}`);\n}\n\n// Add formatted phone number to the data\n$json.formattedPhoneNumber = phoneNumber;\n$json.originalPhoneNumber = $json['Employee Phone (Mobile)'];\n\n// Ensure formatted field is a string\n$json.formattedPhoneNumber = String($json.formattedPhoneNumber).trim();\n\nreturn $json;"
      },
      "id": "a48eecf7-868d-46f8-9677-17ee9e96be5d",
      "name": "Format phone number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        1296
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -96,
        1296
      ],
      "id": "f4e97227-61f4-4b88-b53b-2be9383d1bde",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        384,
        1328
      ],
      "id": "c380a29e-2e41-47ba-917f-e5be3e03bd31",
      "name": "Wait",
      "webhookId": "51c3f9d2-b735-4010-af42-61ac64b24f48"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YegSgeDX3skyRXm4",
          "mode": "list",
          "cachedResultUrl": "/workflow/YegSgeDX3skyRXm4",
          "cachedResultName": "Twillio sub workflow copy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        384,
        1456
      ],
      "id": "5cfd1927-8874-41ca-9b9f-ce374f08efe4",
      "name": "Call 'Twillio sub workflow copy'"
    },
    {
      "parameters": {
        "jsCode": "// Expecting exactly 2 items:\n// Item 0 → caregiver row\n// Item 1 → SID object\n\nconst items = $input.all();\n\nif (items.length < 2) {\n  throw new Error('Expected at least 2 input items');\n}\n\nconst row = items[0].json;\nconst sidObj = items[1].json;\n\n// Extract SID safely\nconst sid = sidObj.sid;\n\nif (!sid) {\n  throw new Error('SID not found in second input');\n}\n\n// Return ONE merged row\nreturn [\n  {\n    json: {\n      ...row,\n      sid: sid\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        1392
      ],
      "id": "69f5475c-228a-4c76-bc41-4d1d2148d066",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        1392
      ],
      "id": "c742267e-bd09-4b3b-9af6-12d32be634d9",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        848,
        960
      ],
      "id": "0bffcd25-9c4c-418b-a9e7-cf3a51c4b2cd",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
          "mode": "list",
          "cachedResultName": "shift reminders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1474171429,
          "mode": "list",
          "cachedResultName": "shifts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Employee UID",
              "lookupValue": "={{ $json.id }}"
            },
            {
              "lookupColumn": "Visit Start Date",
              "lookupValue": "={{ $now.plus({ days: 1 }).toISODate() }}"
            },
            {
              "lookupColumn": "text status",
              "lookupValue": "={{\"\"}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        992
      ],
      "id": "7ee85cac-8172-425d-b1c1-edb9189bbd11",
      "name": "Get row(s)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n1bU0OP2hCGK4EEO",
          "name": "Rida Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ADh8wkopqVAhsuap",
          "mode": "list",
          "cachedResultUrl": "/workflow/ADh8wkopqVAhsuap",
          "cachedResultName": "Twillio status check sub workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1568,
        1296
      ],
      "id": "8e44affc-6ca3-49d6-9864-bc45e8a161b1",
      "name": "Call 'Twillio status check sub workflow'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1104,
        1232
      ],
      "id": "373cadc2-b161-4e5b-b31e-15125645576b",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
          "mode": "list",
          "cachedResultName": "shift reminders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1474171429,
          "mode": "list",
          "cachedResultName": "shifts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Employee UID",
              "lookupValue": "={{ $('Loop Over Items3').item.json.id }}"
            },
            {
              "lookupColumn": "Visit Start Date",
              "lookupValue": "={{ $now.plus({ days: 1 }).toISODate() }}"
            },
            {
              "lookupColumn": "text status",
              "lookupValue": "Processed - Pending SMS Confirmation"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1744,
        1296
      ],
      "id": "16c52e88-f630-4189-9e07-afc896474baa",
      "name": "Get row(s)2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n1bU0OP2hCGK4EEO",
          "name": "Rida Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tkBPXeynRo3M6Wbw",
          "mode": "list",
          "cachedResultUrl": "/workflow/tkBPXeynRo3M6Wbw",
          "cachedResultName": "Caregiver shift reminders daily report sub workflow pt.2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2304,
        1088
      ],
      "id": "1a4e2dbe-a825-45b7-a2af-0338e8fef4f6",
      "name": "Call 'Caregiver shift reminders daily report sub workflow pt.2'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8l17q77MlAW1o3YX",
          "mode": "list",
          "cachedResultUrl": "/workflow/8l17q77MlAW1o3YX",
          "cachedResultName": "Caregiver shift reminders daily report sub workflow pt.1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2064,
        832
      ],
      "id": "8d1b4aff-51ee-4fe9-9694-7e94184a2376",
      "name": "Call 'Caregiver shift reminders daily report sub workflow pt.1'"
    },
    {
      "parameters": {
        "toRecipients": "rida@anagomb.ca,rlakhani@anagomb.ca",
        "subject": "=Shift Reminders Workflow Summary {{ $json.tomorrow }}",
        "bodyContent": "=Date: {{ $json.tomorrow }}\n{{ $json.message1 }}\n{{ $json.messagea }}\n{{ $json.message2 }}\n{{ $json.message3 }}\n{{ $json.message4 }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        3216,
        1184
      ],
      "id": "5832d449-201c-494c-9b61-c4bf9279af7e",
      "name": "Send a message1",
      "webhookId": "e6fe0c8b-a480-4d7a-86d7-c2ed8064c809",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "58F0urplGysVGdHg",
          "name": "Microsoft Outlook account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2672,
        960
      ],
      "id": "b91cf3fd-279a-4716-8a6a-56ffbaa5d568",
      "name": "Merge1"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1824,
        1088
      ],
      "id": "bd90b80d-a145-4762-8723-d8425cec3f38",
      "name": "Wait3",
      "webhookId": "658f1ab3-52e0-4529-8c8f-b7ae06af6aca"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1808,
        832
      ],
      "id": "2cd4bbe0-8dd5-4671-9c4f-36598347be78",
      "name": "Wait4",
      "webhookId": "ed1f2efe-da95-4f02-8dc1-d0f38f377df6"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
          "mode": "list",
          "cachedResultName": "shift reminders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1474171429,
          "mode": "list",
          "cachedResultName": "shifts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "text status": "ERROR - Missing or undefined data (please check that shift is assigned and phone number is available for caregiver)",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "text status",
              "displayName": "text status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee UID",
              "displayName": "Employee UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Full Name",
              "displayName": "Employee Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Email",
              "displayName": "Employee Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Phone (Mobile)",
              "displayName": "Employee Phone (Mobile)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Client Full Name",
              "displayName": "Client Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit Scheduled Duration",
              "displayName": "Visit Scheduled Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit Start Date",
              "displayName": "Visit Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit Start Time",
              "displayName": "Visit Start Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit Start Time of Day",
              "displayName": "Visit Start Time of Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit End Date",
              "displayName": "Visit End Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit End Time of Day",
              "displayName": "Visit End Time of Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit End Time",
              "displayName": "Visit End Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1296,
        960
      ],
      "id": "69495694-3db1-4e33-8a82-6d7cbafe57ac",
      "name": "Update ERROR status2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n1bU0OP2hCGK4EEO",
          "name": "Rida Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
          "mode": "list",
          "cachedResultName": "shift reminders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1474171429,
          "mode": "list",
          "cachedResultName": "shifts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "text status": "Processed - Pending SMS Confirmation"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "text status",
              "displayName": "text status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employee UID",
              "displayName": "Employee UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Full Name",
              "displayName": "Employee Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Email",
              "displayName": "Employee Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Phone (Mobile)",
              "displayName": "Employee Phone (Mobile)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Client Full Name",
              "displayName": "Client Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit Scheduled Duration",
              "displayName": "Visit Scheduled Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit Start Date",
              "displayName": "Visit Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit Start Time",
              "displayName": "Visit Start Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit Start Time of Day",
              "displayName": "Visit Start Time of Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit End Date",
              "displayName": "Visit End Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit End Time of Day",
              "displayName": "Visit End Time of Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit End Time",
              "displayName": "Visit End Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1280,
        992
      ],
      "id": "b75816c8-17cc-482f-87d2-4297f6f8f90f",
      "name": "Update status2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n1bU0OP2hCGK4EEO",
          "name": "Rida Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
          "mode": "list",
          "cachedResultName": "shift reminders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1474171429,
          "mode": "list",
          "cachedResultName": "shifts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "text status": "={{ $('Call \\'Twillio status check sub workflow\\'').item.json.STATUS }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "text status",
              "displayName": "text status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee UID",
              "displayName": "Employee UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Full Name",
              "displayName": "Employee Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Email",
              "displayName": "Employee Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Phone (Mobile)",
              "displayName": "Employee Phone (Mobile)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Client Full Name",
              "displayName": "Client Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit Scheduled Duration",
              "displayName": "Visit Scheduled Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit Start Date",
              "displayName": "Visit Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit Start Time",
              "displayName": "Visit Start Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit Start Time of Day",
              "displayName": "Visit Start Time of Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit End Date",
              "displayName": "Visit End Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit End Time of Day",
              "displayName": "Visit End Time of Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit End Time",
              "displayName": "Visit End Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        1296
      ],
      "id": "cba6f1b1-3dc4-492e-b85c-3dca9af2e4e4",
      "name": "Update status",
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n1bU0OP2hCGK4EEO",
          "name": "Rida Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2064,
        1088
      ],
      "id": "00ee3e0c-0ee0-4ee4-9024-0f18282a2300",
      "name": "Limit1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1488,
        992
      ],
      "id": "a510d0a5-74d5-47a6-9e6c-723c05cb04cd",
      "name": "Wait2",
      "webhookId": "a3c93f02-3150-46bf-944c-2514c858e89d"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1392,
        1296
      ],
      "id": "ee509973-a6d9-419d-9b14-8d8784e075b1",
      "name": "Wait5",
      "webhookId": "68921708-fb99-47bb-818f-ca65c35e4230"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n/** @type {{ [key: string]: any }} */\nconst merged = {};\n\nfor (const item of items) {\n  if (!item || !item.json || typeof item.json !== 'object') continue;\n  for (const [key, value] of Object.entries(item.json)) {\n    // only set if the key isn't already present, otherwise overwrite intentionally:\n    merged[key] = value;\n  }\n}\n\nreturn [\n  {\n    json: merged,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        960
      ],
      "id": "bc6c18ba-c957-4503-a8ae-b5bd91229ab0",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd17a6b6-fc72-4386-8d2b-46777feefb41",
              "leftValue": "={{ $json['text status'] }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "132d917f-871d-454a-b2a7-c7f04fe34565",
              "leftValue": "={{ $json['text status'] }}",
              "rightValue": "ERROR - Missing or undefined data (please check that shift is assigned and phone number is available for caregiver)",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "b74eb76d-e5e8-4a22-9435-091e37a847d9",
              "leftValue": "={{ $json['text status'] }}",
              "rightValue": "FAILED",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "b132468a-bc03-4438-9b45-c20914e72d40",
              "leftValue": "={{ $json['text status'] }}",
              "rightValue": "Processed - Pending SMS Confirmation",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "667a2989-7ac7-4ef3-b0ae-99ba071cdd40",
              "leftValue": "={{ $json['text status'] }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2272,
        1168
      ],
      "id": "48f8a972-acca-44a7-8e54-db64e24e9e08",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9ecf8f56-7b92-40e3-9d97-4d57e4bbe8e8",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2048,
        1136
      ],
      "id": "df98fcab-4767-4fd2-af67-734cb638c240",
      "name": "If1"
    },
    {
      "parameters": {
        "toRecipients": "rida@anagomb.ca,rlakhani@anagomb.ca,taz@rahwinnipeg.ca",
        "subject": "=URGENT - Shift Reminders Workflow NOT RUN",
        "bodyContent": "=Due to lack of shifts in Shift Reminders Sheet for {{ $now.plus({ days: 1 }).toISODate() }}, the workflow was not able to proceed and no messages were sent to caregivers. Please correct this and rerun workflow as soon as possible.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1824,
        704
      ],
      "id": "ae51ee50-b773-47a1-9682-65f8bb3e92c5",
      "name": "Send a message2",
      "webhookId": "e6fe0c8b-a480-4d7a-86d7-c2ed8064c809",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "58F0urplGysVGdHg",
          "name": "Microsoft Outlook account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "rida@anagomb.ca,rlakhani@anagomb.ca,taz@rahwinnipeg.ca",
        "subject": "URGENT - Shift Reminders Workflow NOT RUN",
        "message": "=Due to lack of shifts in Shift Reminders Sheet for {{ $now.plus({ days: 1 }).toISODate() }}, the workflow was not able to proceed and no messages were sent to caregivers. Please correct this and rerun workflow as soon as possible.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1696,
        864
      ],
      "id": "af05d2b0-a894-4e50-bce6-fde8254ad7a5",
      "name": "Send a message",
      "webhookId": "59fe5336-14c4-4613-85de-2ec1d7ab8490",
      "credentials": {
        "gmailOAuth2": {
          "id": "VtFSlT7rgOw5EZZK",
          "name": "Rida Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "rida@anagomb.ca,rlakhani@anagomb.ca",
        "subject": "=Shift Reminders Workflow Summary {{ $json.tomorrow }}",
        "message": "=Date: {{ $json.tomorrow }} | \n{{ $json.message1 }} | \n{{ $json.messagea }} | \n{{ $json.message2 }} | \n{{ $json.message3 }} | \n{{ $json.message4 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3152,
        960
      ],
      "id": "58e5bbe6-39f2-4d9b-a6cd-faf61d9f5d87",
      "name": "Send a message3",
      "webhookId": "6bd753b6-07d9-4187-a9ee-cb78590ed265",
      "credentials": {
        "gmailOAuth2": {
          "id": "VtFSlT7rgOw5EZZK",
          "name": "Rida Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
          "mode": "list",
          "cachedResultName": "shift reminders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 774722924,
          "mode": "list",
          "cachedResultName": "testing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=774722924"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "text status": "={{ $('Call \\'Twillio status check sub workflow\\'').item.json.STATUS }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "text status",
              "displayName": "text status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employee UID",
              "displayName": "Employee UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Full Name",
              "displayName": "Employee Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Email",
              "displayName": "Employee Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Phone (Mobile)",
              "displayName": "Employee Phone (Mobile)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Client Full Name",
              "displayName": "Client Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit Scheduled Duration",
              "displayName": "Visit Scheduled Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit Start Date",
              "displayName": "Visit Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit Start Time",
              "displayName": "Visit Start Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit Start Time of Day",
              "displayName": "Visit Start Time of Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit End Date",
              "displayName": "Visit End Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit End Time of Day",
              "displayName": "Visit End Time of Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Visit End Time",
              "displayName": "Visit End Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        1504
      ],
      "id": "8ada0f78-08cd-4d53-896b-cbeec777e278",
      "name": "Update status1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n1bU0OP2hCGK4EEO",
          "name": "Rida Google Sheets account"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Get shift and caregiver information from sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Get shift and caregiver information from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Caregiver assignment and phone number check": {
      "main": [
        [
          {
            "node": "Update ERROR status2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter tomorrow's shifts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter tomorrow's shifts": {
      "main": [
        [
          {
            "node": "Group by caregiver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group by caregiver": {
      "main": [
        [
          {
            "node": "Generate message text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate message text": {
      "main": [
        [
          {
            "node": "Format phone number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format phone number": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Twillio sub workflow copy'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Twillio sub workflow copy'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Update status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Twillio status check sub workflow'": {
      "main": [
        [
          {
            "node": "Get row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)2": {
      "main": [
        [
          {
            "node": "Update status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Caregiver shift reminders daily report sub workflow pt.2'": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call 'Caregiver shift reminders daily report sub workflow pt.1'": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Call 'Caregiver shift reminders daily report sub workflow pt.1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update status2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update status": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Call 'Caregiver shift reminders daily report sub workflow pt.2'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Call 'Twillio status check sub workflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Caregiver assignment and phone number check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "AzYIPHs9CsXeopw4",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Daily Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e2ec01d4-58e9-4075-9a84-84a7fef1353c",
  "activeVersionId": "e2ec01d4-58e9-4075-9a84-84a7fef1353c",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-06T00:43:05.602Z",
      "createdAt": "2026-05-06T00:43:05.602Z",
      "role": "workflow:owner",
      "workflowId": "1OPnhsoEU1n3hvHi",
      "projectId": "XdtqOzYGfnG4XSvo"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-28T17:04:18.435Z",
    "createdAt": "2026-06-28T16:55:06.537Z",
    "versionId": "e2ec01d4-58e9-4075-9a84-84a7fef1353c",
    "workflowId": "1OPnhsoEU1n3hvHi",
    "nodes": [
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
            "mode": "list",
            "cachedResultName": "shift reminders",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1474171429,
            "mode": "list",
            "cachedResultName": "shifts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
          },
          "options": {}
        },
        "id": "fa66841a-8bf8-4311-93de-58cb6fc7053b",
        "name": "Get shift and caregiver information from sheet",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -2624,
          1168
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "n1bU0OP2hCGK4EEO",
            "name": "Rida Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Get shift and caregiver information from sheet\n",
          "height": 304,
          "width": 304
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2720,
          1056
        ],
        "id": "d60bb483-a493-413d-987e-6152c1ab4129",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Daily Trigger",
          "height": 304
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -3040,
          1056
        ],
        "id": "e73c0844-d97c-469f-aca1-e384702e077d",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 11,
                "triggerAtMinute": 30
              }
            ]
          }
        },
        "id": "61983008-4f24-40e8-ada1-5ac9eec752f0",
        "name": "Daily Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -2976,
          1168
        ]
      },
      {
        "parameters": {
          "content": "## Filter only unprocessed shifts\n",
          "height": 304,
          "width": 496
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2336,
          1056
        ],
        "id": "f7c9c017-34c3-4ebe-9e3a-e6f08f5cf42c",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Check that shift is assigned and phone number is available for caregiver\n\n",
          "height": 304,
          "width": 352
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1792,
          1056
        ],
        "id": "e1996e17-614e-4959-b14e-bceca9f31906",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## Update ERROR status in sheet\n\n",
          "height": 304
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1360,
          832
        ],
        "id": "13d1d464-ed3a-4c6e-a709-b2fa5284bbed",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "a802d85f-4d8c-442d-b23d-2b0087c3aacd",
                "leftValue": "={{ $json['Employee Full Name'] }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              },
              {
                "id": "99227993-674f-46db-9b38-aceea8a89c8a",
                "leftValue": "={{ $json['Employee Phone (Mobile)'] }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              },
              {
                "id": "53c404ac-b0a3-4939-8827-772a1bd7ac44",
                "leftValue": "={{ $json['Employee Full Name'] }}",
                "rightValue": "Virtual Scheduler",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "5bd0b6f4-5db5-4511-a004-38f32f8b8e93",
                "leftValue": "={{ $json['Employee Phone (Mobile)'] }}",
                "rightValue": "#N/A ()",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "4cb77b29-3dd9-408f-8efd-fe6563e9cb81",
                "leftValue": "={{ $json['Employee Full Name'] }}",
                "rightValue": "Office Admin",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "0191209c-7099-4d09-aa19-6c2a1132d769",
                "leftValue": "={{ $json['Employee Full Name'] }}",
                "rightValue": "null",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "8af7a998-8fc6-4507-be55-c7e0af2ba076",
                "leftValue": "={{ $json['Employee UID'] }}",
                "rightValue": "S2",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "21c2fec6-07a8-4278-90af-20f2c43ddc10",
                "leftValue": "={{ $json['Employee UID'] }}",
                "rightValue": "S9249",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "bb004ada-8e97-41e0-9973-ab0fed3c236e",
                "leftValue": "={{ $json['Employee UID'] }}",
                "rightValue": "S7677",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1664,
          1168
        ],
        "id": "cf53ab83-5f01-4cd9-9304-b87b1f749c9b",
        "name": "Caregiver assignment and phone number check"
      },
      {
        "parameters": {
          "jsCode": "const allItems = $input.all();\n\n// Get tomorrow's date in YYYY-MM-DD format\nconst tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\n\nconst yyyy = tomorrow.getFullYear();\nconst mm = String(tomorrow.getMonth() + 1).padStart(2, '0');\nconst dd = String(tomorrow.getDate()).padStart(2, '0');\n\nconst tomorrowStr = `${yyyy}-${mm}-${dd}`; // NEW FORMAT\n\n// Filter items whose Visit Start Date matches tomorrow\nconst shiftsForTomorrow = allItems.filter(\n  item => item.json['Visit Start Date'] === tomorrowStr\n);\n\nreturn shiftsForTomorrow;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1280,
          1296
        ],
        "id": "fb4ab2e9-3ac7-4f1e-a83e-837deaa23157",
        "name": "Filter tomorrow's shifts"
      },
      {
        "parameters": {
          "content": "## Filter only tomorrow's shifts\n",
          "height": 304
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1360,
          1168
        ],
        "id": "c2d5264e-f0cf-4733-b5bd-b2e1d6474f22",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Group shift info by caregiver",
          "height": 304
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1088,
          1168
        ],
        "id": "424b8f06-a7d9-4ec9-84ad-5032f3858438",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "jsCode": "const allShifts = $input.all();\nconst grouped = {};\n\nallShifts.forEach(item => {\n  const id = item.json['Employee UID'];\n\n  if (!grouped[id]) {\n    grouped[id] = {\n      name: item.json['Employee Full Name'],\n      id,\n      phone: item.json['Employee Phone (Mobile)'], // ✅ Add caregiver phone number\n      shifts: [],\n    };\n  }\n\n  grouped[id].shifts.push({\n    client: item.json['Client Full Name'],\n    start: item.json['Visit Start Time of Day'],\n    end: item.json['Visit End Time of Day'],\n  });\n});\n\n// Convert grouped object → n8n output array\nconst output = Object.values(grouped).map(entry => ({\n  json: {\n    name: entry.name,\n    id: entry.id,\n    phone: entry.phone, // ✅ Include phone in final output\n    shifts: entry.shifts,\n    shiftCount: entry.shifts.length,\n  }\n}));\n\nreturn output;"
        },
        "id": "b544169e-68bc-4216-8792-20e4d72932cc",
        "name": "Group by caregiver",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1024,
          1296
        ]
      },
      {
        "parameters": {
          "content": "## Generate message text",
          "height": 304
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -816,
          1168
        ],
        "id": "7f0ce591-cc9b-4458-99c4-7393c555bf4f",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "content": "## Format phone number",
          "height": 304
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -544,
          1168
        ],
        "id": "a01be540-9dad-4813-97ce-071203f59703",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Incoming fields from previous node\nconst name = $json.name;\nconst shiftCount = $json.shiftCount;\nconst shifts = $json.shifts;\n\n// Use tomorrow's date for reference\nconst tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\n\n// Helper to pad times (if needed)\nconst padTime = t => {\n  if (!t) return '';\n  const [h, m] = t.split(':');\n  return `${h.padStart(2, '0')}:${m.padStart(2, '0')}`;\n};\n\n// Collect client names and start times\nconst details = shifts.map(s => `${s.client} at ${padTime(s.start)}`);\n\n// Build message\nlet msg = `VISIT REMINDER: You have ${shiftCount} RAH Winnipeg visit${shiftCount > 1 ? 's' : ''} tomorrow with `;\n\nif (shiftCount === 1) {\n  msg += `${details[0]}. Check details in Alayacare App.`;\n} else if (shiftCount === 2) {\n  msg += `${details[0]}, and ${details[1]}. Check details in Alayacare App.`;\n} else {\n  const lastDetail = details.pop();\n  msg += `${details.join(', ')}, and ${lastDetail}. Check details in Alayacare App.`;\n}\n\n// Add \"do not reply\" on a new line\nmsg += `Kindly DO NOT reply to this number. For any queries, kindly call RAH After Hours @ (431) 887-2273.`;\n\n$json.message = msg;\nreturn $json;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -752,
          1296
        ],
        "id": "8aa38c51-710b-45fa-b4ce-e0b2ca0d02a3",
        "name": "Generate message text"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Get the phone number from either field\nlet phoneNumber = $json['phone'];\n\nif (!phoneNumber) {\n  throw new Error('No phone number found');\n}\n\n// Convert to string in case it's a number\nphoneNumber = String(phoneNumber).trim();\n\n// STEP 1 — Remove ALL non-digit characters (fixes dashes, spaces, parentheses, etc.)\nphoneNumber = phoneNumber.replace(/\\D/g, '');\n\n// STEP 2 — Validate phone number length AFTER cleaning\nif (phoneNumber.length < 10) {\n  throw new Error(`Invalid phone number: ${phoneNumber} (too short)`);\n}\n\n// STEP 3 — Add country code if missing (assuming +1)\nif (phoneNumber.length === 10) {\n  phoneNumber = '1' + phoneNumber;\n}\n\n// STEP 4 — Add \"+\" prefix\nif (!phoneNumber.startsWith('+')) {\n  phoneNumber = '+' + phoneNumber;\n}\n\n// STEP 5 — Final validation\nif (!/^\\+1\\d{10}$/.test(phoneNumber)) {\n  console.warn(`Phone number may not be properly formatted: ${phoneNumber}`);\n}\n\n// Add formatted phone number to the data\n$json.formattedPhoneNumber = phoneNumber;\n$json.originalPhoneNumber = $json['Employee Phone (Mobile)'];\n\n// Ensure formatted field is a string\n$json.formattedPhoneNumber = String($json.formattedPhoneNumber).trim();\n\nreturn $json;"
        },
        "id": "a48eecf7-868d-46f8-9677-17ee9e96be5d",
        "name": "Format phone number",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -480,
          1296
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -96,
          1296
        ],
        "id": "f4e97227-61f4-4b88-b53b-2be9383d1bde",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "amount": 2
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          384,
          1328
        ],
        "id": "c380a29e-2e41-47ba-917f-e5be3e03bd31",
        "name": "Wait",
        "webhookId": "51c3f9d2-b735-4010-af42-61ac64b24f48"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "YegSgeDX3skyRXm4",
            "mode": "list",
            "cachedResultUrl": "/workflow/YegSgeDX3skyRXm4",
            "cachedResultName": "Twillio sub workflow copy"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          384,
          1456
        ],
        "id": "5cfd1927-8874-41ca-9b9f-ce374f08efe4",
        "name": "Call 'Twillio sub workflow copy'"
      },
      {
        "parameters": {
          "jsCode": "// Expecting exactly 2 items:\n// Item 0 → caregiver row\n// Item 1 → SID object\n\nconst items = $input.all();\n\nif (items.length < 2) {\n  throw new Error('Expected at least 2 input items');\n}\n\nconst row = items[0].json;\nconst sidObj = items[1].json;\n\n// Extract SID safely\nconst sid = sidObj.sid;\n\nif (!sid) {\n  throw new Error('SID not found in second input');\n}\n\n// Return ONE merged row\nreturn [\n  {\n    json: {\n      ...row,\n      sid: sid\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          784,
          1392
        ],
        "id": "69f5475c-228a-4c76-bc41-4d1d2148d066",
        "name": "Code in JavaScript3"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          624,
          1392
        ],
        "id": "c742267e-bd09-4b3b-9af6-12d32be634d9",
        "name": "Merge"
      },
      {
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          848,
          960
        ],
        "id": "0bffcd25-9c4c-418b-a9e7-cf3a51c4b2cd",
        "name": "Loop Over Items2"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
            "mode": "list",
            "cachedResultName": "shift reminders",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1474171429,
            "mode": "list",
            "cachedResultName": "shifts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Employee UID",
                "lookupValue": "={{ $json.id }}"
              },
              {
                "lookupColumn": "Visit Start Date",
                "lookupValue": "={{ $now.plus({ days: 1 }).toISODate() }}"
              },
              {
                "lookupColumn": "text status",
                "lookupValue": "={{\"\"}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1072,
          992
        ],
        "id": "7ee85cac-8172-425d-b1c1-edb9189bbd11",
        "name": "Get row(s)",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "n1bU0OP2hCGK4EEO",
            "name": "Rida Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "ADh8wkopqVAhsuap",
            "mode": "list",
            "cachedResultUrl": "/workflow/ADh8wkopqVAhsuap",
            "cachedResultName": "Twillio status check sub workflow"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1568,
          1296
        ],
        "id": "8e44affc-6ca3-49d6-9864-bc45e8a161b1",
        "name": "Call 'Twillio status check sub workflow'"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1104,
          1232
        ],
        "id": "373cadc2-b161-4e5b-b31e-15125645576b",
        "name": "Loop Over Items3"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
            "mode": "list",
            "cachedResultName": "shift reminders",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1474171429,
            "mode": "list",
            "cachedResultName": "shifts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Employee UID",
                "lookupValue": "={{ $('Loop Over Items3').item.json.id }}"
              },
              {
                "lookupColumn": "Visit Start Date",
                "lookupValue": "={{ $now.plus({ days: 1 }).toISODate() }}"
              },
              {
                "lookupColumn": "text status",
                "lookupValue": "Processed - Pending SMS Confirmation"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1744,
          1296
        ],
        "id": "16c52e88-f630-4189-9e07-afc896474baa",
        "name": "Get row(s)2",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "n1bU0OP2hCGK4EEO",
            "name": "Rida Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "tkBPXeynRo3M6Wbw",
            "mode": "list",
            "cachedResultUrl": "/workflow/tkBPXeynRo3M6Wbw",
            "cachedResultName": "Caregiver shift reminders daily report sub workflow pt.2"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2304,
          1088
        ],
        "id": "1a4e2dbe-a825-45b7-a2af-0338e8fef4f6",
        "name": "Call 'Caregiver shift reminders daily report sub workflow pt.2'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "8l17q77MlAW1o3YX",
            "mode": "list",
            "cachedResultUrl": "/workflow/8l17q77MlAW1o3YX",
            "cachedResultName": "Caregiver shift reminders daily report sub workflow pt.1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2064,
          832
        ],
        "id": "8d1b4aff-51ee-4fe9-9694-7e94184a2376",
        "name": "Call 'Caregiver shift reminders daily report sub workflow pt.1'"
      },
      {
        "parameters": {
          "toRecipients": "rida@anagomb.ca,rlakhani@anagomb.ca",
          "subject": "=Shift Reminders Workflow Summary {{ $json.tomorrow }}",
          "bodyContent": "=Date: {{ $json.tomorrow }}\n{{ $json.message1 }}\n{{ $json.messagea }}\n{{ $json.message2 }}\n{{ $json.message3 }}\n{{ $json.message4 }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          3216,
          1184
        ],
        "id": "5832d449-201c-494c-9b61-c4bf9279af7e",
        "name": "Send a message1",
        "webhookId": "e6fe0c8b-a480-4d7a-86d7-c2ed8064c809",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "58F0urplGysVGdHg",
            "name": "Microsoft Outlook account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2672,
          960
        ],
        "id": "b91cf3fd-279a-4716-8a6a-56ffbaa5d568",
        "name": "Merge1"
      },
      {
        "parameters": {
          "amount": 1,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1824,
          1088
        ],
        "id": "bd90b80d-a145-4762-8723-d8425cec3f38",
        "name": "Wait3",
        "webhookId": "658f1ab3-52e0-4529-8c8f-b7ae06af6aca"
      },
      {
        "parameters": {
          "amount": 1,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1808,
          832
        ],
        "id": "2cd4bbe0-8dd5-4671-9c4f-36598347be78",
        "name": "Wait4",
        "webhookId": "ed1f2efe-da95-4f02-8dc1-d0f38f377df6"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
            "mode": "list",
            "cachedResultName": "shift reminders",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1474171429,
            "mode": "list",
            "cachedResultName": "shifts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "text status": "ERROR - Missing or undefined data (please check that shift is assigned and phone number is available for caregiver)",
              "row_number": "={{ $json.row_number }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "text status",
                "displayName": "text status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Employee UID",
                "displayName": "Employee UID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Employee Full Name",
                "displayName": "Employee Full Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Employee Email",
                "displayName": "Employee Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Employee Phone (Mobile)",
                "displayName": "Employee Phone (Mobile)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Client Full Name",
                "displayName": "Client Full Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Client Address",
                "displayName": "Client Address",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit Scheduled Duration",
                "displayName": "Visit Scheduled Duration",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit Start Date",
                "displayName": "Visit Start Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit Start Time",
                "displayName": "Visit Start Time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit Start Time of Day",
                "displayName": "Visit Start Time of Day",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit End Date",
                "displayName": "Visit End Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit End Time of Day",
                "displayName": "Visit End Time of Day",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit End Time",
                "displayName": "Visit End Time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1296,
          960
        ],
        "id": "69495694-3db1-4e33-8a82-6d7cbafe57ac",
        "name": "Update ERROR status2",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "n1bU0OP2hCGK4EEO",
            "name": "Rida Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
            "mode": "list",
            "cachedResultName": "shift reminders",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1474171429,
            "mode": "list",
            "cachedResultName": "shifts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $json.row_number }}",
              "text status": "Processed - Pending SMS Confirmation"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "text status",
                "displayName": "text status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Employee UID",
                "displayName": "Employee UID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Employee Full Name",
                "displayName": "Employee Full Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Employee Email",
                "displayName": "Employee Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Employee Phone (Mobile)",
                "displayName": "Employee Phone (Mobile)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Client Full Name",
                "displayName": "Client Full Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Client Address",
                "displayName": "Client Address",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit Scheduled Duration",
                "displayName": "Visit Scheduled Duration",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit Start Date",
                "displayName": "Visit Start Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit Start Time",
                "displayName": "Visit Start Time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit Start Time of Day",
                "displayName": "Visit Start Time of Day",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit End Date",
                "displayName": "Visit End Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit End Time of Day",
                "displayName": "Visit End Time of Day",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit End Time",
                "displayName": "Visit End Time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1280,
          992
        ],
        "id": "b75816c8-17cc-482f-87d2-4297f6f8f90f",
        "name": "Update status2",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "n1bU0OP2hCGK4EEO",
            "name": "Rida Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
            "mode": "list",
            "cachedResultName": "shift reminders",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1474171429,
            "mode": "list",
            "cachedResultName": "shifts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $json.row_number }}",
              "text status": "={{ $('Call \\'Twillio status check sub workflow\\'').item.json.STATUS }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "text status",
                "displayName": "text status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Employee UID",
                "displayName": "Employee UID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Employee Full Name",
                "displayName": "Employee Full Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Employee Email",
                "displayName": "Employee Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Employee Phone (Mobile)",
                "displayName": "Employee Phone (Mobile)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Client Full Name",
                "displayName": "Client Full Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Client Address",
                "displayName": "Client Address",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit Scheduled Duration",
                "displayName": "Visit Scheduled Duration",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit Start Date",
                "displayName": "Visit Start Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit Start Time",
                "displayName": "Visit Start Time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit Start Time of Day",
                "displayName": "Visit Start Time of Day",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit End Date",
                "displayName": "Visit End Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit End Time of Day",
                "displayName": "Visit End Time of Day",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit End Time",
                "displayName": "Visit End Time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1920,
          1296
        ],
        "id": "cba6f1b1-3dc4-492e-b85c-3dca9af2e4e4",
        "name": "Update status",
        "retryOnFail": false,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "n1bU0OP2hCGK4EEO",
            "name": "Rida Google Sheets account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          2064,
          1088
        ],
        "id": "00ee3e0c-0ee0-4ee4-9024-0f18282a2300",
        "name": "Limit1"
      },
      {
        "parameters": {
          "amount": 10
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1488,
          992
        ],
        "id": "a510d0a5-74d5-47a6-9e6c-723c05cb04cd",
        "name": "Wait2",
        "webhookId": "a3c93f02-3150-46bf-944c-2514c858e89d"
      },
      {
        "parameters": {
          "amount": 10
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1392,
          1296
        ],
        "id": "ee509973-a6d9-419d-9b14-8d8784e075b1",
        "name": "Wait5",
        "webhookId": "68921708-fb99-47bb-818f-ca65c35e4230"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\n/** @type {{ [key: string]: any }} */\nconst merged = {};\n\nfor (const item of items) {\n  if (!item || !item.json || typeof item.json !== 'object') continue;\n  for (const [key, value] of Object.entries(item.json)) {\n    // only set if the key isn't already present, otherwise overwrite intentionally:\n    merged[key] = value;\n  }\n}\n\nreturn [\n  {\n    json: merged,\n  },\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2880,
          960
        ],
        "id": "bc6c18ba-c957-4503-a8ae-b5bd91229ab0",
        "name": "Code in JavaScript4"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "bd17a6b6-fc72-4386-8d2b-46777feefb41",
                "leftValue": "={{ $json['text status'] }}",
                "rightValue": "SENT",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "132d917f-871d-454a-b2a7-c7f04fe34565",
                "leftValue": "={{ $json['text status'] }}",
                "rightValue": "ERROR - Missing or undefined data (please check that shift is assigned and phone number is available for caregiver)",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "b74eb76d-e5e8-4a22-9435-091e37a847d9",
                "leftValue": "={{ $json['text status'] }}",
                "rightValue": "FAILED",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "b132468a-bc03-4438-9b45-c20914e72d40",
                "leftValue": "={{ $json['text status'] }}",
                "rightValue": "Processed - Pending SMS Confirmation",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "667a2989-7ac7-4ef3-b0ae-99ba071cdd40",
                "leftValue": "={{ $json['text status'] }}",
                "rightValue": 0,
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2272,
          1168
        ],
        "id": "48f8a972-acca-44a7-8e54-db64e24e9e08",
        "name": "If",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "9ecf8f56-7b92-40e3-9d97-4d57e4bbe8e8",
                "leftValue": "={{ $json.row_number }}",
                "rightValue": 0,
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2048,
          1136
        ],
        "id": "df98fcab-4767-4fd2-af67-734cb638c240",
        "name": "If1"
      },
      {
        "parameters": {
          "toRecipients": "rida@anagomb.ca,rlakhani@anagomb.ca,taz@rahwinnipeg.ca",
          "subject": "=URGENT - Shift Reminders Workflow NOT RUN",
          "bodyContent": "=Due to lack of shifts in Shift Reminders Sheet for {{ $now.plus({ days: 1 }).toISODate() }}, the workflow was not able to proceed and no messages were sent to caregivers. Please correct this and rerun workflow as soon as possible.",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          -1824,
          704
        ],
        "id": "ae51ee50-b773-47a1-9682-65f8bb3e92c5",
        "name": "Send a message2",
        "webhookId": "e6fe0c8b-a480-4d7a-86d7-c2ed8064c809",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "58F0urplGysVGdHg",
            "name": "Microsoft Outlook account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "sendTo": "rida@anagomb.ca,rlakhani@anagomb.ca,taz@rahwinnipeg.ca",
          "subject": "URGENT - Shift Reminders Workflow NOT RUN",
          "message": "=Due to lack of shifts in Shift Reminders Sheet for {{ $now.plus({ days: 1 }).toISODate() }}, the workflow was not able to proceed and no messages were sent to caregivers. Please correct this and rerun workflow as soon as possible.",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          -1696,
          864
        ],
        "id": "af05d2b0-a894-4e50-bce6-fde8254ad7a5",
        "name": "Send a message",
        "webhookId": "59fe5336-14c4-4613-85de-2ec1d7ab8490",
        "credentials": {
          "gmailOAuth2": {
            "id": "VtFSlT7rgOw5EZZK",
            "name": "Rida Gmail account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "rida@anagomb.ca,rlakhani@anagomb.ca",
          "subject": "=Shift Reminders Workflow Summary {{ $json.tomorrow }}",
          "message": "=Date: {{ $json.tomorrow }} | \n{{ $json.message1 }} | \n{{ $json.messagea }} | \n{{ $json.message2 }} | \n{{ $json.message3 }} | \n{{ $json.message4 }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          3152,
          960
        ],
        "id": "58e5bbe6-39f2-4d9b-a6cd-faf61d9f5d87",
        "name": "Send a message3",
        "webhookId": "6bd753b6-07d9-4187-a9ee-cb78590ed265",
        "credentials": {
          "gmailOAuth2": {
            "id": "VtFSlT7rgOw5EZZK",
            "name": "Rida Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
            "mode": "list",
            "cachedResultName": "shift reminders",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 774722924,
            "mode": "list",
            "cachedResultName": "testing",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=774722924"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $json.row_number }}",
              "text status": "={{ $('Call \\'Twillio status check sub workflow\\'').item.json.STATUS }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "text status",
                "displayName": "text status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Employee UID",
                "displayName": "Employee UID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Employee Full Name",
                "displayName": "Employee Full Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Employee Email",
                "displayName": "Employee Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Employee Phone (Mobile)",
                "displayName": "Employee Phone (Mobile)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Client Full Name",
                "displayName": "Client Full Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Client Address",
                "displayName": "Client Address",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit Scheduled Duration",
                "displayName": "Visit Scheduled Duration",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit Start Date",
                "displayName": "Visit Start Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit Start Time",
                "displayName": "Visit Start Time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit Start Time of Day",
                "displayName": "Visit Start Time of Day",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit End Date",
                "displayName": "Visit End Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit End Time of Day",
                "displayName": "Visit End Time of Day",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Visit End Time",
                "displayName": "Visit End Time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2240,
          1504
        ],
        "id": "8ada0f78-08cd-4d53-896b-cbeec777e278",
        "name": "Update status1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "n1bU0OP2hCGK4EEO",
            "name": "Rida Google Sheets account"
          }
        },
        "disabled": true
      }
    ],
    "connections": {
      "Get shift and caregiver information from sheet": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daily Trigger": {
        "main": [
          [
            {
              "node": "Get shift and caregiver information from sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Caregiver assignment and phone number check": {
        "main": [
          [
            {
              "node": "Update ERROR status2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Filter tomorrow's shifts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter tomorrow's shifts": {
        "main": [
          [
            {
              "node": "Group by caregiver",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Group by caregiver": {
        "main": [
          [
            {
              "node": "Generate message text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate message text": {
        "main": [
          [
            {
              "node": "Format phone number",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format phone number": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Loop Over Items3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            },
            {
              "node": "Call 'Twillio sub workflow copy'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Twillio sub workflow copy'": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Code in JavaScript3": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Code in JavaScript3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items2": {
        "main": [
          [
            {
              "node": "Wait4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "Update status2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Twillio status check sub workflow'": {
        "main": [
          [
            {
              "node": "Get row(s)2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items3": {
        "main": [
          [
            {
              "node": "Wait3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)2": {
        "main": [
          [
            {
              "node": "Update status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Caregiver shift reminders daily report sub workflow pt.2'": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Call 'Caregiver shift reminders daily report sub workflow pt.1'": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Code in JavaScript4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait3": {
        "main": [
          [
            {
              "node": "Limit1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait4": {
        "main": [
          [
            {
              "node": "Call 'Caregiver shift reminders daily report sub workflow pt.1'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update status2": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update status": {
        "main": [
          [
            {
              "node": "Loop Over Items3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit1": {
        "main": [
          [
            {
              "node": "Call 'Caregiver shift reminders daily report sub workflow pt.2'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait5": {
        "main": [
          [
            {
              "node": "Call 'Twillio status check sub workflow'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript4": {
        "main": [
          [
            {
              "node": "Send a message3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Caregiver assignment and phone number check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Raf Lakhani",
    "name": "Version e2ec01d4",
    "description": "",
    "autosaved": true
  },
  "tags": []
}