Backup_2026-05-11/Company Leads Generation - Google Maps  Scraper Actor 2
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Website: {{ $json.body.rowValues[0]['2'] }}\nEmail: {{ $json.body.rowValues[0]['3'] }}\n\nTask:\n1. Research the website and email to find company name, address, and phone number.\n2. Generate a cold outreach email from Anago Cleaning Systems Manitoba offering a free site inspection and no-commitment cleaning quote.\n3. Append these results to the Google Sheet using the `append_to_google_sheet` tool.",
        "options": {
          "systemMessage": "You are a B2B lead generation assistant for Anago Cleaning Systems Manitoba.\n\nProcess you must always follow:\n1. Accept a company’s website and email address as inputs.\n2. Research the company using its website and any public sources to identify:\n   - Company name\n   - Company physical address\n   - Company phone number\n3. Generate a personalized cold outreach email that:\n   - Introduces Anago Cleaning Systems Manitoba\n   - Offers a free, no-commitment cleaning quote\n   - Suggests a complimentary site inspection\n   - Uses a professional but approachable tone\n   - Is concise and encourages a reply\n4. Call the tool `append_to_google_sheet` EXACTLY ONCE to append one row containing:\n   [website, email, company name, address, phone, outreach email draft]\n\nConstraints:\n- If any detail cannot be found, use an empty string \"\" for that field, but still call the tool.\n- Do not hallucinate company details; only use verifiable info.\n- Do not return text directly to the user. You must always finish by appending the row with the tool.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        4640,
        1856
      ],
      "id": "17cda02e-666a-44f7-b8f6-d0af9cc78ab8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4576,
        2032
      ],
      "id": "42feac51-077f-4c3b-9a6d-7446d09a5363",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "25929508-50dd-4b55-b1b0-63cb11ce4127",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4000,
        1776
      ],
      "id": "b0fa4c99-4466-4183-9dd5-a757aa8985d9",
      "name": "Webhook1",
      "webhookId": "25929508-50dd-4b55-b1b0-63cb11ce4127"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Itzxu689Gg6VmTLohwiLZ2KTIhzK46xZvNJbB-4Sqo0",
          "mode": "list",
          "cachedResultName": "Copy of Lead Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Itzxu689Gg6VmTLohwiLZ2KTIhzK46xZvNJbB-4Sqo0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1551800884,
          "mode": "list",
          "cachedResultName": "Leads n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Itzxu689Gg6VmTLohwiLZ2KTIhzK46xZvNJbB-4Sqo0/edit#gid=1551800884"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Company_Name', ``, 'string') }}",
            "Address": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Address', ``, 'string') }}",
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Email Address": "={{ $json.body.rowValues[0]['3'] }}",
            "Email Draft": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email_Draft', ``, 'string') }}"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Draft",
              "displayName": "Email Draft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        4832,
        2064
      ],
      "id": "f7856595-6dd3-4a72-a247-49e0af13cd6e",
      "name": "Update row in sheet in Google Sheets"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4208,
        1776
      ],
      "id": "561620e4-f371-443c-85eb-61ba2982889f",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "content": "## Leads research w/ company website and cold email generation as Anago",
        "height": 112,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4384,
        1568
      ],
      "id": "23c8bfe7-aa5d-4f45-8679-d967b0b8fe4c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12hQkR66riOTSxuxbz0376fNLn896i_eRISL61K_Fxgg",
          "mode": "list",
          "cachedResultName": "Lead Generator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12hQkR66riOTSxuxbz0376fNLn896i_eRISL61K_Fxgg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12hQkR66riOTSxuxbz0376fNLn896i_eRISL61K_Fxgg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $('Lead Info').item.json['First Name'] }}",
            "Last Name": "={{ $('Lead Info').item.json['Last Name'] }}",
            "Company": "={{ $('Lead Info').item.json.Company }}",
            "Company Website": "={{ $('Lead Info').item.json['Company Website'] }}",
            "Job Title": "={{ $('Lead Info').item.json['Job Title'] }}",
            "LinkedIn URL": "={{ $('Lead Info').item.json['LinkedIn URL'] }}",
            "Headline": "={{ $('Lead Info').item.json['Job Title'] }} at {{ $('Lead Info').item.json.Company }}",
            "Email Address": "={{ $('Lead Info').item.json['Email Address'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Research",
              "displayName": "Research",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Personalized Message",
              "displayName": "Personalized Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Row",
              "displayName": "Row",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5584,
        2976
      ],
      "id": "5412d246-83f7-45a1-b0c2-c2f6cc0e4cc3",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97bddfcc-2866-4a30-bd8b-32ee0ba6a3e5",
              "name": "First Name",
              "value": "John",
              "type": "string"
            },
            {
              "id": "50b0e8b1-d358-471d-af81-9fc5d9cb7777",
              "name": "Last Name",
              "value": "Doe",
              "type": "string"
            },
            {
              "id": "fb652006-1129-4253-8286-8194dbfd2d82",
              "name": "Company Name",
              "value": "Ultra Cool Realty",
              "type": "string"
            },
            {
              "id": "b224c104-e3d5-4c2b-b1ca-d54172306d21",
              "name": "About",
              "value": "John has consistently ranked among the top-performing agents in his market, closing multi-million-dollar transactions year after year. His track record includes record-breaking sales and repeat business from a loyal client base built on trust and results.",
              "type": "string"
            },
            {
              "id": "4930067e-88f3-4066-967f-b45012788cb4",
              "name": "Email",
              "value": "itsridalakhani@gmail.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5376,
        2976
      ],
      "id": "7a298f33-53cb-4bdf-b182-1e0802c23662",
      "name": "About Me"
    },
    {
      "parameters": {
        "formTitle": "Real Estate Lead Gen",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name",
              "placeholder": "Jane"
            },
            {
              "fieldLabel": "Last Name",
              "placeholder": "Doe"
            },
            {
              "fieldLabel": "Company",
              "placeholder": "McDonalds"
            },
            {
              "fieldLabel": "Job Title",
              "placeholder": "Manager"
            },
            {
              "fieldLabel": "Email Address",
              "placeholder": "janedoe123@gmail.com"
            },
            {
              "fieldLabel": "Company Website",
              "placeholder": "https://mcdonalds.ca"
            },
            {
              "fieldLabel": "LinkedIn URL",
              "placeholder": "https://www.linkedin.com/in/jane-doe-123456789/"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        5184,
        2976
      ],
      "id": "39b8998e-c9ae-4db0-ac14-e1f7075e75b0",
      "name": "Lead Info",
      "webhookId": "cb3791e3-717f-4f7a-9166-18d60a7f91bd"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-search-preview",
          "mode": "list",
          "cachedResultName": "GPT-4O-SEARCH-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "=research every thing you can about this person:\n{{ $json['First Name'] }}{{ $json['Last Name'] }}\n\n{{ $json['Job Title'] }}\n{{ $json.Company }}\n\n{{ $json.Headline }}\n\nreturn any particularly interesting facts or accomplishments this person has achieved.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        5776,
        2976
      ],
      "id": "f3328810-0634-4eb1-b025-e13501bb781e",
      "name": "Message a model"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the current item's message content\nconst message = item.json.message?.content;\n\n// Function to clean text but keep headings/bullets\nfunction cleanText(str) {\n  if (typeof str !== 'string') return str;\n\n  // 1. Remove URLs\n  str = str.replace(/https?:\\/\\/\\S+/g, '');\n\n  // 2. Remove bold or italic markdown (**text** or *text*)\n  str = str.replace(/\\*\\*(.*?)\\*\\*/g, '$1'); // bold\n  str = str.replace(/\\*(.*?)\\*/g, '$1');     // italic\n\n  // 3. Remove unnecessary trailing spaces\n  str = str.replace(/[ \\t]+$/gm, '');\n\n  // 4. Collapse multiple empty lines to a single line\n  str = str.replace(/\\n{2,}/g, '\\n\\n');\n\n  // 5. Trim start and end\n  str = str.trim();\n\n  return str;\n}\n\n// Return cleaned message\nreturn {\n  json: {\n    ...item.json,\n    message: cleanText(message)\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6128,
        2976
      ],
      "id": "a49de786-1f2f-4cf1-83c2-231ebcf63b5a",
      "name": "Code"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-search-preview",
          "mode": "list",
          "cachedResultName": "GPT-4O-SEARCH-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a succinct summary about this company, include 3 bullet points about anything particularly interesting, or notable theyve accomplished\n\n{{ $('Lead Info').item.json.Company }}\n{{ $('Lead Info').item.json['Company Website'] }}\n\n{{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        6320,
        2976
      ],
      "id": "7e096114-3ee3-4811-b5bd-959b27e437d4",
      "name": "Message a model1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "messages": {
          "values": [
            {
              "content": "=First Name: {{ $('Lead Info').item.json['First Name'] }}\n\nHeadline: {{ $('Lead Info').item.json['Job Title'] }} at {{ $('Lead Info').item.json.Company }}\n\nJob Title: {{ $('Lead Info').item.json['Job Title'] }}\n\nCompany Name: {{ $('Lead Info').item.json.Company }}\n\nPersonal Research: {{ $('Message a model').item.json.message.content }}\n\nCompany Research: {{ $json.message.content }}\n\nUse a casual, spartan tone. Write like you're talking to a friend.\n\nNEVER output intros or outros. You MUST only output the personalized message.\nALWAYS follow the template structure AS CLOSELY AS POSSIBLE!!"
            },
            {
              "content": "=# Generic Cold Email Outreach System\n\nYou are an expert in cold email outreach. You wil be given a prospect's first name, their job title and company, reseach about them and their company, plus information about the sender's business. Your task is to generate a personalized cold email with this information.\n\n## Input Data You'll Receive\n\nProspect Information:\n- First Name\n- Last Name\n- Job Title\n- Company Name\n- Research about them/their company\n\nSender Business Information:\n- Information about the user's business (services, capabilities, recent projects, etc.)\n- First Name: {{ $('About Me').item.json['First Name'] }}\n- Last Name: {{ $('About Me').item.json['Last Name'] }}\n- Business Name: {{ $('About Me').item.json['Company Name'] }}\n- about their business: {{ $('About Me').item.json.About }}\n\n## Email Template Structure\n\nTemplate:\n\nHi [First Name] - \n\nreally enjoyed [specific reference to their recent project, company milestone, or relevant detail from reserach].\n\nI run [Company Name from business info], [brief description of what the business does]. \n\n[Bridge statement - why reaching out and connection to their needs]\n\nI'm confident enough in our work that [risk reversal guarantee based on business type].\n\nWould you be open to a quick 15-minute call to discuss how we might support your next project? How's [time #1] or [time #2]?\n\nThanks!\n- [Sender name from business info]\n[Title], [Company Name]\n\n## Email Generation Process\n\n1. Analyze the prospect reseach to find specific, recent details to reference in the opening\n2. Extract key business details from the sender's business information (company name, services, recent projects)\n3. Match services to prospect needs based on their job title, company, and research\n4. Create relevant bridge statement connecting why you're reaching out to their likely needs\n5. Generate appropriate risk reversal based on the type of business and services offerend\n6. Complete the remplate with all peresonalized elements\n\n## Personalization Guidelines\n\n- Opening hook: Refence something specific form the reserach that shows genuine interest\n- Service description: Briefly explain what the business does in terms relevant to the prospect\n- Recent accomplishemt: Use something from business info that owuld impress this type of prospect\n- Bridge statement: Connect your outreach to their likely needs or challenges\n- Risk reversal: Create a guarantee that addresses common concerns for their industry/role\n\n## Quality standards \n\n- Keep emails under 100 words\n- Use conversational, confident tone\n- Include specifc details from research\n- Make value proposition clear\n- Ensure risk reversal is credible\n- Use proper grammer and formatting\n\nGenerate one complete, personalized email using the provided prospect and business information.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        6672,
        2976
      ],
      "id": "12962131-a696-4dba-aa69-979f575c98b8",
      "name": "Message a model2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12hQkR66riOTSxuxbz0376fNLn896i_eRISL61K_Fxgg",
          "mode": "list",
          "cachedResultName": "Lead Generator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12hQkR66riOTSxuxbz0376fNLn896i_eRISL61K_Fxgg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12hQkR66riOTSxuxbz0376fNLn896i_eRISL61K_Fxgg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $('Lead Info').item.json.Company }}",
            "Personalized Message": "={{ $json.message.content }}"
          },
          "matchingColumns": [
            "Company"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Research",
              "displayName": "Research",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Personalized Message",
              "displayName": "Personalized Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Row",
              "displayName": "Row",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7024,
        2976
      ],
      "id": "d2b9983f-fef5-429a-80f3-6e9e1fce46e6",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "sendTo": "={{ $('About Me').item.json.Email }}",
        "subject": "Your New Leads Are Ready!",
        "message": "=Hi {{ $('About Me').item.json['First Name'] }} {{ $('About Me').item.json['Last Name'] }}!\n\nYour new leads are ready! \nCheck your updated google sheet to review them :)\n\nBest Regards,\nThe Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        7232,
        2976
      ],
      "id": "cd2e7875-6922-41c7-823f-4e83b0006cd4",
      "name": "Send a message",
      "webhookId": "9b51599a-44d3-459c-9b2c-538c8310e49e"
    },
    {
      "parameters": {
        "content": "## - intakes inputted lead infos (name, contanct, linkedin)\n## - inputs leads infos into sheet\n## - conducts researh on lead\n## - writes cold email for lead\n## - inputs email text into sheet\n## - prompts via email",
        "height": 256,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5392,
        2576
      ],
      "id": "22b8d47f-9c7a-4eec-9d58-df82009e7ae5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "29d9b7a2-f80f-409f-ac6a-1644e9e569a0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        7600,
        2928
      ],
      "id": "b7b3d476-7787-46af-bb87-2a4690889c13",
      "name": "Webhook",
      "webhookId": "29d9b7a2-f80f-409f-ac6a-1644e9e569a0"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b5c86485-11ec-425d-8aa1-fa96559bcddc",
              "leftValue": "={{ $json.body.value }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        7808,
        2928
      ],
      "id": "a14cc53b-769a-44e0-ada6-1d0c6c7f9989",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3d5f2b2-cc3f-457a-ad29-215621ff39c8",
              "leftValue": "={{ $json.body.range.columnStart }}",
              "rightValue": 11,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "44bf3991-b51f-4b64-a350-49cf32669a64",
              "leftValue": "={{ $json.body.range.columnStart }}",
              "rightValue": 23,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        8016,
        2928
      ],
      "id": "99b411d2-573d-4a26-959c-d8884c225d44",
      "name": "Filter1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3d5ccd4-25db-44d7-a55a-d9c622804faa",
              "leftValue": "={{ $json.body.range.columnStart }}",
              "rightValue": 11,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8224,
        2928
      ],
      "id": "f9b87ed5-a0a0-4e26-9d5a-792dd0904ffb",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "001a7f50-df8b-4302-abbc-6aa77da7274d",
              "leftValue": "={{ $('Webhook').item.json.body.rowValues[0]['11'] }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        8432,
        2832
      ],
      "id": "a0575899-80ae-40a4-bf9d-5489e0313ed6",
      "name": "Filter2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6566aec5-ed6f-46bd-ad31-8f46bd559ed9",
              "leftValue": "={{ $json.body.rowValues[0]['23'] }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        8432,
        3040
      ],
      "id": "89438fc3-00ad-497a-b82b-b3071ea9b55a",
      "name": "Filter3"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.body.rowValues[0]['19'] }}",
        "subject": "={{ $json.body.rowValues[0]['21'] }}",
        "bodyContent": "={{ $json.body.rowValues[0]['20'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        8624,
        3040
      ],
      "id": "8bd1b5e8-edee-47c8-9af9-37597e7a99f7",
      "name": "Send a message1",
      "webhookId": "7099f53e-cb54-43c4-b7fe-ff797bdf1929"
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Webhook').item.json.body.rowValues[0]['7'] }}",
        "subject": "={{ $('Webhook').item.json.body.rowValues[0]['9'] }}",
        "bodyContent": "={{ $('Webhook').item.json.body.rowValues[0]['8'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        8640,
        2832
      ],
      "id": "671d6fc4-a289-4ce1-9cab-f3a4a1eda962",
      "name": "Send a message2",
      "webhookId": "1d04bfc7-4eb6-49f9-b9f2-0c34e5a2eda6"
    },
    {
      "parameters": {
        "content": "## Lindy Monitor - once lindy emails reviewed and approved, email will be sent (filter checks which of the 2 leads for the company was approved and sends accordingly)",
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7696,
        2672
      ],
      "id": "442970f1-5b01-4e20-a1cf-ac059d320c8d",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "About Me": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Info": {
      "main": [
        [
          {
            "node": "About Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Append row in sheet": [
      {
        "First Name": "Taz",
        "Last Name": "Lakhani",
        "Company": "Right At Home Winnipeg",
        "Company Website": "https://www.rightathomecanada.com/winnipeg",
        "Job Title": "Owner",
        "LinkedIn URL": "https://www.linkedin.com/in/taz-lakhani-26a87729/",
        "Headline": "Owner at Right At Home Winnipeg",
        "Email Address": "lakhanimumtaz@gmail.com"
      }
    ],
    "About Me": [
      {
        "First Name": "John",
        "Last Name": "Doe",
        "Company Name": "Ultra Cool Realty",
        "About": "John has consistently ranked among the top-performing agents in his market, closing multi-million-dollar transactions year after year. His track record includes record-breaking sales and repeat business from a loyal client base built on trust and results.",
        "Email": "itsridalakhani@gmail.com"
      }
    ],
    "Lead Info": [
      {
        "First Name": "Taz",
        "Last Name": "Lakhani",
        "Company": "Right At Home Winnipeg",
        "Job Title": "Owner",
        "Email Address": "lakhanimumtaz@gmail.com",
        "Company Website": "https://www.rightathomecanada.com/winnipeg",
        "LinkedIn URL": "https://www.linkedin.com/in/taz-lakhani-26a87729/",
        "submittedAt": "2025-08-17T16:58:03.856-05:00",
        "formMode": "test"
      }
    ],
    "Message a model": [
      {
        "index": 0,
        "message": {
          "role": "assistant",
          "content": "Taz Lakhani serves as the Director of Care at Right at Home Winnipeg, a home care company established in 2018. Under her leadership, the organization has achieved significant recognition for its commitment to quality care.\n\nIn October 2024, Right at Home Winnipeg was honored with the \"RAH Top Performer Award\" at the Right at Home National Conference in Ottawa. This award acknowledges caregivers who consistently provide exceptional in-home care services. Lakhani accepted the award on behalf of her team, expressing pride in their dedication and the positive feedback received from clients. ([rightathomecanada.com](https://www.rightathomecanada.com/winnipeg/blog/press-release-top-performer-award?utm_source=openai))\n\nAdditionally, in 2023, the company received the Consumer Choice Award in the Home Healthcare Services category. This accolade is based on consumer feedback and recognizes businesses for outstanding customer service and satisfaction. ([rightathomecanada.com](https://www.rightathomecanada.com/winnipeg/blog/rah-wins-consumer-choice-award-for-2023?utm_source=openai))\n\nBeyond her role at Right at Home Winnipeg, Lakhani has been active in the community. In 2018, she participated in the Leadership Winnipeg program, which aims to develop leadership skills and community engagement among its participants. ([wcc.thelizardlab.net](https://wcc.thelizardlab.net/category/chamber-blog/page/19/?utm_source=openai))\n\nFurthermore, Lakhani contributed her expertise to the \"All Things Seniors\" podcast in April 2020, discussing the impact of COVID-19 on seniors and caregivers. Her insights provided valuable guidance during a challenging time for the community. ([toppodcast.com](https://toppodcast.com/podcast_feeds/all-things-seniors-a-podcast-for-caregivers/?utm_source=openai))\n\nThrough these accomplishments, Taz Lakhani has demonstrated a strong commitment to enhancing home care services and supporting the well-being of seniors in Winnipeg. ",
          "refusal": null,
          "annotations": [
            {
              "type": "url_citation",
              "url_citation": {
                "end_index": 720,
                "start_index": 594,
                "title": "Winnipeg Home Care Company Recognized With Top Performer Award",
                "url": "https://www.rightathomecanada.com/winnipeg/blog/press-release-top-performer-award?utm_source=openai"
              }
            },
            {
              "type": "url_citation",
              "url_citation": {
                "end_index": 1087,
                "start_index": 955,
                "title": "Right at Home Winnipeg Receives Consumer Choice Award For 2023",
                "url": "https://www.rightathomecanada.com/winnipeg/blog/rah-wins-consumer-choice-award-for-2023?utm_source=openai"
              }
            },
            {
              "type": "url_citation",
              "url_citation": {
                "end_index": 1428,
                "start_index": 1325,
                "title": "Chamber Blog Archives | Page 19 of 38 | VL Winnipeg Chamber of Commerce",
                "url": "https://wcc.thelizardlab.net/category/chamber-blog/page/19/?utm_source=openai"
              }
            },
            {
              "type": "url_citation",
              "url_citation": {
                "end_index": 1793,
                "start_index": 1674,
                "title": "All Things Seniors: A Podcast For Caregivers - TopPodcast.com",
                "url": "https://toppodcast.com/podcast_feeds/all-things-seniors-a-podcast-for-caregivers/?utm_source=openai"
              }
            }
          ]
        },
        "finish_reason": "stop"
      }
    ],
    "Code": [
      {
        "index": 0,
        "message": "Taz Lakhani serves as the Director of Care at Right at Home Winnipeg, a home care company established in 2018. Under her leadership, the organization has achieved significant recognition for its commitment to quality care.\n\nIn October 2024, Right at Home Winnipeg was honored with the \"RAH Top Performer Award\" at the Right at Home National Conference in Ottawa. This award acknowledges caregivers who consistently provide exceptional in-home care services. Lakhani accepted the award on behalf of her team, expressing pride in their dedication and the positive feedback received from clients. ([rightathomecanada.com](\n\nAdditionally, in 2023, the company received the Consumer Choice Award in the Home Healthcare Services category. This accolade is based on consumer feedback and recognizes businesses for outstanding customer service and satisfaction. ([rightathomecanada.com](\n\nBeyond her role at Right at Home Winnipeg, Lakhani has been active in the community. In 2018, she participated in the Leadership Winnipeg program, which aims to develop leadership skills and community engagement among its participants. ([wcc.thelizardlab.net](\n\nFurthermore, Lakhani contributed her expertise to the \"All Things Seniors\" podcast in April 2020, discussing the impact of COVID-19 on seniors and caregivers. Her insights provided valuable guidance during a challenging time for the community. ([toppodcast.com](\n\nThrough these accomplishments, Taz Lakhani has demonstrated a strong commitment to enhancing home care services and supporting the well-being of seniors in Winnipeg.",
        "finish_reason": "stop"
      }
    ],
    "Message a model1": [
      {
        "index": 0,
        "message": {
          "role": "assistant",
          "content": "Right at Home Winnipeg, established in 2018, is a home care company dedicated to supporting clients in living successfully at home, regardless of their mental, physical, or emotional needs. Their services include companion care, personal care, nursing care, and specialty services tailored to individual requirements. ([rightathomecanada.com](https://www.rightathomecanada.com/winnipeg?utm_source=openai))\n\nNotable accomplishments:\n\n- **RAH Top Performer Award (2024):** In October 2024, Right at Home Winnipeg received the \"RAH Top Performer Award\" at the Right at Home National Conference in Ottawa, recognizing caregivers who consistently provide exceptional in-home care services. ([rightathomecanada.com](https://www.rightathomecanada.com/winnipeg/blog/press-release-top-performer-award?utm_source=openai))\n\n- **Consumer Choice Award (2023):** The company was honored with the Consumer Choice Award in the Home Healthcare Services category in 2023, reflecting outstanding customer service and satisfaction based on consumer feedback. ([rightathomecanada.com](https://www.rightathomecanada.com/winnipeg/blog/rah-wins-consumer-choice-award-for-2023?utm_source=openai))\n\n- **Leadership in Community Engagement:** Director of Care, Taz Lakhani, participated in the Leadership Winnipeg program in 2018, aiming to develop leadership skills and community engagement among its participants. ",
          "refusal": null,
          "annotations": [
            {
              "type": "url_citation",
              "url_citation": {
                "end_index": 405,
                "start_index": 318,
                "title": "Private Home Care Winnipeg | Senior In-Home Care & Assistance",
                "url": "https://www.rightathomecanada.com/winnipeg?utm_source=openai"
              }
            },
            {
              "type": "url_citation",
              "url_citation": {
                "end_index": 811,
                "start_index": 685,
                "title": "Winnipeg Home Care Company Recognized With Top Performer Award",
                "url": "https://www.rightathomecanada.com/winnipeg/blog/press-release-top-performer-award?utm_source=openai"
              }
            },
            {
              "type": "url_citation",
              "url_citation": {
                "end_index": 1171,
                "start_index": 1039,
                "title": "Right at Home Winnipeg Receives Consumer Choice Award For 2023",
                "url": "https://www.rightathomecanada.com/winnipeg/blog/rah-wins-consumer-choice-award-for-2023?utm_source=openai"
              }
            }
          ]
        },
        "finish_reason": "stop"
      }
    ],
    "Message a model2": [
      {
        "index": 0,
        "message": {
          "role": "assistant",
          "content": "Hi Taz -\n\nreally enjoyed seeing Right at Home Winnipeg win the 2024 RAH Top Performer—great follow-up to your 2023 Consumer Choice.\n\nI run Ultra Cool Realty, a top-performing agent closing multi‑million‑dollar deals.\n\nReaching out because growth often means new or better office space; we find locations and negotiate terms fast.\n\nI’m confident enough that if we can’t beat your current terms, you owe nothing.\n\nOpen to a quick 15‑min call to explore? How’s Tue 10:00 or Thu 2:00?\n\nThanks!\n- John Doe\nReal Estate Agent, Ultra Cool Realty",
          "refusal": null,
          "annotations": []
        },
        "finish_reason": "stop"
      }
    ],
    "Update row in sheet": [
      {
        "Company": "Right At Home Winnipeg",
        "Personalized Message": "Hi Taz -\n\nreally enjoyed seeing Right at Home Winnipeg win the 2024 RAH Top Performer—great follow-up to your 2023 Consumer Choice.\n\nI run Ultra Cool Realty, a top-performing agent closing multi‑million‑dollar deals.\n\nReaching out because growth often means new or better office space; we find locations and negotiate terms fast.\n\nI’m confident enough that if we can’t beat your current terms, you owe nothing.\n\nOpen to a quick 15‑min call to explore? How’s Tue 10:00 or Thu 2:00?\n\nThanks!\n- John Doe\nReal Estate Agent, Ultra Cool Realty"
      }
    ],
    "Send a message": [
      {
        "id": "198ba0b129c81ba0",
        "threadId": "198ba0b129c81ba0",
        "labelIds": [
          "UNREAD",
          "SENT",
          "INBOX"
        ]
      }
    ],
    "Webhook": [
      {
        "headers": {
          "host": "n8n.204it.ca",
          "user-agent": "Mozilla/5.0 (compatible; Google-Apps-Script; beanserver; +https://script.google.com; id: UAEmdDd-qeDr5PaDpWjoApudpAz9KpVn0wg)",
          "content-length": "544",
          "accept-encoding": "gzip, deflate, br",
          "content-type": "application/json",
          "x-forwarded-for": "34.98.136.32",
          "x-forwarded-host": "n8n.204it.ca",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "56106bb26c1c",
          "x-real-ip": "34.98.136.32"
        },
        "params": {},
        "query": {},
        "body": {
          "spreadsheetId": "1QEIMtDm4OLqOUJL_3EhqrhUGbyk98pJRRnQnTXabjj0",
          "spreadsheetName": "Lead Generation",
          "sheetId": 0,
          "sheetName": "Leads",
          "rangeA1Notation": "W2",
          "range": {
            "columnEnd": 23,
            "columnStart": 23,
            "rowEnd": 2,
            "rowStart": 2
          },
          "oldValue": "false",
          "value": "TRUE",
          "user": {
            "email": "itsridalakhani@gmail.com",
            "nickname": "itsridalakhani"
          },
          "rowValues": [
            {
              "0": "",
              "1": "",
              "2": "",
              "3": "",
              "4": "",
              "5": "",
              "6": "",
              "7": "",
              "8": "",
              "9": "",
              "10": false,
              "11": false,
              "12": "",
              "13": "",
              "14": "",
              "15": "",
              "16": "",
              "17": "",
              "18": "",
              "19": "",
              "20": "",
              "21": "",
              "22": true,
              "23": false,
              "24": ""
            }
          ]
        },
        "webhookUrl": "https://n8n.204it.ca/webhook-test/29d9b7a2-f80f-409f-ac6a-1644e9e569a0",
        "executionMode": "test"
      }
    ],
    "Filter": [
      {
        "headers": {
          "host": "n8n.204it.ca",
          "user-agent": "Mozilla/5.0 (compatible; Google-Apps-Script; beanserver; +https://script.google.com; id: UAEmdDd-qeDr5PaDpWjoApudpAz9KpVn0wg)",
          "content-length": "544",
          "accept-encoding": "gzip, deflate, br",
          "content-type": "application/json",
          "x-forwarded-for": "34.98.136.32",
          "x-forwarded-host": "n8n.204it.ca",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "56106bb26c1c",
          "x-real-ip": "34.98.136.32"
        },
        "params": {},
        "query": {},
        "body": {
          "spreadsheetId": "1QEIMtDm4OLqOUJL_3EhqrhUGbyk98pJRRnQnTXabjj0",
          "spreadsheetName": "Lead Generation",
          "sheetId": 0,
          "sheetName": "Leads",
          "rangeA1Notation": "W2",
          "range": {
            "columnEnd": 23,
            "columnStart": 23,
            "rowEnd": 2,
            "rowStart": 2
          },
          "oldValue": "false",
          "value": "TRUE",
          "user": {
            "email": "itsridalakhani@gmail.com",
            "nickname": "itsridalakhani"
          },
          "rowValues": [
            {
              "0": "",
              "1": "",
              "2": "",
              "3": "",
              "4": "",
              "5": "",
              "6": "",
              "7": "",
              "8": "",
              "9": "",
              "10": false,
              "11": false,
              "12": "",
              "13": "",
              "14": "",
              "15": "",
              "16": "",
              "17": "",
              "18": "",
              "19": "",
              "20": "",
              "21": "",
              "22": true,
              "23": false,
              "24": ""
            }
          ]
        },
        "webhookUrl": "https://n8n.204it.ca/webhook-test/29d9b7a2-f80f-409f-ac6a-1644e9e569a0",
        "executionMode": "test"
      }
    ],
    "Filter1": [
      {
        "headers": {
          "host": "n8n.204it.ca",
          "user-agent": "Mozilla/5.0 (compatible; Google-Apps-Script; beanserver; +https://script.google.com; id: UAEmdDd-qeDr5PaDpWjoApudpAz9KpVn0wg)",
          "content-length": "544",
          "accept-encoding": "gzip, deflate, br",
          "content-type": "application/json",
          "x-forwarded-for": "34.98.136.32",
          "x-forwarded-host": "n8n.204it.ca",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "56106bb26c1c",
          "x-real-ip": "34.98.136.32"
        },
        "params": {},
        "query": {},
        "body": {
          "spreadsheetId": "1QEIMtDm4OLqOUJL_3EhqrhUGbyk98pJRRnQnTXabjj0",
          "spreadsheetName": "Lead Generation",
          "sheetId": 0,
          "sheetName": "Leads",
          "rangeA1Notation": "W2",
          "range": {
            "columnEnd": 23,
            "columnStart": 23,
            "rowEnd": 2,
            "rowStart": 2
          },
          "oldValue": "false",
          "value": "TRUE",
          "user": {
            "email": "itsridalakhani@gmail.com",
            "nickname": "itsridalakhani"
          },
          "rowValues": [
            {
              "0": "",
              "1": "",
              "2": "",
              "3": "",
              "4": "",
              "5": "",
              "6": "",
              "7": "",
              "8": "",
              "9": "",
              "10": false,
              "11": false,
              "12": "",
              "13": "",
              "14": "",
              "15": "",
              "16": "",
              "17": "",
              "18": "",
              "19": "",
              "20": "",
              "21": "",
              "22": true,
              "23": false,
              "24": ""
            }
          ]
        },
        "webhookUrl": "https://n8n.204it.ca/webhook-test/29d9b7a2-f80f-409f-ac6a-1644e9e569a0",
        "executionMode": "test"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d3fa4eed2b2418ebf9d338b0eccdc4d6d7dbd10f5fa499c22bacb25dd0ca6e5"
  }
}
