Backup_2026-05-11/Twillio sub workflow copy
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        256
      ],
      "id": "9368e110-3cc3-4041-9917-de53932b2cb3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/TWILIO_ID/Messages.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Basic QUM2Yjk2ZmJkZjE2MTQ3Y2FiZTNhNTM0ZjE2MDlhODE5Mzo2OWEwMmQ2MDI5MmM5NjFhYWFiYTFmYmM1NzVhNDEzZg=="
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.formattedPhoneNumber }}"
            },
            {
              "name": "From",
              "value": "+14313411115"
            },
            {
              "name": "Body",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        144,
        256
      ],
      "id": "b33c5bf1-b9db-4585-b25f-2195ed31d0bb",
      "name": "Send sms w/ twilio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f95ce42c-cc19-48f4-b2cd-b780bee5a0e2",
              "name": "sid",
              "value": "={{ $json.sid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        256
      ],
      "id": "bc2ff256-9092-406d-a241-55b06c384f90",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        576,
        256
      ],
      "id": "322ed817-81ae-433e-83df-5bc415932bef",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Send sms w/ twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send sms w/ twilio": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "7d3fa4eed2b2418ebf9d338b0eccdc4d6d7dbd10f5fa499c22bacb25dd0ca6e5"
  }
}
