Backup_2026-03-08/Claude Social Media Automation.json
{
  "updatedAt": "2025-11-23T00:31:21.000Z",
  "createdAt": "2025-11-22T22:53:54.201Z",
  "id": "fOSLiExvq56GiKrb",
  "name": "Claude Social Media Automation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1,3,5"
            }
          ]
        }
      },
      "id": "e420b87b-6319-4bd0-b8cf-5a3f4f9fc42e",
      "name": "Schedule Trigger (Mon/Wed/Fri 8AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -208,
        240
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aeTixdVnSxVaVGFN-t6pmEeTPX-nyHl_1QexMfEqb04",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aeTixdVnSxVaVGFN-t6pmEeTPX-nyHl_1QexMfEqb04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Content Calendar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aeTixdVnSxVaVGFN-t6pmEeTPX-nyHl_1QexMfEqb04/edit#gid=0"
        },
        "options": {}
      },
      "id": "d0e955d7-8094-49bc-bb98-707cf479c1fe",
      "name": "Get Today's Topic",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gdMjVhNcbLsjMrDP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "topic",
              "name": "topic",
              "value": "={{ $json['Topic'] }}",
              "type": "string"
            },
            {
              "id": "postType",
              "name": "postType",
              "value": "={{ $json['Post Type'] }}",
              "type": "string"
            },
            {
              "id": "calendarEvent",
              "name": "calendarEvent",
              "value": "={{ $json['Calendar Event'] }}",
              "type": "string"
            },
            {
              "id": "resourceLink",
              "name": "resourceLink",
              "value": "={{ $json['Resource Link'] || 'https://www.rightathomecanada.com/winnipeg' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "14f0ce09-7c7c-4ef4-b622-d3b36717c64d",
      "name": "Prepare Topic Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a social media post for Right at Home Winnipeg.\n\nTopic: {{ $json.topic }}\nPost Type: {{ $json.postType }}\nCalendar Event: {{ $json.calendarEvent }}\nResource Link: {{ $json.resourceLink }}\nDate: {{ $now.format('MMMM DD, YYYY') }}\n\nGenerate:\n1. Instagram/Facebook caption (100-150 words)\n2. Visual description for image generation\n3. Hashtags (5-7 relevant ones)\n4. Call to action",
        "options": {
          "systemMessage": "You are a professional social media content creator for Right at Home Winnipeg, a trusted in-home senior care agency. Your content should be:\n\n- Warm, empathetic, and human\n- Professional yet approachable\n- Focused on dignity, independence, and quality of life\n- Never using terms like 'elderly', 'burden', or 'suffering'\n- Always including the company phone: (204) 318-5554\n- Ending with a clear call to action and website link\n\nBrand voice: compassionate, trustworthy, community-focused, supportive\n\nAlways include hashtags: #RightAtHomeWinnipeg #SeniorCare #HomeCareWinnipeg\n\nOutput format JSON:\n{\n  \"caption\": \"[Instagram/Facebook caption text]\",\n  \"visualDescription\": \"[Detailed description for image generation]\",\n  \"hashtags\": \"[hashtag list]\",\n  \"callToAction\": \"[CTA text]\"\n}"
        }
      },
      "id": "a80974e6-a3c6-4cbe-9dca-08c61c6442e3",
      "name": "Generate Post Content",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        400,
        240
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "fa626d60-3f5e-468b-9440-c36b6fdb1a46",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        432
      ],
      "credentials": {
        "openAiApi": {
          "id": "OhcxKqaJMIt2UKDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI output and prepare structured data\nconst aiOutput = $input.first().json.output;\nlet parsedOutput;\n\ntry {\n  // Try to parse as JSON first\n  parsedOutput = JSON.parse(aiOutput);\n} catch (e) {\n  // Fallback: extract content using regex if not valid JSON\n  parsedOutput = {\n    caption: aiOutput.match(/caption[\"']?:\\s*[\"']([^\"']+)[\"']/i)?.[1] || aiOutput,\n    visualDescription: aiOutput.match(/visualDescription[\"']?:\\s*[\"']([^\"']+)[\"']/i)?.[1] || 'Professional healthcare image for senior care',\n    hashtags: aiOutput.match(/hashtags[\"']?:\\s*[\"']([^\"']+)[\"']/i)?.[1] || '#RightAtHomeWinnipeg #SeniorCare #HomeCareWinnipeg',\n    callToAction: aiOutput.match(/callToAction[\"']?:\\s*[\"']([^\"']+)[\"']/i)?.[1] || 'Contact us today at (204) 318-5554'\n  };\n}\n\n// Add metadata\nparsedOutput.topic = $input.first().json.topic;\nparsedOutput.postType = $input.first().json.postType;\nparsedOutput.scheduledDate = $now.toFormat('YYYY-MM-DD');\nparsedOutput.resourceLink = $input.first().json.resourceLink;\n\nreturn parsedOutput;"
      },
      "id": "1c035b6c-87b5-4e7c-a8ed-f7ffffe1cfd6",
      "name": "Parse AI Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        240
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.visualDescription + '. Style: Professional, warm, bright photography. Show diverse seniors in home settings, looking happy and engaged. Include subtle blue accents matching Right at Home brand colors. NO text or logos in image.' }}",
        "options": {
          "size": "1024x1024",
          "style": "natural"
        }
      },
      "id": "1463bb63-1613-4f64-b5ae-8441438bceca",
      "name": "Generate Visual (DALL-E)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        832,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "OhcxKqaJMIt2UKDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "imageUrl",
              "name": "imageUrl",
              "value": "={{ $json.data[0].url }}",
              "type": "string"
            },
            {
              "id": "caption",
              "name": "caption",
              "value": "={{ $('Parse AI Content').item.json.caption }}",
              "type": "string"
            },
            {
              "id": "hashtags",
              "name": "hashtags",
              "value": "={{ $('Parse AI Content').item.json.hashtags }}",
              "type": "string"
            },
            {
              "id": "fullPost",
              "name": "fullPost",
              "value": "={{ $('Parse AI Content').item.json.caption + '\\n\\n' + $('Parse AI Content').item.json.callToAction + '\\n\\n📞 (204) 318-5554\\n🌐 ' + $('Parse AI Content').item.json.resourceLink + '\\n\\n' + $('Parse AI Content').item.json.hashtags }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "57eac3f6-2856-4cfe-b0d3-e15b8756cb03",
      "name": "Combine Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        240
      ]
    },
    {
      "parameters": {},
      "id": "fc04f818-a1fc-48e7-bfdd-70319b45617f",
      "name": "Approval Form",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.1,
      "position": [
        1200,
        240
      ],
      "webhookId": "approval-webhook-id"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json['Approval Status'] }}",
              "rightValue": "Reject - Do not post",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ff044476-1ecc-4804-98bb-aa03fc25978c",
      "name": "Check Approval",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1408,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "finalCaption",
              "name": "finalCaption",
              "value": "={{ $json['Edited Caption (if applicable)'] || $json['fullPost'] }}",
              "type": "string"
            },
            {
              "id": "imageUrl",
              "name": "imageUrl",
              "value": "={{ $json.imageUrl }}",
              "type": "string"
            },
            {
              "id": "approvalNotes",
              "name": "approvalNotes",
              "value": "={{ $json['Notes'] || 'No notes' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6d26742d-ae00-4499-a5d9-62c6c247df50",
      "name": "Prepare Final Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2d866213-f972-4489-9bc3-8641c8e73e1d",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1792,
        48
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "766da588-b911-4dd7-a09d-0ea3c67bb127",
      "name": "Post to Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1792,
        240
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Content Calendar",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Prepare Topic Data').item.json.date }}",
            "Status": "Posted",
            "Posted Time": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
            "Final Caption": "={{ $json.finalCaption }}",
            "Image URL": "={{ $json.imageUrl }}",
            "Facebook Post ID": "={{ $('Post to Facebook').item.json.id }}",
            "Instagram Post ID": "={{ $('Post to Instagram').item.json.id }}",
            "Approval Notes": "={{ $json.approvalNotes }}"
          }
        },
        "options": {}
      },
      "id": "d003b734-ab66-49b8-a351-f7ed766cc267",
      "name": "Update Tracking Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2016,
        128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gdMjVhNcbLsjMrDP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Post History",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('YYYY-MM-DD') }}",
            "Time": "={{ $now.format('HH:mm:ss') }}",
            "Topic": "={{ $('Prepare Topic Data').item.json.topic }}",
            "Post Type": "={{ $('Prepare Topic Data').item.json.postType }}",
            "Caption": "={{ $json.finalCaption }}",
            "Hashtags": "={{ $('Parse AI Content').item.json.hashtags }}",
            "Image URL": "={{ $json.imageUrl }}",
            "Facebook ID": "={{ $('Post to Facebook').item.json.id }}",
            "Instagram ID": "={{ $('Post to Instagram').item.json.id }}",
            "Status": "Success"
          }
        },
        "options": {}
      },
      "id": "c130f2f7-82d3-4733-ad0b-85430a76daa8",
      "name": "Log to History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2208,
        128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gdMjVhNcbLsjMrDP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=✅ Social Media Post Published Successfully!\n\n*Date:* {{ $now.format('MMMM DD, YYYY') }}\n*Topic:* {{ $('Prepare Topic Data').item.json.topic }}\n*Platforms:* Facebook & Instagram\n\n*Caption Preview:*\n{{ $json.finalCaption.substring(0, 200) }}...\n\n*Performance Tracking:* Check the dashboard for engagement metrics."
            }
          ]
        },
        "options": {}
      },
      "id": "47814149-f6d9-4ee4-955b-98df4796aec5",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2400,
        128
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Error Log",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
            "Error": "Post rejected by approver",
            "Topic": "={{ $('Prepare Topic Data').item.json.topic }}",
            "Notes": "={{ $json['Notes'] }}"
          }
        },
        "options": {}
      },
      "id": "e41fa4a7-7ea5-46cc-ab41-948a7aa59187",
      "name": "Log Rejection",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1616,
        352
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gdMjVhNcbLsjMrDP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Right at Home Winnipeg - Complete Social Media Automation\n\n### Workflow Overview\nThis workflow automates the entire social media posting process:\n1. **Runs 3x weekly** (Mon/Wed/Fri at 8 AM)\n2. **Fetches topic** from Google Sheets calendar\n3. **Generates content** using AI (GPT-4)\n4. **Creates visuals** using DALL-E 3\n5. **Approval process** via web form\n6. **Posts to Facebook & Instagram**\n7. **Tracks everything** in Google Sheets\n\n### Setup Required:\n1. Replace all placeholder IDs:\n   - `YOUR_GOOGLE_SHEET_ID`\n   - `YOUR_FACEBOOK_PAGE_ID`\n   - `YOUR_INSTAGRAM_BUSINESS_ID`\n   - `YOUR_SLACK_WEBHOOK_URL`\n   \n2. Set up credentials:\n   - Google Sheets OAuth2\n   - OpenAI API\n   - Facebook Graph API\n   \n3. Create Google Sheets with tabs:\n   - Content Calendar\n   - Post History\n   - Error Log\n\n### Cost Estimate:\n- ~$2-3/month for AI usage\n- 3 posts/week = 12-15 posts/month",
        "height": 600,
        "width": 400,
        "color": 5
      },
      "id": "b73a8c49-7c7b-4a90-a3c5-ca25f87bd400",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -944,
        -288
      ]
    }
  ],
  "connections": {
    "Schedule Trigger (Mon/Wed/Fri 8AM)": {
      "main": [
        [
          {
            "node": "Get Today's Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Topic": {
      "main": [
        [
          {
            "node": "Prepare Topic Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Topic Data": {
      "main": [
        [
          {
            "node": "Generate Post Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Post Content": {
      "main": [
        [
          {
            "node": "Parse AI Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Post Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Content": {
      "main": [
        [
          {
            "node": "Generate Visual (DALL-E)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Visual (DALL-E)": {
      "main": [
        [
          {
            "node": "Combine Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval": {
      "main": [
        [
          {
            "node": "Prepare Final Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Content": {
      "main": [
        [
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Update Tracking Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Instagram": {
      "main": [
        [
          {
            "node": "Update Tracking Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tracking Sheet": {
      "main": [
        [
          {
            "node": "Log to History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to History": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f4e98401-8ee7-43ef-84c7-da62eb37f845",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-22T22:53:54.207Z",
      "createdAt": "2025-11-22T22:53:54.207Z",
      "role": "workflow:owner",
      "workflowId": "fOSLiExvq56GiKrb",
      "projectId": "Ata3MFLKCxwgGTPX"
    }
  ],
  "activeVersion": null,
  "tags": []
}