Backup_2026-06-07/Caregiver shift reminders daily report sub workflow pt.1.json
{
  "updatedAt": "2026-06-06T18:03:03.516Z",
  "createdAt": "2026-05-05T23:34:58.632Z",
  "id": "8l17q77MlAW1o3YX",
  "name": "Caregiver shift reminders daily report sub workflow pt.1",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Get tomorrow's date\nconst tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\n\n// Format as yyyy-mm-dd\nconst yyyy = tomorrow.getFullYear();\nconst mm = String(tomorrow.getMonth() + 1).padStart(2, '0');\nconst dd = String(tomorrow.getDate()).padStart(2, '0');\nconst formattedDate = `${yyyy}-${mm}-${dd}`;\n\n// Return as a single item (required by n8n)\nreturn [\n  {\n    json: {\n      tomorrow: formattedDate\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        208
      ],
      "id": "d240fb2b-39e1-4d09-8f5f-d62c780c5c32",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
          "mode": "list",
          "cachedResultName": "shift reminders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1474171429,
          "mode": "list",
          "cachedResultName": "shifts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Visit Start Date",
              "lookupValue": "={{ $json.tomorrow }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        208
      ],
      "id": "c85ccba2-ac3e-44a7-af08-399082175aae",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n1bU0OP2hCGK4EEO",
          "name": "Rida Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all input items from the previous node (Google Sheets)\nconst allRows = $input.all();\n\n// Count the number of rows\nconst rowCount = allRows.length;\n\nreturn [\n  {\n    json: {\n      rowCount1: rowCount,\n      message1: `Total number of shifts tomorrow: ${rowCount}`\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        208
      ],
      "id": "854fcf42-47d3-4828-a7e9-3149ee50d635",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3de02156-1865-4c91-9707-d840a5b92144",
              "name": "message1",
              "value": "={{ $json.message1 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        208
      ],
      "id": "93a03114-72c8-430c-9096-2d505ffa57d3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa165768-0959-4630-8455-93e87b00154f",
              "name": "tomorrow",
              "value": "={{ $json.tomorrow }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "cc9ee571-a018-4f58-be33-8d6a3b39fe6e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        208
      ],
      "id": "366dded5-fb3c-4390-82fc-fad9c777e60d",
      "name": "Merge"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -768,
        208
      ],
      "id": "eb4eb18c-9e55-4f90-8207-4801a61478b3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
          "mode": "list",
          "cachedResultName": "shift reminders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1474171429,
          "mode": "list",
          "cachedResultName": "shifts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Visit Start Date",
              "lookupValue": "={{ $json.tomorrow }}"
            },
            {
              "lookupColumn": "text status",
              "lookupValue": "Processed - Pending SMS Confirmation"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        528
      ],
      "id": "e6ad1610-f5fc-40d3-8e67-a65171c3abee",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n1bU0OP2hCGK4EEO",
          "name": "Rida Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all input items from the previous node (Google Sheets)\nconst allRows = $input.all();\n\n// Count the number of rows\nconst rowCount = allRows.length;\n\nreturn [\n  {\n    json: {\n      rowCount2: rowCount,\n      message2: `Total number of shifts processed: ${rowCount}`\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        528
      ],
      "id": "ffc8fdba-df46-4918-baf2-26b3530d20c1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3de02156-1865-4c91-9707-d840a5b92144",
              "name": "message2",
              "value": "={{ $json.message2 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        528
      ],
      "id": "ab5744a4-5c23-45d0-a544-58eb06be49f6",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        848,
        208
      ],
      "id": "79eba72d-b0e0-44d9-a84a-cd569e8fe8da",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89b38379-8610-468f-aca2-18489a3ef3b2",
              "name": "messagea",
              "value": "={{ $json.messagea }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        368
      ],
      "id": "80ead4bf-1d29-4fea-8073-b00ae67ee88d",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\n// Count only items that actually contain data\nconst realRows = allItems.filter(item =>\n  item.json &&\n  Object.keys(item.json).length > 0\n);\n\nconst rowCount = realRows.length;\n\nreturn [\n  {\n    json: {\n      rowCounta: rowCount,\n      messagea: `Total number of shifts missing caregiver or phone number: ${rowCount}`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        368
      ],
      "id": "fb6bacba-0d6d-498d-bd4d-34b82f360924",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
          "mode": "list",
          "cachedResultName": "shift reminders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1474171429,
          "mode": "list",
          "cachedResultName": "shifts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Visit Start Date",
              "lookupValue": "={{ $json.tomorrow }}"
            },
            {
              "lookupColumn": "text status",
              "lookupValue": "ERROR - Missing or undefined data (please check that shift is assigned and phone number is available for caregiver)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        368
      ],
      "id": "258e0153-f56c-4cd5-b453-9e18b48d5a21",
      "name": "Get row(s) in sheet2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n1bU0OP2hCGK4EEO",
          "name": "Rida Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://netorg10246608.sharepoint.com/sites/RAH/_api/web/lists(guid'77f0ac01-23db-4704-9f53-cea4aaee18c9')/items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftSharePointOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$select",
              "value": "Id,Title,Email,PhoneNumber,Status,HireDate,StartDate,OData__x0033_0DayEmailSent,OData__x0036_0DayEmailSent,OData__x0039_0DayEmailSent,NewHireEmailSent,StartDateEmailSent"
            },
            {
              "name": "$top",
              "value": "5000"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json;odata=nometadata"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        576
      ],
      "id": "823a8dee-36c8-4dd3-8318-2d3ca64a393e",
      "name": "Get SharePoint Items via REST3",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "rLiUei4DCQhgbGrV",
          "name": "RAF Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        784,
        576
      ],
      "id": "447e66be-5efd-4023-b4d1-6b1f577c19bd",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "https://netorg10246608.sharepoint.com/sites/RAH/_api/web/lists(guid'77f0ac01-23db-4704-9f53-cea4aaee18c9')/items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftSharePointOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$select",
              "value": "Id,Title,Email,PhoneNumber,Status,HireDate,StartDate,OData__x0033_0DayEmailSent,OData__x0036_0DayEmailSent,OData__x0039_0DayEmailSent,NewHireEmailSent,StartDateEmailSent"
            },
            {
              "name": "$top",
              "value": "5000"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json;odata=nometadata"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        720
      ],
      "id": "13e80381-db88-404c-812d-fca0586197f3",
      "name": "Get SharePoint Items via REST",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "rLiUei4DCQhgbGrV",
          "name": "RAF Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        928,
        720
      ],
      "id": "de7adfb4-248e-4316-a30a-121a3be974f7",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "url": "https://netorg10246608.sharepoint.com/sites/RAH/_api/web/lists(guid'77f0ac01-23db-4704-9f53-cea4aaee18c9')/items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftSharePointOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$select",
              "value": "Id,Title,Email,PhoneNumber,Status,HireDate,StartDate,OData__x0033_0DayEmailSent,OData__x0036_0DayEmailSent,OData__x0039_0DayEmailSent,NewHireEmailSent,StartDateEmailSent"
            },
            {
              "name": "$top",
              "value": "5000"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json;odata=nometadata"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        864
      ],
      "id": "ff5e6c4a-ef66-4eea-961b-7da06418defc",
      "name": "Get SharePoint Items via REST4",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "rLiUei4DCQhgbGrV",
          "name": "RAF Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1072,
        864
      ],
      "id": "3e4ba1da-7e60-4cd6-8151-c30083d7e8bc",
      "name": "Split Out2"
    }
  ],
  "connections": {
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SharePoint Items via REST3": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SharePoint Items via REST": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SharePoint Items via REST4": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "AzYIPHs9CsXeopw4",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b97fdbe3-51d6-4109-9fc0-a65bdbec9cd9",
  "activeVersionId": "ae7bea1e-6471-4e31-81e8-84e63a510c1e",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-05T23:34:58.632Z",
      "createdAt": "2026-05-05T23:34:58.632Z",
      "role": "workflow:owner",
      "workflowId": "8l17q77MlAW1o3YX",
      "projectId": "XdtqOzYGfnG4XSvo"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-09T17:51:23.098Z",
    "createdAt": "2026-05-09T17:51:18.698Z",
    "versionId": "ae7bea1e-6471-4e31-81e8-84e63a510c1e",
    "workflowId": "8l17q77MlAW1o3YX",
    "nodes": [
      {
        "parameters": {
          "jsCode": "// Get tomorrow's date\nconst tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\n\n// Format as yyyy-mm-dd\nconst yyyy = tomorrow.getFullYear();\nconst mm = String(tomorrow.getMonth() + 1).padStart(2, '0');\nconst dd = String(tomorrow.getDate()).padStart(2, '0');\nconst formattedDate = `${yyyy}-${mm}-${dd}`;\n\n// Return as a single item (required by n8n)\nreturn [\n  {\n    json: {\n      tomorrow: formattedDate\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -544,
          208
        ],
        "id": "d240fb2b-39e1-4d09-8f5f-d62c780c5c32",
        "name": "Code in JavaScript3"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
            "mode": "list",
            "cachedResultName": "shift reminders",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1474171429,
            "mode": "list",
            "cachedResultName": "shifts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Visit Start Date",
                "lookupValue": "={{ $json.tomorrow }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -192,
          208
        ],
        "id": "c85ccba2-ac3e-44a7-af08-399082175aae",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "n1bU0OP2hCGK4EEO",
            "name": "Rida Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Get all input items from the previous node (Google Sheets)\nconst allRows = $input.all();\n\n// Count the number of rows\nconst rowCount = allRows.length;\n\nreturn [\n  {\n    json: {\n      rowCount1: rowCount,\n      message1: `Total number of shifts tomorrow: ${rowCount}`\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16,
          208
        ],
        "id": "854fcf42-47d3-4828-a7e9-3149ee50d635",
        "name": "Code in JavaScript4"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3de02156-1865-4c91-9707-d840a5b92144",
                "name": "message1",
                "value": "={{ $json.message1 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          240,
          208
        ],
        "id": "93a03114-72c8-430c-9096-2d505ffa57d3",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fa165768-0959-4630-8455-93e87b00154f",
                "name": "tomorrow",
                "value": "={{ $json.tomorrow }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          0
        ],
        "id": "cc9ee571-a018-4f58-be33-8d6a3b39fe6e",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "numberInputs": 4,
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          640,
          208
        ],
        "id": "366dded5-fb3c-4390-82fc-fad9c777e60d",
        "name": "Merge"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -768,
          208
        ],
        "id": "eb4eb18c-9e55-4f90-8207-4801a61478b3",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
            "mode": "list",
            "cachedResultName": "shift reminders",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1474171429,
            "mode": "list",
            "cachedResultName": "shifts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Visit Start Date",
                "lookupValue": "={{ $json.tomorrow }}"
              },
              {
                "lookupColumn": "text status",
                "lookupValue": "Processed - Pending SMS Confirmation"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -192,
          528
        ],
        "id": "e6ad1610-f5fc-40d3-8e67-a65171c3abee",
        "name": "Get row(s) in sheet1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "n1bU0OP2hCGK4EEO",
            "name": "Rida Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Get all input items from the previous node (Google Sheets)\nconst allRows = $input.all();\n\n// Count the number of rows\nconst rowCount = allRows.length;\n\nreturn [\n  {\n    json: {\n      rowCount2: rowCount,\n      message2: `Total number of shifts processed: ${rowCount}`\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16,
          528
        ],
        "id": "ffc8fdba-df46-4918-baf2-26b3530d20c1",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3de02156-1865-4c91-9707-d840a5b92144",
                "name": "message2",
                "value": "={{ $json.message2 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          240,
          528
        ],
        "id": "ab5744a4-5c23-45d0-a544-58eb06be49f6",
        "name": "Edit Fields2"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          848,
          208
        ],
        "id": "79eba72d-b0e0-44d9-a84a-cd569e8fe8da",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "89b38379-8610-468f-aca2-18489a3ef3b2",
                "name": "messagea",
                "value": "={{ $json.messagea }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          240,
          368
        ],
        "id": "80ead4bf-1d29-4fea-8073-b00ae67ee88d",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "jsCode": "const allItems = $input.all();\n\n// Count only items that actually contain data\nconst realRows = allItems.filter(item =>\n  item.json &&\n  Object.keys(item.json).length > 0\n);\n\nconst rowCount = realRows.length;\n\nreturn [\n  {\n    json: {\n      rowCounta: rowCount,\n      messagea: `Total number of shifts missing caregiver or phone number: ${rowCount}`\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16,
          368
        ],
        "id": "fb6bacba-0d6d-498d-bd4d-34b82f360924",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI",
            "mode": "list",
            "cachedResultName": "shift reminders",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1474171429,
            "mode": "list",
            "cachedResultName": "shifts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wsO8LjLsNKMrL8IhWmIwsL5bsJq-VhKoIXdeQYRqmRI/edit#gid=1474171429"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Visit Start Date",
                "lookupValue": "={{ $json.tomorrow }}"
              },
              {
                "lookupColumn": "text status",
                "lookupValue": "ERROR - Missing or undefined data (please check that shift is assigned and phone number is available for caregiver)"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -192,
          368
        ],
        "id": "258e0153-f56c-4cd5-b453-9e18b48d5a21",
        "name": "Get row(s) in sheet2",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "n1bU0OP2hCGK4EEO",
            "name": "Rida Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Code in JavaScript3": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get row(s) in sheet1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get row(s) in sheet2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Code in JavaScript4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript4": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Code in JavaScript3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet1": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet2": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Raf Lakhani",
    "name": "Version ae7bea1e",
    "description": "",
    "autosaved": true
  },
  "tags": []
}