Backup_2026-03-21/Office Email Auto Responder Assistant v2.json
{
  "updatedAt": "2025-09-26T00:56:52.000Z",
  "createdAt": "2025-09-14T01:58:52.312Z",
  "id": "bSzQ70lBm3rcLin8",
  "name": "Office Email Auto Responder Assistant v2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "html": "={{ $json.body.content }}",
        "options": {}
      },
      "id": "573d9d95-2b0f-4dd6-b400-385be595aa96",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [
        496,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operationMode": "nodeInputBinary",
        "options": {
          "binaryDataKey": "={{ $json.data }}",
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "=Write a concise summary of the following in max 100 words:\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used.",
              "prompt": "=Write a concise summary of the following in max 100 words:\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used."
            }
          }
        }
      },
      "id": "d58f9264-0706-4b71-aa3e-d27f28596955",
      "name": "Email Summarization Chain",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        784,
        80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Use the system instructions and the provided guidelines to compose a reply to the incoming email below.\n\nEmail content:\n{{ $('Markdown').item.json.body.content }}\n\nEmail Summary:\n{{ $('Email Summarization Chain').item.json.response.text }}\n\nReturn only the email body text (no extra commentary). If clarification is required, ask one short question and offer one confident next step. Keep the whole response under 100 words.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are the email assistant for Anago Cleaning Systems — the administrator's voice. Draft concise, professional, warm replies that reflect confidence, care, and attentiveness. Use the provided company guidelines as authoritative reference. These guidelines will be your single highest-value resource when it comes to knowing how classifying the incoming email under one of the specified categories. Use only the relevant portion of the guidelines for this reply.\n\nHard rules:\n- Output ONLY the email body text (no subject, no headers, no metadata and no commentary) unless the guidelines explicitly require otherwise. Be sure to include a personalized greeting at the start of your email, as well a signature at the end with the name \"Rida Lakhani\" and add the company name in the next line as well. At the end of the block of text, in the next line, write \"Category: \" and then indicate which category you classified the incoming email under.\n- Max length: 100 words; prefer shorter when appropriate.\n- Tone: friendly, professional, calm, solution-oriented, warm, and attentive.\n- Do NOT disclose, paraphrase, or reveal the guidelines text or internal processes in the reply.\n- If the email is ambiguous and a safe decision cannot be made, include exactly one short clarifying question and one concrete next-step suggestion (both in the same reply), staying within the 100-word limit.\n- Always read through the ENTIRE guidelines before classifying the email under the category that best fits. If the emails falls under more than one category or none of the categories, then select the ONE category that is the best option. Under no circumstances should one email be assigned to more than one category.\n- NEVER create new categories. You must always only select a category from the list provided.\n\nRetrieval guidance:\n- The supplied guidelines text may be long; search it for the most relevant headings/sections (e.g., \"Finance\", \"Franchisee\", \"Operations\") and rely on those sections. Do NOT assume anything that is not supported by the guidelines.\n\nCategories:\n- Finance\n- Franchisee\n- Operations\n- Management\n- Inquiries\n- Admin\n- Unimportant\n\nGuidelines:\n{{ $json.content }}"
        }
      },
      "id": "36fb6fc0-d172-41d8-b82e-040eff9b01eb",
      "name": "Write email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2032,
        -720
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "1155a2a6-4486-4d74-ba19-22171fb2b2ef",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2000,
        -528
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "OhcxKqaJMIt2UKDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Chain that summarizes the received email",
        "height": 240,
        "width": 320
      },
      "id": "34585983-5138-4c3f-8042-0c57137431d3",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Agent that retrieves business information from a vector database and processes the response",
        "height": 240,
        "width": 340
      },
      "id": "64ed656c-1ff3-4203-8899-d348d2870a86",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Convert email to Markdown format for better understanding of LLM models",
        "height": 240
      },
      "id": "543e0351-ee22-401f-887e-86014dabe92d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "If the feedback is OK send email",
        "height": 180
      },
      "id": "b3a46c34-bcf0-4c2b-a8c5-349740324109",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "211fa1a3-1a9a-4515-98af-1fa77c6ee547",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        752,
        272
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "OhcxKqaJMIt2UKDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35d7c303-42f4-4dd1-b41e-6eb087c23c3d",
              "name": "aiGeneratedEmail",
              "type": "string",
              "value": "={{ $json.output }}"
            },
            {
              "id": "a8f9b2e1-3d4c-5e6f-7890-1234567890ab",
              "name": "originalSubject",
              "type": "string",
              "value": "={{ $('Microsoft Outlook Trigger').item.json.subject }}"
            },
            {
              "id": "b9g0c3f2-4e5d-6f70-8901-2345678901bc",
              "name": "originalFrom",
              "type": "string",
              "value": "={{ $('Microsoft Outlook Trigger').item.json.from.emailAddress.address }}"
            }
          ]
        },
        "options": {}
      },
      "id": "082608cd-b651-4934-be4d-8bb62fcdd462",
      "name": "Store Email Data",
      "type": "n8n-nodes-base.set",
      "position": [
        1856,
        80
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "Store generated email and original email info",
        "height": 180
      },
      "id": "f7a6effc-feab-4527-9d9b-6b30dcb7ca80",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "62e26bc5-1732-4699-a602-99490c7406fd",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "approved"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aafdae4e-de36-4fc2-8c75-b334367ac9ea",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "position": [
        2432,
        80
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "output": "fields",
        "fields": [
          "body",
          "from",
          "subject"
        ],
        "filters": {
          "foldersToInclude": [
            "AAMkADZmYWRiNTZhLTRhMzgtNDk5MS04ODY0LWI0NDM4MDhlNzM3MQAuAAAAAADAjei6kimUQKCVmDI9bNGcAQBaJg3pK7X6RI2dXaBL9HRRAAAAAAEMAAA="
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        80
      ],
      "id": "34e0d72a-0c9c-4695-842e-a3df6c5ed2fe",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "4BDt5SAYt7JiWG5R",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "rida@anagomb.ca",
        "subject": "=[Approval Required] {{ $json.originalSubject }}",
        "message": "=<h3>ORIGINAL EMAIL</h3>\nSubject: {{ $('Microsoft Outlook Trigger').item.json.subject }}\nFrom: {{ $('Microsoft Outlook Trigger').item.json.from.emailAddress.address }}\n{{ $('Markdown').item.json.data }}\n\n<h3>AI GENERATED RESPONSE</h3>\n{{ $json.aiGeneratedEmail }}\n\n<hr>\n<p><strong>Press Approve button to approve this message</strong></p>\n<ul>",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2144,
        80
      ],
      "id": "d839e2c9-a2cf-4289-a7c5-e0d86d56d87d",
      "name": "Send Approval Request",
      "webhookId": "213ddbf8-2bc4-4d1f-a354-289865fd5a26",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "4BDt5SAYt7JiWG5R",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1eJRCAtQRCtAJMWryKvontz3bcpcAM8nhlr1p2equJAg"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1136,
        80
      ],
      "id": "7a3bbaa2-7aad-42ac-afe3-c47eed4e9c5a",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "GuB08CiUTqAj1SGC",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Store Email Data').item.json.originalFrom }}",
        "subject": "=Re: {{ $('Store Email Data').item.json.originalSubject }}",
        "bodyContent": "={{ $('Store Email Data').item.json.aiGeneratedEmail }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2704,
        64
      ],
      "id": "eb9a3ecb-f5af-431e-acbc-86a7e587f742",
      "name": "Send Final Email",
      "webhookId": "a2fd9d1a-dd78-4b7b-8ab9-5d74f6ed5c56",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "4BDt5SAYt7JiWG5R",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "Filter out approval emails and replies to prevent infinite loops",
        "height": 180,
        "width": 280
      },
      "id": "6a2fd72f-e3da-461e-91a9-b237b20e3cba",
      "name": "Sticky Note Filter",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c7cd993-9838-4499-9c57-83457eafc893",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "[Approval Required]",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        160,
        80
      ],
      "id": "53700e25-2f61-4004-a9ed-7ffc15c817be",
      "name": "Filter"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "="
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1376,
        336
      ],
      "id": "4c46ca30-4f2a-4d93-b1e1-71a86464dff2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1936,
        688
      ],
      "id": "830edf14-871e-420f-a898-03997ca135be",
      "name": "Supabase Vector Store2"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2032,
        896
      ],
      "id": "5be8c692-d2f8-4672-8655-a7f552d1b82f",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1648,
        496
      ],
      "id": "39d258b1-234c-488b-8dce-93b83d0c2245",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "OhcxKqaJMIt2UKDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "=You are a helpful assistant for Anago Cleaning that drafts an email reply to each new email sent to the gmail account inbox. You use the Supabase Vector tool to see if there is any information you can provide about Anago Cleaning or its services. \n\nYou follow the standard format in writing an email starting with the salutation using their first name (example, Hello [first name], [first name] is replaced by the first word in {{ $json.From }}) and then draft your reply. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1424,
        80
      ],
      "id": "b1053032-052f-4130-87ff-5dfc3c9586c6",
      "name": "AI Agent1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1216,
        288
      ],
      "id": "5ede1ab5-3856-407b-ab1e-f7fe9dd2b1f3",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "OhcxKqaJMIt2UKDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to look up information about Anago",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1584,
        336
      ],
      "id": "cc09615b-0763-4a43-be06-3dd1bb214763",
      "name": "Supabase Vector Store3"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1xrYGb6Fykt3pKPlcLfR6JbGI85yeRO03",
          "mode": "list",
          "cachedResultName": "RAG Test File.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1xrYGb6Fykt3pKPlcLfR6JbGI85yeRO03/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        688
      ],
      "id": "994ae5dd-aca6-4bcd-ac3e-820664acbf9d",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "q78V8eBUVKK8J2at",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Future features \n- learn from past run throughs\n- modify generated email text\n- read folder for guidelines instead of file ? RAG Agents?",
        "height": 144,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        -240
      ],
      "id": "dda40206-1aaa-4ce1-a29e-faa64bac64b4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Supabase > Sample doc guidelines\n\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        -560
      ],
      "id": "4e49ea35-5f6a-446e-bb07-db4b2777da70",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "Markdown": {
      "main": [
        [
          {
            "node": "Email Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Summarization Chain": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write email": {
      "main": [
        []
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Write email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Store Email Data": {
      "main": [
        [
          {
            "node": "Send Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Send Final Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Request": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Store Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Microsoft Outlook Trigger": {
      "lastTimeChecked": "2025-09-13T16:33:06.005-05:00"
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "0fca9785-e525-4808-bed3-7458b4b595bf",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-14T01:58:52.317Z",
      "createdAt": "2025-09-14T01:58:52.317Z",
      "role": "workflow:owner",
      "workflowId": "bSzQ70lBm3rcLin8",
      "projectId": "Fb7bbcgiQzvFuU2R"
    }
  ],
  "activeVersion": null,
  "tags": []
}