Backup_2026-04-08/email monitor, approve, respond 2 (playing around).json
{
  "updatedAt": "2025-09-26T00:39:54.000Z",
  "createdAt": "2025-09-06T16:39:30.055Z",
  "id": "cLISA6yBlpFQZYLe",
  "name": "email monitor, approve, respond 2 (playing around)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "html": "={{ $json.body.content }}",
        "options": {}
      },
      "id": "bbf8fe61-68a9-4997-992f-d24bd9eff008",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [
        -1744,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operationMode": "nodeInputBinary",
        "options": {
          "binaryDataKey": "={{ $json.data }}",
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "=Write a concise summary of the following in max 100 words:\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used.",
              "prompt": "Write a concise summary of the following in max 100 words:\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used."
            }
          }
        }
      },
      "id": "4d19978a-cfc2-4a2d-a00d-83b3e6aec88a",
      "name": "Email Summarization Chain",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        -1440,
        -16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Use the system instructions and the provided guidelines to compose a reply to the incoming email below.\n\nEmail content:\n{{ $('Markdown').item.json.body.content }}\n\nEmail Summary:\n{{ $('Email Summarization Chain').item.json.response.text }}\n\nReturn only the email body text (no extra commentary). If clarification is required, ask one short question and offer one confident next step. Keep the whole response under 100 words.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are the email assistant for Anago Cleaning Systems — the administrator's voice. Draft concise, professional, warm replies that reflect confidence, care, and attentiveness. Use the provided company guidelines as authoritative reference. These guidelines will be your single highest-value resource when it comes to knowing how classifying the incoming email under one of the specified categories. Use only the relevant portion of the guidelines for this reply.\n\nHard rules:\n- Output ONLY the email body text (no subject, no headers, no metadata and no commentary) unless the guidelines explicitly require otherwise. Be sure to include a personalized greeting at the start of your email, as well a signature at the end with the name \"Rida Lakhani\" and add the company name in the next line as well. At the end of the block of text, in the next line, write \"Category: \" and then indicate which category you classified the incoming email under.\n- Max length: 100 words; prefer shorter when appropriate.\n- Tone: friendly, professional, calm, solution-oriented, warm, and attentive.\n- Do NOT disclose, paraphrase, or reveal the guidelines text or internal processes in the reply.\n- If the email is ambiguous and a safe decision cannot be made, include exactly one short clarifying question and one concrete next-step suggestion (both in the same reply), staying within the 100-word limit.\n- Always read through the ENTIRE guidelines before classifying the email under the category that best fits. If the emails falls under more than one category or none of the categories, then select the ONE category that is the best option. Under no circumstances should one email be assigned to more than one category.\n- NEVER create new categories. You must always only select a category from the list provided.\n\nRetrieval guidance:\n- The supplied guidelines text may be long; search it for the most relevant headings/sections (e.g., \"Finance\", \"Franchisee\", \"Operations\") and rely on those sections. Do NOT assume anything that is not supported by the guidelines.\n\nCategories:\n- Finance\n- Franchisee\n- Operations\n- Management\n- Inquiries\n- Admin\n- Unimportant\n\nGuidelines:\n{{ $json.content }}"
        }
      },
      "id": "96ce1acb-a7a9-4d39-a196-769dfa641c97",
      "name": "Write email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -800,
        -16
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "83d09ed7-b861-4596-9e36-1bd7d425c2b1",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -848,
        208
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "OhcxKqaJMIt2UKDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Chain that summarizes the received email",
        "height": 240,
        "width": 320
      },
      "id": "3322d5e9-e809-4eb1-922b-610a64d926df",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1504,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Agent that retrieves business information from a vector database and processes the response",
        "height": 240,
        "width": 340
      },
      "id": "9c5788b7-23af-4917-b821-e5a4319d401a",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Convert email to Markdown format for better understanding of LLM models",
        "height": 240
      },
      "id": "e9ff973c-dc48-4922-a2e4-7e2d30f3bac6",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1808,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "If the feedback is OK send email",
        "height": 212
      },
      "id": "8d6b2913-2e6f-4482-8c02-28afb1910f15",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "5b73dec1-2af0-47cd-8651-446e178a63bd",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1504,
        192
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "OhcxKqaJMIt2UKDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35d7c303-42f4-4dd1-b41e-6eb087c23c3d",
              "name": "aiGeneratedEmail",
              "type": "string",
              "value": "={{ $json.output }}"
            },
            {
              "id": "a8f9b2e1-3d4c-5e6f-7890-1234567890ab",
              "name": "originalSubject",
              "type": "string",
              "value": "={{ $('Microsoft Outlook Trigger').item.json.subject }}"
            },
            {
              "id": "b9g0c3f2-4e5d-6f70-8901-2345678901bc",
              "name": "originalFrom",
              "type": "string",
              "value": "={{ $('Microsoft Outlook Trigger').item.json.from.emailAddress.address }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a34cb814-f48e-4779-9344-410dceb816ab",
      "name": "Store Email Data",
      "type": "n8n-nodes-base.set",
      "position": [
        -352,
        -16
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "Store generated email and original email info",
        "height": 212
      },
      "id": "8baf5fc9-7570-47ae-af9c-5f8f51a4b18f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "62e26bc5-1732-4699-a602-99490c7406fd",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "approved"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "524b362a-5770-41c4-b081-0708ac6ef94b",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "position": [
        448,
        -16
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "output": "fields",
        "fields": [
          "body",
          "from",
          "subject"
        ],
        "filters": {
          "foldersToInclude": [
            "AAMkADZmYWRiNTZhLTRhMzgtNDk5MS04ODY0LWI0NDM4MDhlNzM3MQAuAAAAAADAjei6kimUQKCVmDI9bNGcAQBaJg3pK7X6RI2dXaBL9HRRAAAAAAEMAAA="
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -2096,
        -16
      ],
      "id": "c0d51263-c519-486a-9656-b827ef15afdd",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "4BDt5SAYt7JiWG5R",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "rida@anagomb.ca",
        "subject": "=[Approval Required] {{ $json.originalSubject }}",
        "message": "=<h3>ORIGINAL EMAIL</h3>\n<strong>From:</strong> {{ $json.originalFrom }}<br>\n<strong>Subject:</strong> {{ $json.originalSubject }}<br><br>\n{{ $('Markdown').item.json.data }}\n\n<h3>AI GENERATED RESPONSE</h3>\n{{ $json.aiGeneratedEmail }}\n\n<hr>\n<p><strong>Reply with:</strong></p>\n<ul>\n<li><strong>\"APPROVED\"</strong> to send this response</li>\n<li><strong>\"REJECTED\"</strong> to cancel</li>\n<li>Or provide specific feedback for revision</li>\n</ul>",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -16,
        -16
      ],
      "id": "6321c062-e0f5-4aa3-96e9-db62e5ccf1f5",
      "name": "Send Approval Request",
      "webhookId": "2ec031cc-beea-4925-9550-54994f788529",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "4BDt5SAYt7JiWG5R",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1eJRCAtQRCtAJMWryKvontz3bcpcAM8nhlr1p2equJAg"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -1088,
        -16
      ],
      "id": "ad174bdf-0999-4a62-bbbf-f2ade6eb6479",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "GuB08CiUTqAj1SGC",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Store Email Data').item.json.originalFrom }}",
        "subject": "=Re: {{ $('Store Email Data').item.json.originalSubject }}",
        "bodyContent": "={{ $('Store Email Data').item.json.aiGeneratedEmail }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        768,
        -32
      ],
      "id": "885613ef-5a52-4a12-b9bb-ac21a145cdbe",
      "name": "Send Final Email",
      "webhookId": "131708a7-bc10-4b74-b299-6925ae988eed",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "4BDt5SAYt7JiWG5R",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Debug: Log the approval response structure\nconsole.log('=== APPROVAL RESPONSE DEBUG ===');\nconsole.log('Full response:', JSON.stringify($input.all(), null, 2));\nconsole.log('Response body:', $input.first().json.body);\nconsole.log('Response subject:', $input.first().json.subject);\nconsole.log('===============================');\n\n// Pass through the data unchanged\nreturn $input.all();"
      },
      "id": "5021bbbc-6390-487d-b884-486a266d7576",
      "name": "Debug Approval Response",
      "type": "n8n-nodes-base.code",
      "position": [
        224,
        -16
      ],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Markdown": {
      "main": [
        [
          {
            "node": "Email Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Summarization Chain": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write email": {
      "main": [
        [
          {
            "node": "Store Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Write email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Store Email Data": {
      "main": [
        [
          {
            "node": "Send Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Send Final Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Request": {
      "main": [
        [
          {
            "node": "Debug Approval Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Write email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Approval Response": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Microsoft Outlook Trigger": {
      "lastTimeChecked": "2025-09-06T12:06:48.004-05:00"
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "c52589d3-d511-40f2-825c-2ebde81ae9b3",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-06T16:39:30.066Z",
      "createdAt": "2025-09-06T16:39:30.066Z",
      "role": "workflow:owner",
      "workflowId": "cLISA6yBlpFQZYLe",
      "projectId": "Fb7bbcgiQzvFuU2R"
    }
  ],
  "activeVersion": null,
  "tags": []
}