Backup_2026-04-08/Social Media Rida Subworkflows - NB Prompt Input Generation.json
{
  "updatedAt": "2026-01-28T18:28:31.240Z",
  "createdAt": "2025-12-30T23:19:43.126Z",
  "id": "tU40OEdYjNBISL5w",
  "name": "Social Media Rida Subworkflows - NB Prompt Input Generation",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -320,
        -224
      ],
      "id": "6cd3d997-9405-4d2c-9a35-e2554f072d33",
      "name": "Wait",
      "webhookId": "27dad873-9de3-4d91-86fa-2ffdfc1a01b1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer c58fb3ab497a524333c3837f53e73f5e"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"1:1\",\n    \"resolution\": \"4K\",\n    \"output_format\": \"png\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -672,
        -448
      ],
      "id": "0b2beb28-b83f-4042-8f35-8b3738663f52",
      "name": "Create Image",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer c58fb3ab497a524333c3837f53e73f5e"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        -224
      ],
      "id": "6be9664c-b923-431e-b756-40d72804c963",
      "name": "Get Image"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da65ddff-3d03-4e66-8b38-3074bc7f7093",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        -224
      ],
      "id": "73068e44-3a39-4b8e-bcf6-144fb18e80d0",
      "name": "Image Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5346dc9-b2c3-405d-aa78-a844b4332cd9",
              "name": "image",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -224
      ],
      "id": "a2226245-fba6-4869-8770-14eb4e3e0e40",
      "name": "Result"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5d365e2d-6c1d-48fd-b1e1-dc6ed403e684"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b233b687-f81c-428e-bce7-459684a6a34b",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "=generating",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69d8ccbf-d327-4705-9159-b7be48f99e73",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "57e151fb-1b4c-4b5d-9f8d-40e62fc17388",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "waiting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "waiting"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        16,
        -240
      ],
      "id": "9398aa65-699b-4824-b0fa-2ecf05a91874",
      "name": "Switch"
    },
    {
      "parameters": {
        "formTitle": "Nano Banana Pro",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Please describe your desired image:",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1200,
        -400
      ],
      "id": "f9d49218-554d-4228-979e-4ced697d25f9",
      "name": "On form submission1",
      "webhookId": "5d497fb1-28b2-4ead-9a13-ce674b850504",
      "disabled": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1088,
        -224
      ],
      "id": "9c72f241-a970-4fd3-a752-0469365f89a1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        432,
        -224
      ],
      "id": "85eab133-c3ce-441a-83fd-2b010f457199",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -512,
        64
      ],
      "id": "ffe67f0a-4208-4ab1-a6cd-a873bc484a0a",
      "name": "Wait1",
      "webhookId": "9848e3b1-0965-4d55-bdb8-97b441fcfdd6",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer c58fb3ab497a524333c3837f53e73f5e"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -528,
        -224
      ],
      "id": "e0c69439-fc41-4652-bada-44a0e778bd0a",
      "name": "Create Image1"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer c58fb3ab497a524333c3837f53e73f5e"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        64
      ],
      "id": "ab671aeb-47c5-4cb3-83f3-1a48d6f29840",
      "name": "Get Image1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da65ddff-3d03-4e66-8b38-3074bc7f7093",
              "name": "prompt",
              "value": "={{ $json['Please describe your desired image:'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        64
      ],
      "id": "bb40b9d5-7eb0-4c87-9dea-0d2741911cca",
      "name": "Image Prompt1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5346dc9-b2c3-405d-aa78-a844b4332cd9",
              "name": "image",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        64
      ],
      "id": "62be60de-8801-46a0-93b3-66b92e1a317c",
      "name": "Result1",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5d365e2d-6c1d-48fd-b1e1-dc6ed403e684"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b233b687-f81c-428e-bce7-459684a6a34b",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69d8ccbf-d327-4705-9159-b7be48f99e73",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -176,
        48
      ],
      "id": "3f777b75-4a79-4dd3-9b2c-c5b92baca2c3",
      "name": "Switch1",
      "disabled": true
    },
    {
      "parameters": {
        "formTitle": "Nano Banana Pro",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Please describe your desired image:",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1024,
        64
      ],
      "id": "a5215a46-e59a-4aea-89ca-72d570944845",
      "name": "On form submission",
      "webhookId": "329d6c97-2b7e-4eac-ab68-e68a524fcde0",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare Body (Function node)\nconst rawPrompt = String($json.prompt || \"\");\n\n// 1) Remove CR characters and other non-printable control chars (safe sanitizing)\nlet prompt = rawPrompt.replace(/\\r/g, \"\");                       // strip CR\nprompt = prompt.replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\");     // remove control chars\n\n// ⭐ 2) Replace all double quotes (straight & slanted) with single quotes\nprompt = prompt\n  .replace(/\"/g, \"'\")      // straight double quotes\n  .replace(/“/g, \"'\")      // left slanted curly quote\n  .replace(/”/g, \"'\");     // right slanted curly quote\n\n// 3) Optional: trim and normalize spaces\nprompt = prompt.trim().replace(/\\s{2,}/g, \" \");\n\n// 4) Build final body object\nconst body = {\n  model: \"nano-banana-pro\",\n  input: {\n    prompt: prompt,\n    aspect_ratio: \"1:1\",\n    resolution: \"4K\",\n    output_format: \"png\"\n  }\n};\n\n// ✅ Return a single object (not an array)\nreturn {\n  json: {\n    body\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        -224
      ],
      "id": "9769dfb6-4438-49a2-b6db-d29d81d2c44a",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "main": [
        []
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt1": {
      "main": [
        []
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Result1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Image Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "heO-R-Fdix8eEk6h6FI2v"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "prompt": "A warm, inviting in-home senior care scene showing a caregiver assisting a smiling elderly person in a cozy living room with soft natural light, conveying trust, compassion, and personalized care without any medical equipment or clinical setting"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "2046b48c-6221-4383-84f2-cc7f5f010cd9",
  "activeVersionId": "2046b48c-6221-4383-84f2-cc7f5f010cd9",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-30T23:19:43.132Z",
      "createdAt": "2025-12-30T23:19:43.132Z",
      "role": "workflow:owner",
      "workflowId": "tU40OEdYjNBISL5w",
      "projectId": "Ata3MFLKCxwgGTPX"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-30T23:20:54.000Z",
    "createdAt": "2025-12-30T23:20:52.159Z",
    "versionId": "2046b48c-6221-4383-84f2-cc7f5f010cd9",
    "workflowId": "tU40OEdYjNBISL5w",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -320,
          -224
        ],
        "id": "6cd3d997-9405-4d2c-9a35-e2554f072d33",
        "name": "Wait",
        "webhookId": "27dad873-9de3-4d91-86fa-2ffdfc1a01b1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.kie.ai/api/v1/jobs/createTask",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer c58fb3ab497a524333c3837f53e73f5e"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"1:1\",\n    \"resolution\": \"4K\",\n    \"output_format\": \"png\"\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -672,
          -448
        ],
        "id": "0b2beb28-b83f-4042-8f35-8b3738663f52",
        "name": "Create Image",
        "disabled": true
      },
      {
        "parameters": {
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "taskId",
                "value": "={{ $json.data.taskId }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer c58fb3ab497a524333c3837f53e73f5e"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -160,
          -224
        ],
        "id": "6be9664c-b923-431e-b756-40d72804c963",
        "name": "Get Image"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "da65ddff-3d03-4e66-8b38-3074bc7f7093",
                "name": "prompt",
                "value": "={{ $json.prompt }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -880,
          -224
        ],
        "id": "73068e44-3a39-4b8e-bcf6-144fb18e80d0",
        "name": "Image Prompt"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b5346dc9-b2c3-405d-aa78-a844b4332cd9",
                "name": "image",
                "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          -224
        ],
        "id": "a2226245-fba6-4869-8770-14eb4e3e0e40",
        "name": "Result"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.data.state }}",
                      "rightValue": "success",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "5d365e2d-6c1d-48fd-b1e1-dc6ed403e684"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "success"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "b233b687-f81c-428e-bce7-459684a6a34b",
                      "leftValue": "={{ $json.data.state }}",
                      "rightValue": "=generating",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "generating"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "69d8ccbf-d327-4705-9159-b7be48f99e73",
                      "leftValue": "={{ $json.data.state }}",
                      "rightValue": "fail",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "fail"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "57e151fb-1b4c-4b5d-9f8d-40e62fc17388",
                      "leftValue": "={{ $json.data.state }}",
                      "rightValue": "waiting",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "waiting"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          16,
          -240
        ],
        "id": "9398aa65-699b-4824-b0fa-2ecf05a91874",
        "name": "Switch"
      },
      {
        "parameters": {
          "formTitle": "Nano Banana Pro",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Please describe your desired image:",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.3,
        "position": [
          -1200,
          -400
        ],
        "id": "f9d49218-554d-4228-979e-4ced697d25f9",
        "name": "On form submission1",
        "webhookId": "5d497fb1-28b2-4ead-9a13-ce674b850504",
        "disabled": true
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "prompt"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1088,
          -224
        ],
        "id": "9c72f241-a970-4fd3-a752-0469365f89a1",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          432,
          -224
        ],
        "id": "85eab133-c3ce-441a-83fd-2b010f457199",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -512,
          64
        ],
        "id": "ffe67f0a-4208-4ab1-a6cd-a873bc484a0a",
        "name": "Wait1",
        "webhookId": "9848e3b1-0965-4d55-bdb8-97b441fcfdd6",
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.kie.ai/api/v1/jobs/createTask",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer c58fb3ab497a524333c3837f53e73f5e"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.body }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -528,
          -224
        ],
        "id": "e0c69439-fc41-4652-bada-44a0e778bd0a",
        "name": "Create Image1"
      },
      {
        "parameters": {
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "taskId",
                "value": "={{ $json.data.taskId }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer c58fb3ab497a524333c3837f53e73f5e"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -352,
          64
        ],
        "id": "ab671aeb-47c5-4cb3-83f3-1a48d6f29840",
        "name": "Get Image1",
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "da65ddff-3d03-4e66-8b38-3074bc7f7093",
                "name": "prompt",
                "value": "={{ $json['Please describe your desired image:'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -832,
          64
        ],
        "id": "bb40b9d5-7eb0-4c87-9dea-0d2741911cca",
        "name": "Image Prompt1",
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b5346dc9-b2c3-405d-aa78-a844b4332cd9",
                "name": "image",
                "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          32,
          64
        ],
        "id": "62be60de-8801-46a0-93b3-66b92e1a317c",
        "name": "Result1",
        "disabled": true
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.data.state }}",
                      "rightValue": "success",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "5d365e2d-6c1d-48fd-b1e1-dc6ed403e684"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "success"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "b233b687-f81c-428e-bce7-459684a6a34b",
                      "leftValue": "={{ $json.data.state }}",
                      "rightValue": "generating",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "generating"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "69d8ccbf-d327-4705-9159-b7be48f99e73",
                      "leftValue": "={{ $json.data.state }}",
                      "rightValue": "fail",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "fail"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          -176,
          48
        ],
        "id": "3f777b75-4a79-4dd3-9b2c-c5b92baca2c3",
        "name": "Switch1",
        "disabled": true
      },
      {
        "parameters": {
          "formTitle": "Nano Banana Pro",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Please describe your desired image:",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.3,
        "position": [
          -1024,
          64
        ],
        "id": "a5215a46-e59a-4aea-89ca-72d570944845",
        "name": "On form submission",
        "webhookId": "329d6c97-2b7e-4eac-ab68-e68a524fcde0",
        "disabled": true
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Prepare Body (Function node)\nconst rawPrompt = String($json.prompt || \"\");\n\n// 1) Remove CR characters and other non-printable control chars (safe sanitizing)\nlet prompt = rawPrompt.replace(/\\r/g, \"\");                       // strip CR\nprompt = prompt.replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\");     // remove control chars\n\n// ⭐ 2) Replace all double quotes (straight & slanted) with single quotes\nprompt = prompt\n  .replace(/\"/g, \"'\")      // straight double quotes\n  .replace(/“/g, \"'\")      // left slanted curly quote\n  .replace(/”/g, \"'\");     // right slanted curly quote\n\n// 3) Optional: trim and normalize spaces\nprompt = prompt.trim().replace(/\\s{2,}/g, \" \");\n\n// 4) Build final body object\nconst body = {\n  model: \"nano-banana-pro\",\n  input: {\n    prompt: prompt,\n    aspect_ratio: \"1:1\",\n    resolution: \"4K\",\n    output_format: \"png\"\n  }\n};\n\n// ✅ Return a single object (not an array)\nreturn {\n  json: {\n    body\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -704,
          -224
        ],
        "id": "9769dfb6-4438-49a2-b6db-d29d81d2c44a",
        "name": "Code in JavaScript"
      }
    ],
    "connections": {
      "Wait": {
        "main": [
          [
            {
              "node": "Get Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Image": {
        "main": [
          []
        ]
      },
      "Get Image": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Image Prompt": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On form submission1": {
        "main": [
          []
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Image Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Result": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Get Image1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Image1": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Image1": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Image Prompt1": {
        "main": [
          []
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "Result1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On form submission": {
        "main": [
          [
            {
              "node": "Image Prompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Create Image1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Raf lakhani",
    "name": "Version 2046b48c",
    "description": "",
    "autosaved": false
  },
  "tags": []
}