Backup_2026-04-01/#Social Media Post Generation - RAH copy rida.json
{
  "updatedAt": "2026-02-21T21:07:36.944Z",
  "createdAt": "2025-10-18T20:52:43.035Z",
  "id": "FAH6RVU5JUe8q7Mo",
  "name": "#Social Media Post Generation - RAH copy rida",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        16
      ],
      "id": "c3de4cde-8cf0-4c8a-a82c-50d947b20edf",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate timely social media post ideas based on the information you can get from websites provided. ",
        "options": {
          "systemMessage": "You are an experienced social media content creator and brand voice specialist for Right at Home Winnipeg, a trusted in-home senior care agency.\nYour task: Create two social media posts — one for Instagram and one for Facebook — based on the provided topic and hashtags.\nInputs Provided:\nPost Topic: {{post_topic}}\n\n\nTop Hashtags: {{top_hashtags}}\n\n\nPrimary Reference Source:\nUse the content, language, and tone from https://www.rightathomecanada.com/winnipeg as your foundation.\n\n\nYou may reference insights from the general web only if they align with the services, values, and tone of Right at Home Winnipeg. Some good websites and resources include: https://www.rightathome.ca/winnipeg/news-events, https://www.rightathome.ca/winnipeg/blog, https://alzheimer.mb.ca/news/, https://agefriendlymanitoba.ca/news/,  https://www.wrha.mb.ca/news/, https://trends.google.com/trends/api/dailytrends\n\nSecondary Inspiration:\nDraw stylistic and structural inspiration from the Right at Home Surrey Instagram page (https://www.instagram.com/rightathomesurrey).\n\n\nThat page’s posts use friendly, emotionally engaging openings; soft emojis; clear, human-centered explanations; and warm calls to action.\n\nTone & Style Guidelines:\nWarm, compassionate, and community-focused.\n\n\nProfessional but conversational — sounding like a supportive local care provider.\n\n\nReflect the tone and sentence structure found on the Right at Home Winnipeg website and Instagram examples (e.g., thoughtful opening, subtle service highlight, friendly CTA).\n\n\nStructure (recommended flow):\nHook: Start with a timely, emotional, or relatable line (e.g., a play on words, seasonal tie-in, or thoughtful observation).\n\n\nValue: 1–2 sentences on the topic’s importance for seniors, families, or caregivers.\n\n\nBrand Tie-In: 1–2 sentences naturally connecting the topic to Right at Home Winnipeg’s services or resources (e.g., home care, companionship, mobility support).\n\n\nCall to Action: End with a friendly, brand-consistent closing line drawn from the website such as:\n\n\n“Visit our website to see how we can help you.”\n\n\n“Make your loved ones feel Right at Home.”\n\n\n“Learn more about our personalized care plans today.”\n\n\nPlatform Notes:\nInstagram: Engaging, community/wellness tone with emojis (optional but natural), about 100–150 words.\n\n\nFacebook: Friendly, locally relevant, and slightly more conversational, about 80–120 words.\n\n\nHashtags:\nAlways include the provided top hashtags ({{top_hashtags}}).\n\n\nAdd 2–4 additional relevant hashtags if fitting (e.g., #RightAtHomeWinnipeg, #SeniorCare, #AgingInPlace, etc.).\n\n\nOutput Format:\n Generate exactly one row with two columns:\nInsta: Instagram caption text\n\n\nFB: Facebook post text\n\n\n⛔ Do not generate more or fewer than 1 row.\nExample Tone Reference:\n “As the beautiful autumn leaves begin to fall, it’s a gentle reminder for us to think about keeping our homes as safe and steady for our loved ones. 🍁\nAt Right at Home Winnipeg, we know small changes can make a big difference when it comes to preventing falls — helping seniors maintain their independence and confidence every step of the way 👣.\nDownload the guide today and learn how to make your home a safer place this season. Visit our website to see the full resource!\n#fallprevention #seniorcarewinnipeg #homesafetytips #aginginplace #rightathomewinnipeg”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        944,
        16
      ],
      "id": "d161f611-944c-4506-a3be-614fa91f4b45",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        240
      ],
      "id": "26127ed2-af5b-4c8e-afce-440f2b688356",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1hQM1jncdzZV8NwGcEvpDVVC0o7GsDb7X7Dt3TkRc0f4",
          "mode": "list",
          "cachedResultName": "Social media automation rah copy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hQM1jncdzZV8NwGcEvpDVVC0o7GsDb7X7Dt3TkRc0f4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hQM1jncdzZV8NwGcEvpDVVC0o7GsDb7X7Dt3TkRc0f4/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Review Status"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        672
      ],
      "id": "cf8622f8-13de-4335-a53a-5d0c1b83b783",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ql7mNqYBd9UPLAJe",
          "name": "Google Sheets VA IT Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2cdd22b0-ffa6-4f87-a23d-ef061f1dcbd2",
              "leftValue": "={{ $json['Review Status'] }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -352,
        672
      ],
      "id": "76f22b0f-af53-4fe5-86db-17ecb5ae5ec1",
      "name": "Filter"
    },
    {
      "parameters": {
        "person": "9M8QZO77EU",
        "text": "={{ $json.Linkedin }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {
          "visibility": "CONNECTIONS"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        864,
        768
      ],
      "id": "7df359f9-4e2e-4134-89a1-6f72e40289a4",
      "name": "LinkedIn",
      "executeOnce": true,
      "alwaysOutputData": true,
      "retryOnFail": false,
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json['Image URL'] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        352
      ],
      "id": "3775ca9d-5ad5-46c7-810c-4329f4d5a2b9",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "\"**Adding Facebook Graph API Credential**\n\nhttps://komododecks.com/recordings/9Ww13y5XMIH3C5cdZuqB\n\nYou need the access token from Facebook to use this module. To get it, do the following:\n\n1. Go to https://developers.facebook.com/apps/\n2. Click on Create App button on the upper right.\n3. Fill out the form.\n4. Go to https://developers.facebook.com/tools/explorer/\n5. Select the Meta App you just created. \n6. Select the Page under User or Page. \n7. Set the necessary permissions. \n8. Click on Generate Access Token\n9. Extend the token access to make it useable for the next 2 months\n       ",
        "height": 520,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        -256
      ],
      "id": "22fad100-12b8-44f1-8cd0-6d693ae16dbe",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "**Adding LinkedIn Credential**\n\nConnect using Standard connection. Turn off Organization Support. \nLog in to your LinkedIn account. \n\nThis LinkedIn account is deactivated to avoid accidental posting on Jem's account. Replace this with another LinkedIn account.\n   ",
        "height": 180,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1568,
        784
      ],
      "id": "16b5b0d1-0acd-4bd9-9430-be17973b6b88",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hQM1jncdzZV8NwGcEvpDVVC0o7GsDb7X7Dt3TkRc0f4",
          "mode": "list",
          "cachedResultName": "Social media automation rah copy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hQM1jncdzZV8NwGcEvpDVVC0o7GsDb7X7Dt3TkRc0f4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hQM1jncdzZV8NwGcEvpDVVC0o7GsDb7X7Dt3TkRc0f4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Unique ID": "={{ $json['[\\'Unique ID\\']'] }}",
            "Review Status": "Posted",
            "Scheduled Post Date and Time": "={{ $json['Scheduled Post Date and Time'] || $json.Post_DateandTime}}"
          },
          "matchingColumns": [
            "Unique ID"
          ],
          "schema": [
            {
              "id": "Unique ID",
              "displayName": "Unique ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Topic Approval",
              "displayName": "Topic Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post_DateandTime",
              "displayName": "Post_DateandTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Insta",
              "displayName": "Insta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FB",
              "displayName": "FB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review Status",
              "displayName": "Review Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scheduled Post Date and Time",
              "displayName": "Scheduled Post Date and Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File ID",
              "displayName": "File ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1072,
        576
      ],
      "id": "ccadb9a1-7f81-4194-9e4d-8688fa7528df",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gdMjVhNcbLsjMrDP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hQM1jncdzZV8NwGcEvpDVVC0o7GsDb7X7Dt3TkRc0f4",
          "mode": "list",
          "cachedResultName": "Social media automation rah copy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hQM1jncdzZV8NwGcEvpDVVC0o7GsDb7X7Dt3TkRc0f4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hQM1jncdzZV8NwGcEvpDVVC0o7GsDb7X7Dt3TkRc0f4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post_DateandTime": "={{ DateTime.now().setZone('America/Winnipeg').toFormat('MMM dd, yyyy HH:mm') }}",
            "Linkedin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Linkedin', ``, 'string') }}",
            "Insta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Insta', ``, 'string') }}",
            "FB": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('FB', ``, 'string') }}",
            "Image URL": "=",
            "Unique ID": "={{ $('Edit Fields').item.json.unique_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Unique ID",
              "displayName": "Unique ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Topic Approval",
              "displayName": "Topic Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post_DateandTime",
              "displayName": "Post_DateandTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Insta",
              "displayName": "Insta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FB",
              "displayName": "FB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Review Status",
              "displayName": "Review Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Scheduled Post Date and Time",
              "displayName": "Scheduled Post Date and Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Header_Row', `Push the data in the next available row from the top`, 'number') }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1136,
        240
      ],
      "id": "fb8a5c6b-d5e7-4116-b2ed-46968bdb9c4d",
      "name": "Append row in sheet in Google Sheets",
      "executeOnce": true,
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "417710d4-48e5-4ae3-b30f-f427db5e186c",
              "name": "counter",
              "value": "=[1]",
              "type": "array"
            },
            {
              "id": "e10cd08e-24a4-4194-b7ef-eedb48dca7c6",
              "name": "unique_id",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        16
      ],
      "id": "dabdf015-1ca6-4971-8a92-3a40ead81690",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "counter",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        656,
        16
      ],
      "id": "59b0ab0f-650d-46c8-b330-b86ae1f8d2a3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Google Sheets Trigger').item.json.FB }}"
              },
              {
                "name": "link",
                "value": "={{ $('Google Sheets Trigger').item.json['Image URL'] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1328,
        400
      ],
      "id": "4734974d-c5eb-4540-812e-9406d571415a",
      "name": "Facebook Graph API2",
      "credentials": {
        "facebookGraphApi": {
          "id": "lxIgTBiTcGKwF1vI",
          "name": "Facebook Graph account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a highly detailed and photorealistic description of an image in Canadian setting that will be a great match for this post social media post: {{ $json.output }}\nInclude:\n\nThe main subject (person, object, or scene) with precise physical details.\n\nThe environment and background, specifying location, season, time of day, and weather.\n\nThe camera setup (real camera model, lens type, focal length, and shot type).\n\nLighting style (e.g., natural sunlight, golden hour glow, soft studio light).\n\nPhotographic effects (depth of field, bokeh, motion blur, HDR).\n\nExtra realism cues such as skin texture, fabric detail, reflections, shadows, and imperfections.\nOutput the prompt in a natural, continuous sentence that can be fed directly into DALL·E. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        816,
        -336
      ],
      "id": "17347614-3ffc-422f-9e46-599664064934",
      "name": "Message a model",
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.message.content }}",
        "options": {
          "dalleQuality": "standard",
          "size": "1792x1024",
          "style": "natural",
          "returnImageUrls": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1136,
        -336
      ],
      "id": "20538688-9580-473a-b476-c05c57c99c53",
      "name": "Generate an image",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the image URL of the image generated",
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', `This value should be generated by the AI agent following the JSON structure: \n\n{ \n\"prompt\": \"generate prompt\", \"n\": 1, \n\"size\": \"1024x1024\" \n}`, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1024,
        336
      ],
      "id": "9bfe1797-883a-4849-a3a3-dd3d7a8c7845",
      "name": "HTTP Request",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "fileName": "=SM-Image-{{ $now }}.png",
        "parentId": "01W3Z5GT64WWMWGEBUCRGLICT34EOLKBS3",
        "binaryData": true
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1600,
        -336
      ],
      "id": "b264582a-826c-4680-a59d-541116c872b0",
      "name": "Upload a file",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        -336
      ],
      "id": "2ef85bfe-19af-4779-a83a-a3ee7e471578",
      "name": "HTTP Request2",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        2288,
        32
      ],
      "id": "2e46fd3f-6e82-4e02-9a2b-81e566b95cb0",
      "name": "Upload a file1",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "=binary.data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2080,
        -128
      ],
      "id": "fc464549-20b7-4e2e-8bb9-9223bf9e6c9e",
      "name": "Split Out1",
      "disabled": true
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json['Formatted Date'] }}\n\n"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        368,
        672
      ],
      "id": "1f556f2e-4ef1-49b8-ad85-67df3c6bd24a",
      "name": "Wait",
      "webhookId": "148a2fac-9980-4781-90cd-0251dd6be057"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg",
          "mode": "list",
          "cachedResultName": "Social Media Automation-RAH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sma1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Linkedin": "=",
            "row_number": 0,
            "Unique ID": "={{ $('Edit Fields').item.json.unique_id }}",
            "Image URL": "={{ $json.link.webUrl }}"
          },
          "matchingColumns": [
            "Unique ID"
          ],
          "schema": [
            {
              "id": "Unique ID",
              "displayName": "Unique ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Topic Approval",
              "displayName": "Topic Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post_DateandTime",
              "displayName": "Post_DateandTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Insta",
              "displayName": "Insta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FB",
              "displayName": "FB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review Status",
              "displayName": "Review Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scheduled Post Date and Time",
              "displayName": "Scheduled Post Date and Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2544,
        16
      ],
      "id": "7af2c24f-c051-4ca0-b34c-98d47ddb1f4f",
      "name": "Update row in sheet1",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg",
          "mode": "list",
          "cachedResultName": "Social Media Automation-RAH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sma1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Post_DateandTime"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2480,
        -256
      ],
      "id": "bab37308-27d5-4d8b-9a0b-06fe7ca04cf9",
      "name": "Get row(s) in sheet",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Access all input items\nconst items = $input.all();\n\n// Process each item\nconst newItems = items.map(item => {\n  // Extract the scheduled date (assuming it's in Excel serial format)\n  const excelSerialDate = Number(item.json['Scheduled Post Date and Time']);\n  \n  // Convert Excel serial date to JavaScript Date\n  // Excel serial date starts from 1900-01-01 (25569 days after 1970-01-01)\n  const milliseconds = (excelSerialDate - 25569) * 86400 * 1000;\n  let date = new Date(milliseconds);\n  \n  // Add 5 hours\n  date.setHours(date.getHours() + 5);\n  \n  // Format the date to ISO 8601 string with timezone\n  const formattedDate = date.toISOString();\n  \n  // Return a new object with the original data plus the formatted date\n  return {\n    ...item.json,\n    'Formatted Date': formattedDate\n  };\n});\n\n// Return the array of processed items\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        672
      ],
      "id": "5cee590f-5013-41d7-8df3-3ad9697922c1",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": "={{ $json.id }}",
        "type": "view",
        "scope": "anonymous"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1808,
        -336
      ],
      "id": "d4f05016-2270-44f0-a67c-7b39e1118750",
      "name": "Share a file",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Unique ID']",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -144,
        672
      ],
      "id": "cac4af58-75bd-4f29-9afa-92bfb1ab184e",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "content": "- workflow triggered timely\n- ai agent generates right at home posts for multiple platforms and adds to row in google sheets\n- creates image prompt to go with post\n- image generation\n- image uploaded and saved as doc\n- doc share used to add image to sheet\n\n- once posts reviewed and review status changed in sheet, second workflow triggered\n- if approved, post fetched and posted on Facebook at specified time\n- status changed to posted in sheet",
        "height": 304,
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        864
      ],
      "id": "43687582-a895-49d6-bcaa-1a822850e7c1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 256,
        "width": 1312
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        -384
      ],
      "id": "341b0b12-47b6-49a5-907b-994612c7add4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XD7X1QrgxmQUdKcW",
          "mode": "list",
          "cachedResultName": "drive image retrieval"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1376,
        16
      ],
      "id": "326baff8-0982-40bb-a5bb-5e26c1271126",
      "name": "Call 'drive image retrieval'"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hQM1jncdzZV8NwGcEvpDVVC0o7GsDb7X7Dt3TkRc0f4",
          "mode": "list",
          "cachedResultName": "Social media automation rah copy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hQM1jncdzZV8NwGcEvpDVVC0o7GsDb7X7Dt3TkRc0f4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hQM1jncdzZV8NwGcEvpDVVC0o7GsDb7X7Dt3TkRc0f4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Unique ID": "={{ $('Edit Fields').item.json.unique_id }}",
            "Image URL": "={{ $json.webViewLink }}"
          },
          "matchingColumns": [
            "Unique ID"
          ],
          "schema": [
            {
              "id": "Unique ID",
              "displayName": "Unique ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Topic Approval",
              "displayName": "Topic Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post_DateandTime",
              "displayName": "Post_DateandTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Insta",
              "displayName": "Insta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FB",
              "displayName": "FB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Review Status",
              "displayName": "Review Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scheduled Post Date and Time",
              "displayName": "Scheduled Post Date and Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "File ID",
              "displayName": "File ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1600,
        16
      ],
      "id": "348334cb-d391-4a77-9f86-85653b534887",
      "name": "Update row in sheet2"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "me",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $json['Image URL'] }}"
              },
              {
                "name": "published",
                "value": "true"
              },
              {
                "name": "caption",
                "value": "={{ $json.FB }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        848,
        464
      ],
      "id": "9477bcb7-18ed-4be1-a534-f631b73a94f8",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "lxIgTBiTcGKwF1vI",
          "name": "Facebook Graph account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## calls image retrieval workflow to attach rah images in folder to post\n",
        "height": 176,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2048,
        368
      ],
      "id": "e93290b6-bc9d-4b1b-9b04-c7eb8ede067d",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Call 'drive image retrieval'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        []
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Share a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share a file": {
      "main": [
        []
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'drive image retrieval'": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e861e5d6-55a3-4612-9580-fba75e6105b8",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-18T20:52:43.041Z",
      "createdAt": "2025-10-18T20:52:43.041Z",
      "role": "workflow:owner",
      "workflowId": "FAH6RVU5JUe8q7Mo",
      "projectId": "Ata3MFLKCxwgGTPX"
    }
  ],
  "activeVersion": null,
  "tags": []
}