Backup_2026-03-30/RAG Agents Exploring.json
{
  "updatedAt": "2025-09-26T00:55:57.000Z",
  "createdAt": "2025-09-14T01:39:30.434Z",
  "id": "e0vDXJ1Pm2xA69SE",
  "name": "RAG Agents Exploring",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        544
      ],
      "id": "8f153887-6f94-41c7-99da-94a75b6f331a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        464,
        544
      ],
      "id": "4b140c54-09e5-4960-9fe9-430121dbc862",
      "name": "Supabase Vector Store"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        752
      ],
      "id": "d59e2545-a76a-430b-9e9b-777e11b147b3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        352
      ],
      "id": "fc88ef8f-8d75-4000-86ff-368396ed2161",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "OhcxKqaJMIt2UKDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "=You are a helpful assistant for Anago Cleaning that drafts an email reply to each new email sent to the gmail account inbox. You use the Supabase Vector tool to see if there is any information you can provide about Anago Cleaning or its services. \n\nYou follow the standard format in writing an email starting with the salutation using their first name (example, Hello [first name], [first name] is replaced by the first word in {{ $json.From }}) and then draft your reply. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -48,
        -64
      ],
      "id": "82e07cef-fb8e-4efc-b549-f16b22f17b39",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        144
      ],
      "id": "38a68539-f4b9-463d-a111-d04df151808c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OhcxKqaJMIt2UKDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to look up information about Anago",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        112,
        192
      ],
      "id": "8ccf88a7-81ec-492a-b003-10df38d17802",
      "name": "Supabase Vector Store1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        -64
      ],
      "id": "778869c7-6603-4f64-a344-d5c4fa7df483",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "3hqtCAi1EGcgg76C",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "="
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -96,
        192
      ],
      "id": "ad14fccf-3e7d-4da0-8e51-4e6d0450dac6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re:  {{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.output }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        352,
        -64
      ],
      "id": "56cd2e0a-3808-4a8b-b5cb-182d56a66d23",
      "name": "Create a draft",
      "webhookId": "01822fa6-0986-4288-acf8-6accae10208f",
      "credentials": {
        "gmailOAuth2": {
          "id": "3hqtCAi1EGcgg76C",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1xrYGb6Fykt3pKPlcLfR6JbGI85yeRO03",
          "mode": "list",
          "cachedResultName": "RAG Test File.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1xrYGb6Fykt3pKPlcLfR6JbGI85yeRO03/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        112,
        544
      ],
      "id": "44bce744-f5a2-449d-b2b0-8ab29a5f9f6f",
      "name": "Download file"
    },
    {
      "parameters": {
        "content": "- checks for new unread emails every minute\n- agent takes incoming email and uses supabase Anago documents to put together a relevant response email \n- email text saved to outlook drafts\n\n- addition workflow, manually triggered\n- downloads files and adds to supabase documents",
        "height": 192,
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        832
      ],
      "id": "9572ffe0-d764-452f-9c4f-b0ad83729364",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1824,
        -528
      ],
      "id": "69217140-5fe5-48a5-8547-e1194d2c5603",
      "name": "When chat message received",
      "webhookId": "dc1f8a46-1b2e-4f6a-9da7-47691a651561"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2160,
        -512
      ],
      "id": "26220b16-c727-406c-afbf-8decff0b4ed2",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "content": "## Postgres credential should be added in the node and link it to the ai agent to have memory\n\nWatch https://www.youtube.com/watch?v=cCD303XsUjI starting at 18:18 to see how it's done",
        "height": 560,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1984,
        -912
      ],
      "id": "f83618d0-b4f1-4633-9721-68e3fbae2240",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "watchFolder": true,
        "folderId": {
          "__rl": true,
          "value": "01W3Z5GT7OY4DRSOPQS5AIJ4NZTVBZQMFS",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOneDriveTrigger",
      "typeVersion": 1,
      "position": [
        1856,
        -128
      ],
      "id": "7df17e21-8130-493b-bcdd-758eabf28c34",
      "name": "Microsoft OneDrive Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a2c4d87-41fa-4ae0-a05b-9c9c4b263ccc",
              "leftValue": "={{ $json.name }}",
              "rightValue": "RAG",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2064,
        -128
      ],
      "id": "cd7f455a-7b5f-4680-8c99-42d29d1a778a",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        2272,
        -128
      ],
      "id": "e8ee29d6-406e-471e-988c-92fe015deb85",
      "name": "Download a file"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2496,
        -128
      ],
      "id": "27205a29-8f56-4b34-bb33-a488796ef6f5",
      "name": "Supabase Vector Store2"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2752,
        112
      ],
      "id": "8174617e-d03e-45f0-bc82-66731ffc0d58",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2368,
        -304
      ],
      "id": "2e9c8b83-a8fd-42ad-a451-fd5dc5e083e8",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "OhcxKqaJMIt2UKDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant for Anago Cleaning. You help direct customers to Anago and match what they are looking for to services that Anago provides based on the Supabase vector tool provided."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2064,
        -720
      ],
      "id": "7a2ba066-d8ea-4a35-9f26-df0aafabe49c",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2032,
        -512
      ],
      "id": "46908c56-ba2a-4141-a958-b8cbd4b1a0b5",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "OhcxKqaJMIt2UKDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to look up information about Anago to answer the questions in the chat and provide information about the services provided by Anago",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2288,
        -496
      ],
      "id": "3b2eec39-5fa5-4a84-93e2-9686689544d8",
      "name": "Supabase Vector Store3"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1xrYGb6Fykt3pKPlcLfR6JbGI85yeRO03",
          "mode": "list",
          "cachedResultName": "RAG Test File.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1xrYGb6Fykt3pKPlcLfR6JbGI85yeRO03/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1552,
        -320
      ],
      "id": "73294aac-3137-4bf4-a638-62ef0ba9567f",
      "name": "Download file1"
    },
    {
      "parameters": {
        "content": "- triggered on chat message received\n- agent takes incoming message and uses supabase Anago documents to generate response\n\n- addition workflow, triggered when new file created in one drive\n- if rag file, downloads files and adds to supabase documents",
        "height": 224,
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1904,
        400
      ],
      "id": "fbdb85d3-8e76-4b07-9d15-d1ff7abdcaae",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f55da7f6-b4c0-4c63-a3c9-db34ed7f4f97",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-14T01:39:30.437Z",
      "createdAt": "2025-09-14T01:39:30.437Z",
      "role": "workflow:owner",
      "workflowId": "e0vDXJ1Pm2xA69SE",
      "projectId": "Fb7bbcgiQzvFuU2R"
    }
  ],
  "activeVersion": null,
  "tags": []
}