Backup_2026-03-30/Social Media Post Generation - RAH duplicate.json
{
  "updatedAt": "2025-09-15T20:08:51.000Z",
  "createdAt": "2025-09-15T20:06:51.508Z",
  "id": "ng1dNxlIJ3dJ4vjd",
  "name": "Social Media Post Generation - RAH duplicate",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2272,
        272
      ],
      "id": "c758a249-7e95-4bff-969b-5c0ca26fe50e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate timely social media post ideas based on the information you can get from websites provided. ",
        "options": {
          "systemMessage": "You are a helpful researcher and social media content writer. You analyze and summarize content provided by external sources. Use the content from the following websites as reference:\n\nhttps://www.rightathome.ca/winnipeg/news-events\n\nhttps://www.rightathome.ca/winnipeg/blog\n\nhttps://alzheimer.mb.ca/news/\n\nhttps://agefriendlymanitoba.ca/news/\n\nhttps://www.wrha.mb.ca/news/\n\nhttps://trends.google.com/trends/api/dailytrends\n\nBased on summaries or extracted content from these sources (assume relevant insights are available), generate one social media content for each:\n\nLinkedIn post – written in a professional and informative tone.\n\nInstagram caption – written in an engaging and community- or wellness-focused tone.\n\nFacebook post – written in a friendly, conversational, and locally relevant tone.\n\nEach post should:\n\nBe relevant and timely.\n\nSubtly promote the services of Right at Home Winnipeg and direct them to https://www.rightathomecanada.com/winnipeg website.\n\nBe consistent with your tone to follow similar messaging and format as below:\n\n\"Grandparent-grandchild relationships can boost mental sharpness, reduce loneliness, and build resilience across generations. \nFrom shared stories to caregiving roles, these bonds offer real health benefits for both young and old.\nHere are practical tips to strengthen the connection and improve well-being at any age.\n\n#AgingInPlace #SeniorCare #IndependentLiving #HomeCareSupport #ElderCare #HomeCare #Caregiving\"\n\n\n\n\nFinally, push each post as one row in a Google Sheet tool in the following columns:\n\nLinkedin – for the LinkedIn post\n\nInsta – for the Instagram caption\n\nFB – for the Facebook post\n\n\n⛔ Do not generate more or fewer than 1 row."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1536,
        272
      ],
      "id": "110acad7-98cb-4c20-9446-fc9737cb4ac7",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1600,
        496
      ],
      "id": "38f694fd-57a8-4ffd-ac05-35eafd13c6e1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OhcxKqaJMIt2UKDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg",
          "mode": "list",
          "cachedResultName": "Social Media Automation-RAH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sma1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Review Status"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -3120,
        928
      ],
      "id": "6a1a9d75-4965-4d89-be0c-432759bb4958",
      "name": "Google Sheets Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2cdd22b0-ffa6-4f87-a23d-ef061f1dcbd2",
              "leftValue": "={{ $json['Review Status'] }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2832,
        928
      ],
      "id": "b932b7e3-9ed4-44ce-aaf5-a9fc3e997d05",
      "name": "Filter"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "me",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $json['Image URL'] }}"
              },
              {
                "name": "published",
                "value": "true"
              },
              {
                "name": "caption",
                "value": "={{ $json.FB }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1824,
        832
      ],
      "id": "0cce5f10-a3c0-4073-9116-c533bf3669e3",
      "name": "Facebook Graph API"
    },
    {
      "parameters": {
        "person": "9M8QZO77EU",
        "text": "={{ $json.Linkedin }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {
          "visibility": "CONNECTIONS"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -1824,
        1024
      ],
      "id": "48bd7764-564c-4255-b451-748c87cfd16a",
      "name": "LinkedIn",
      "executeOnce": true,
      "alwaysOutputData": true,
      "retryOnFail": false,
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json['Image URL'] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2272,
        608
      ],
      "id": "f6fe3917-cc1e-4d62-b5a8-3c2cca81426e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "content": "\"**Adding Facebook Graph API Credential**\n\nhttps://komododecks.com/recordings/9Ww13y5XMIH3C5cdZuqB\n\nYou need the access token from Facebook to use this module. To get it, do the following:\n\n1. Go to https://developers.facebook.com/apps/\n2. Click on Create App button on the upper right.\n3. Fill out the form.\n4. Go to https://developers.facebook.com/tools/explorer/\n5. Select the Meta App you just created. \n6. Select the Page under User or Page. \n7. Set the necessary permissions. \n8. Click on Generate Access Token\n9. Extend the token access to make it useable for the next 2 months\n       ",
        "height": 520,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2784,
        80
      ],
      "id": "2b99f2ac-743f-4d91-8b7e-aaca20373068",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "**Adding LinkedIn Credential**\n\nConnect using Standard connection. Turn off Organization Support. \nLog in to your LinkedIn account. \n\nThis LinkedIn account is deactivated to avoid accidental posting on Jem's account. Replace this with another LinkedIn account.\n   ",
        "height": 180,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -912,
        1040
      ],
      "id": "e606078d-157a-41ae-b87f-8bb3330b39b3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg",
          "mode": "list",
          "cachedResultName": "Social Media Automation-RAH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sma1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Linkedin": "={{ $('Google Sheets Trigger').item.json.Linkedin }}",
            "Review Status": "Posted"
          },
          "matchingColumns": [
            "Linkedin"
          ],
          "schema": [
            {
              "id": "Websites",
              "displayName": "Websites",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic Approval",
              "displayName": "Topic Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post_DateandTime",
              "displayName": "Post_DateandTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Insta",
              "displayName": "Insta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FB",
              "displayName": "FB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review Status",
              "displayName": "Review Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1280,
        832
      ],
      "id": "ab15d5e4-437f-4c04-beab-8497e3ae3c0d",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sma1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post_DateandTime": "={{ DateTime.now().setZone('America/Winnipeg').toFormat('MMM dd, yyyy HH:mm') }}",
            "Linkedin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Linkedin', ``, 'string') }}",
            "Insta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Insta', ``, 'string') }}",
            "FB": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('FB', ``, 'string') }}",
            "Image URL": "=",
            "Unique ID": "={{ $('Edit Fields').item.json.unique_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Unique ID",
              "displayName": "Unique ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Topic Approval",
              "displayName": "Topic Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post_DateandTime",
              "displayName": "Post_DateandTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Insta",
              "displayName": "Insta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FB",
              "displayName": "FB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Review Status",
              "displayName": "Review Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Scheduled Post Date and Time",
              "displayName": "Scheduled Post Date and Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Header_Row', `Push the data in the next available row from the top`, 'number') }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -1344,
        496
      ],
      "id": "15bd92bc-295c-451b-a1b2-7a25ad9d5a7a",
      "name": "Append row in sheet in Google Sheets",
      "executeOnce": true,
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "417710d4-48e5-4ae3-b30f-f427db5e186c",
              "name": "counter",
              "value": "=[1]",
              "type": "array"
            },
            {
              "id": "e10cd08e-24a4-4194-b7ef-eedb48dca7c6",
              "name": "unique_id",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2048,
        272
      ],
      "id": "93d37155-2e69-4aab-906a-e7fef94498b2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "counter",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1824,
        272
      ],
      "id": "6a41829b-59a8-4dcc-8be6-21856dcd05c4",
      "name": "Split Out"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Google Sheets Trigger').item.json.FB }}"
              },
              {
                "name": "link",
                "value": "={{ $('Google Sheets Trigger').item.json['Image URL'] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1152,
        656
      ],
      "id": "1bdf2914-284b-46f2-a256-67c3e2ff0981",
      "name": "Facebook Graph API2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a highly detailed and photorealistic description of an image in Canadian setting that will be a great match for this post social media post: {{ $json.output }}\nInclude:\n\nThe main subject (person, object, or scene) with precise physical details.\n\nThe environment and background, specifying location, season, time of day, and weather.\n\nThe camera setup (real camera model, lens type, focal length, and shot type).\n\nLighting style (e.g., natural sunlight, golden hour glow, soft studio light).\n\nPhotographic effects (depth of field, bokeh, motion blur, HDR).\n\nExtra realism cues such as skin texture, fabric detail, reflections, shadows, and imperfections.\nOutput the prompt in a natural, continuous sentence that can be fed directly into DALL·E. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1184,
        272
      ],
      "id": "8ba84af2-42c4-4f20-8221-397b66ab2a5e",
      "name": "Message a model",
      "executeOnce": false,
      "credentials": {
        "openAiApi": {
          "id": "OhcxKqaJMIt2UKDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.message.content }}",
        "options": {
          "dalleQuality": "standard",
          "size": "1792x1024",
          "style": "natural",
          "returnImageUrls": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -832,
        272
      ],
      "id": "ff6bf453-5c65-4574-83c2-bb80d2ca1c4b",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "OhcxKqaJMIt2UKDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the image URL of the image generated",
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', `This value should be generated by the AI agent following the JSON structure: \n\n{ \n\"prompt\": \"generate prompt\", \"n\": 1, \n\"size\": \"1024x1024\" \n}`, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -1472,
        576
      ],
      "id": "7c550228-bc9c-4b01-9e46-17ae5b59e5fe",
      "name": "HTTP Request",
      "executeOnce": true,
      "credentials": {
        "openAiApi": {
          "id": "OhcxKqaJMIt2UKDI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fileName": "=SM-Image-{{ $now }}.png",
        "parentId": "01W3Z5GT64WWMWGEBUCRGLICT34EOLKBS3",
        "binaryData": true
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -368,
        272
      ],
      "id": "7c9613b2-ced1-419a-8543-f8e4fd313f73",
      "name": "Upload a file"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        272
      ],
      "id": "08504aed-acc8-4f9b-a569-6f349ba8f74e",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=binary.data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -400,
        128
      ],
      "id": "9fd4754c-3eaa-4b53-9fc2-7478badce682",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json['Formatted Date'] }}\n\n"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2112,
        928
      ],
      "id": "3ee08d1b-f626-4fa5-8d2e-c3ebf6b6b831",
      "name": "Wait",
      "webhookId": "53977ff3-5ade-4d7b-b394-da7d500972f9"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg",
          "mode": "list",
          "cachedResultName": "Social Media Automation-RAH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sma1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Linkedin": "=",
            "row_number": 0,
            "Unique ID": "={{ $('Edit Fields').item.json.unique_id }}",
            "Image URL": "={{ $json.link.webUrl }}"
          },
          "matchingColumns": [
            "Unique ID"
          ],
          "schema": [
            {
              "id": "Unique ID",
              "displayName": "Unique ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Topic Approval",
              "displayName": "Topic Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post_DateandTime",
              "displayName": "Post_DateandTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Insta",
              "displayName": "Insta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FB",
              "displayName": "FB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review Status",
              "displayName": "Review Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scheduled Post Date and Time",
              "displayName": "Scheduled Post Date and Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        64,
        272
      ],
      "id": "b02fd140-f68a-4c9a-a37c-9fbc7c33bdda",
      "name": "Update row in sheet1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg",
          "mode": "list",
          "cachedResultName": "Social Media Automation-RAH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sma1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EJaVxn5LuT1BK1ib7tYiWgTwPM_UBJQ41ciF6KdN7Jg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Post_DateandTime"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "6815bf1c-7ba6-4463-822f-a81ddba329d6",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "jsCode": "// Access all input items\nconst items = $input.all();\n\n// Process each item\nconst newItems = items.map(item => {\n  // Extract the scheduled date (assuming it's in Excel serial format)\n  const excelSerialDate = Number(item.json['Scheduled Post Date and Time']);\n  \n  // Convert Excel serial date to JavaScript Date\n  // Excel serial date starts from 1900-01-01 (25569 days after 1970-01-01)\n  const milliseconds = (excelSerialDate - 25569) * 86400 * 1000;\n  let date = new Date(milliseconds);\n  \n  // Add 5 hours\n  date.setHours(date.getHours() + 5);\n  \n  // Format the date to ISO 8601 string with timezone\n  const formattedDate = date.toISOString();\n  \n  // Return a new object with the original data plus the formatted date\n  return {\n    ...item.json,\n    'Formatted Date': formattedDate\n  };\n});\n\n// Return the array of processed items\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        928
      ],
      "id": "13ffde28-2f0d-4980-9b6f-e9e146643b58",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": "={{ $json.id }}",
        "type": "view",
        "scope": "anonymous"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -160,
        272
      ],
      "id": "bce528c7-4bf1-489f-9dd1-dc8f9fb7a3da",
      "name": "Share a file"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Unique ID']",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2624,
        928
      ],
      "id": "94742322-7928-4315-9394-bc281f8804a1",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "content": "- workflow triggered timely\n- ai agent generates right at home posts for multiple platforms and adds to row in google sheets\n- creates image prompt to go with post\n- image generation\n- image uploaded and saved as doc\n- doc share used to add image to sheet\n\n- once posts reviewed and review status changed in sheet, second workflow triggered\n- if approved, post fetched and posted on Facebook at specified time\n- status changed to posted in sheet",
        "height": 304,
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1472,
        1120
      ],
      "id": "8e995860-ffad-484a-9ea5-c59ac6ecb75b",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Share a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share a file": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-08-12T10:11:46.933-05:00",
          "Readable date": "August 12th 2025, 10:11:46 am",
          "Readable time": "10:11:46 am",
          "Day of week": "Tuesday",
          "Year": "2025",
          "Month": "August",
          "Day of month": "12",
          "Hour": "10",
          "Minute": "11",
          "Second": "46",
          "Timezone": "America/Winnipeg (UTC-05:00)"
        }
      }
    ]
  },
  "versionId": "ceb2e77e-7192-4fc0-9dcc-f700e874a961",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-15T20:06:51.511Z",
      "createdAt": "2025-09-15T20:06:51.511Z",
      "role": "workflow:owner",
      "workflowId": "ng1dNxlIJ3dJ4vjd",
      "projectId": "Fb7bbcgiQzvFuU2R"
    }
  ],
  "activeVersion": null,
  "tags": []
}