Backup_2026-04-05/Review Message Sending Automation.json
{
  "updatedAt": "2026-03-22T22:03:01.657Z",
  "createdAt": "2026-03-22T21:50:16.384Z",
  "id": "JFNi0UagGRr9N0Pi",
  "name": "Review Message Sending Automation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4fe16b79-5cf5-4ea6-a446-9d1397c1fae9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LBvDwkwmZfEtRtlUZkW-MJVpQxa6hhgngy39dbiFZmw",
          "mode": "list",
          "cachedResultName": "review automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LBvDwkwmZfEtRtlUZkW-MJVpQxa6hhgngy39dbiFZmw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LBvDwkwmZfEtRtlUZkW-MJVpQxa6hhgngy39dbiFZmw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "eac108f3-aa50-4fee-a0a0-cf36ccab5145",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gdMjVhNcbLsjMrDP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2063884b-9663-4ecb-8b01-3346ed247168",
              "leftValue": "={{ $json['Review msg status'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "522a148c-0c62-407f-8802-a2b4dc2304d6",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        -16
      ],
      "id": "e3311ee1-e487-4925-935f-e820a3bca435",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.Email }}",
        "subject": "Leave a Google Review for [Company-Name]!",
        "bodyContent": "=Hey {{ $json.Name }},\nPlease leave a google review here: \nThanks, \nThe [Company-Name] Team",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        896,
        80
      ],
      "id": "5c52f626-e8ba-4d9b-8eb3-164cd09f1d13",
      "name": "Send a message",
      "webhookId": "6f18d2f6-9889-49dc-9bed-ab5de55840b9",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "Tv5prCQ657lCv1Co",
          "name": "Rida Anago Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LBvDwkwmZfEtRtlUZkW-MJVpQxa6hhgngy39dbiFZmw",
          "mode": "list",
          "cachedResultName": "review automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LBvDwkwmZfEtRtlUZkW-MJVpQxa6hhgngy39dbiFZmw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LBvDwkwmZfEtRtlUZkW-MJVpQxa6hhgngy39dbiFZmw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Loop Over Items').item.json.Email }}",
            "Review msg status": "SENT"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date of Visit",
              "displayName": "Date of Visit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Review msg status",
              "displayName": "Review msg status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Clicked or not",
              "displayName": "Clicked or not",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "2nd msg",
              "displayName": "2nd msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        80
      ],
      "id": "2ff78d6a-2967-4ba9-92bb-4eef6d54ccd1",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gdMjVhNcbLsjMrDP",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Get row(s) in sheet": [
      {
        "json": {
          "row_number": 2,
          "Name": "Rida",
          "Email": "rida@anagomb.ca",
          "Date of Visit": "Mar-22",
          "Review msg status": "",
          "Clicked or not": "",
          "2nd msg": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "1db87a8f-58b5-4f77-82ac-c314312c044a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-22T21:50:16.389Z",
      "createdAt": "2026-03-22T21:50:16.389Z",
      "role": "workflow:owner",
      "workflowId": "JFNi0UagGRr9N0Pi",
      "projectId": "Ata3MFLKCxwgGTPX"
    }
  ],
  "activeVersion": null,
  "tags": []
}